<apex:page standardController="AxtriaSalesIQTM__Change_Request__c"  recordSetVar="risks" extensions="BulkAction">
<apex:slds />
    <div class="scope">
    <apex:includeScript value="{!URLFOR($Resource.ajax,'jquery.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.ajax,'jquery-ui.min.js')}" />
    <script>
        var loggedInUserId = '{!$User.Id}';
        console.log('logged in user Id --'+loggedInUserId);
        var approverOneList = '{!approverOneList}';
        var approverTwoList = '{!approverTwoList}';
        console.log('approverOneList--'+approverOneList);
        console.log('approverTwoList--'+approverTwoList);
        /*if(approverOneList.indexOf(loggedInUserName) == -1 || approverTwoList.indexOf(loggedInUserName) == -1) { 
            alert('You do not have sufficient permissions to perform this operation');
            goBack();
        }*/
        /*When the user has selected some/all pending CRs for which he is not the assigned approver*/
        /*When the user has not seleted either any CR or any pending CR*/
        console.log('recordSize--'+{!recordSize});
        console.log('dml_size--'+{!dml_size});
        console.log('countActorId--'+{!countActorId});
        if({!recordSize}==0) {
            alert("{!$Label.axtriaarsnt__selecting_no_pending_cr}");
            goBack();
        }
        else if({!dml_size}>9999){
            alert("{!$Label.axtriaarsnt__governer_limits_breached}");
            goBack();
        }
        else if({!countActorId}==0) { 
            alert("{!$Label.axtriaarsnt__not_assigned_approver}");
            goBack();
        }
        /*When the user has selecte some/all pending CRs an for some he is the approve and for others he is not*/
        else if({!countActorId}!=0 && {!countActorId}<{!recordSize}) { 
            console.log('in second if--');
            alert("{!$Label.axtriaarsnt__select_assigned_cr}");
            goBack();
        }
        
        function goBack()
        {
            console.log('inside back function');
            window.history.back();
        } 
        
    </script>

    
    <apex:form >
        <apex:outputPanel rendered="{!showPopUp}">
            <div class="demo-only" style="height: 640px;">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                                </svg>
                                <span class="slds-assistive-text">{!$Label.Close}</span>
                            </button>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{!$Label.Approve_CRs}</h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <p>{!$Label.Approver_Comments} <input type="text" id = "getReasonCode" />
                        </p>
                        </div>
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_neutral" onclick="goBack();">{!$Label.AxtriaSalesIQTM__Cancel}</button>
                            <button type="button" class="slds-button slds-button_brand" onClick="callControllerFunc('Approve');">{!$Label.Approve_All}</button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
        </apex:outputPanel>
        
        <!--Please Select a Reason Code :- <input type="text" id = "getReasonCode" />
    
        <button type="button" onClick="callControllerFunc('Reject');">Reject All </button>-->
        
        <apex:actionFunction name="approveAll" action="{!approveAll}" oncomplete="window.location.reload(true);">
            <apex:param name="reasonCode" assignTo="{!reasonCode}" value=""/>
        </apex:actionFunction>
        
        <script>
            function callControllerFunc(requestStatus)
            {
                var selectedReasonCode = $("[id$='getReasonCode']").val();
                
                console.log('Hey Selected Reason Code is ');
                console.log(selectedReasonCode);
                approveAll(selectedReasonCode); 
            }
        </script>
    </apex:form>
    </div>
</apex:page>