<apex:page Sidebar="false"  tabStyle="Business_Rule_list__tab" controller="Busness_Rule_List_Ctrl" docType="html-5.0">
  <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
    <apex:slds />
    <c:SLDSPageMessage id="pgMsg" pageMessages="{!PageMessages}" style="position:absolute;margin-top: 2%;margin-left:30%" />
    <apex:stylesheet value="{!$Resource.SnTCss}"/>
    <apex:stylesheet value="{!URLFor($Resource.font_awesome, 'css/font-awesome.css')}"/>
    <apex:includeScript value="{!$Resource.jquery_1_12_4_min}" />
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'jquery.dataTables.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'dataTables.fixedColumns.min.js')}" />
    <!--
    <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" />
    <apex:includeScript value="//cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js" />
-->
    <apex:includeScript value="{!URLFOR($Resource.ajax1,'moment.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.plugin1,'datetime-moment.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.dataTables,'jquery.dataTables.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.MultiSelect_Picklist,'/MultiSelect_Picklist/jquery.multiselect.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.MultiSelect_Picklist,'/MultiSelect_Picklist/jquery.multiselect.js')}" />
    <style>
        /*.dataTables_scrollBody{height:calc(100vh - 235px) !important;}*/
         .dataTables_wrapper .dataTables_filter { margin-bottom: 7px;}
             .zoom8 .dataTables_scrollBody{height:calc(100vh - 70px) !important;}
    .zoom1 .dataTables_scrollBody{height:calc(100vh - 197px) !important;}
        .zoom12 .dataTables_scrollBody{height:calc(100vh - 370px) !important;}
    .dataTables_scrollBody {overflow: overlay !important;}
</style>
<script>

window.onload = function(){
    var body = document.body,
    html = document.documentElement;
    var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
    var width = Math.max(body.scrollWidth, body.offsetWidth, html.clientWidth, html.scrollWidth, html.offsetWidth );
    var ratio =  window.devicePixelRatio;

    if(ratio == 1){
        document.getElementById("myDIV").style.zoom = 1;
        document.getElementById("myDIV").classList.remove("zoom8");
        document.getElementById("myDIV").classList.remove("zoom12");
        document.getElementById("myDIV").classList.add("zoom1");
    }

    else if(ratio > 1){
        document.getElementById("myDIV").style.zoom = .8;
        document.getElementById("myDIV").classList.remove("zoom1");
        document.getElementById("myDIV").classList.remove("zoom12");
        document.getElementById("myDIV").classList.add("zoom8");
    }

    else{
        document.getElementById("myDIV").style.zoom = 1.2;
        document.getElementById("myDIV").classList.remove("zoom1");
        document.getElementById("myDIV").classList.remove("zoom8");
        document.getElementById("myDIV").classList.add("zoom12");
    }
} 

window.onresize = function(){
    var body = document.body,
    html = document.documentElement;
    var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
    var width = Math.max(body.scrollWidth, body.offsetWidth, html.clientWidth, html.scrollWidth, html.offsetWidth );
    var ratio =  window.devicePixelRatio;

    if(ratio == 1){
        document.getElementById("myDIV").style.zoom = 1;
        document.getElementById("myDIV").classList.remove("zoom8");
        document.getElementById("myDIV").classList.remove("zoom12");
        document.getElementById("myDIV").classList.add("zoom1");
    }

    else if(ratio > 1){
        document.getElementById("myDIV").style.zoom = .8;
        document.getElementById("myDIV").classList.remove("zoom1");
        document.getElementById("myDIV").classList.remove("zoom12");
        document.getElementById("myDIV").classList.add("zoom8");
    }

    else{
        document.getElementById("myDIV").style.zoom = 1.2;
        document.getElementById("myDIV").classList.remove("zoom1");
        document.getElementById("myDIV").classList.remove("zoom8");
        document.getElementById("myDIV").classList.add("zoom12");
    }        
}
</script>
    <apex:form >
        <apex:actionstatus id="status">
            <apex:facet name="start">
                <div class="slds-spinner_container slds-is-fixed">
                    <div role="status" class="slds-spinner slds-spinner_medium">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>
        <div class="slds-scope" id="myDIV">
            <!--<apex:outputPanel id="pgMsg">
                <apex:pageMessages />
            </apex:outputPanel>-->
            <div class="slds-page-header  slds-p-around_x-small"> 
                <div class="slds-media">
                    <div class="slds-media__figure">
                         <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-opportunity">
                            <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                              <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#opportunity')}" />
                            </svg>
                            </span>
                        </div>
                       <!--  <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                        <i class="fa fa-table" aria-hidden="true"></i>
                        </span> -->
                    </div>
                    <div class="slds-media__body">
                        <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="View Business Rule List">{!$Label.titl_View_Business_Rule_List}</h1>
                        <apex:inputField value="{!Country.AxtriaSalesIQTM__Country_Flag__c}" /> 
                        &nbsp;
                        <apex:outputText value="{!Country.Name}"/> 
                        <!--<c:SLDSPageMessage id="pgMsg" PageMessages="{!PageMessages}"/>-->
                    </div>
                </div>
            </div>
            <div class=" slds-text-align_center" style="position: fixed; float: right; text-align: right; right: 10px; z-index: 1; margin-top:9px;">
                <apex:CommandButton value="{!$Label.axtriaarsnt__btn_new_business_rule}" action="{!newrule}" Styleclass="slds-button slds-button_brand"/>
                <!--<button id="checkStatus" onClick="checkstate(); return false;" value="check execution" label="check execution">check execution</button>-->
            </div>
            <div class=" slds-m-around_x-small">
                <div class="slds-scrollable" ><!-- style="width: calc(100vw - 10px);" -->
                    <apex:pageblock id="pgb1" mode="maindetail">
                        <table class="snt-table" role="grid" id="grid_list_table"></table>
                        <script type="text/javascript">
                                    var $j = jQuery.noConflict();
                                    var gridListTable;
                                    $j(document).ready(function() {
                                        gridListTable = $j('#grid_list_table').DataTable({
                                            "info":     false,
                                             "lengthChange": false,
                                             "pageLength": 50,
                                             "scrollX": true,
                                             "order": [
                                                    [8, "desc"]
                                                ],
                                            "data": {!ruleList},
                                            "columns":[
                                                        {title : 'ID', 'data': 'Id', 'defaultContent' : '', 'visible' : false, orderable:false},
                                                        {title : '{!$Label.gn_Action}', 'data': 'action', 'defaultContent' : '', orderable:false},
                                                        {title : '{!$Label.gn_Name}', 'data': 'name', 'defaultContent' : ''},
                                                        {title : '{!$Label.gn_Cycle}', 'data': 'cycle', 'defaultContent' : ''},
                                                        {title : '{!$Label.Business_Unit}', 'data': 'businessUnit', 'defaultContent' : ''},
                                                        {title : 'Line', 'data': 'line', 'defaultContent' : '', 'visible' : false},
                                                        {title : 'Product', 'data': 'product', 'defaultContent' : ''},
                                                        {title : 'Global Rule', 'data': 'isGlobal', 'defaultContent' : ''},
                                                        {title : '{!$Label.gn_LastUpdatedon}', 'data': 'createdOn'},
                                                        {title : '{!$Label.gn_LastUpdatedBy}', 'data': 'lastUpdatedBy', 'defaultContent' : ''},
                                                        {title : 'Status', 'data': 'Status', 'defaultContent' : ''},
                                                        {title : 'Results', 'data': 'preview', 'defaultContent' : ''},
                                                        {title : 'Comments', 'data': 'endUserErrorMsg', 'defaultContent' : '', 'visible' : false},
                                                        {title : 'isExecuted', 'data': 'isExecuted', 'defaultContent' : '', 'visible' : false, orderable:false},
                                                        {title : 'isPublished', 'data': 'isPublished', 'defaultContent' : '', 'visible' : false, orderable:false},
                                                        {title : 'downloadLink', 'data': 'downloadLink', 'defaultContent' : '', 'visible' : false, orderable:false}
                                                      ],
                                            "columnDefs" : [{
                                                    targets: 1,
                                                    render: function (data, type, row) {
                                                        var html ='';
                                                        if(row.isGlobal)
                                                        {
                                                             if(row.Status != 'In Progress')
                                                             html += '<a href="javascript:void(0);" onClick="clone(\''+row.Id+'\'); return false;">Clone</a>';
                                                            else
                                                            {
                                                                html += '<a href="javascript:void(0);" onClick="edit(\''+row.Id+'\'); return false;">Edit</a>';

                                                                html += '| <a href="javascript:void(0);" onClick="clone(\''+row.Id+'\'); return false;">Clone</a>'; 
                                                                
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if(row.Status == 'Executing' || row.Status == 'Publishing' || row.Status == 'Publishing to Alignment' || row.Status == 'In Queue' || row.Status == 'In Publishing Queue' || row.Status == 'In Publish To Alignment Queue'  ){
                                                                return '';
                                                            }
                                                            
                                                            html += '<a href="javascript:void(0);" onClick = "edit(\''+row.Id+'\');return false;">Edit</a>';
                                                            html += ' | <a href="javascript:void(0);" onClick="clone(\''+row.Id+'\'); return false;">Clone</a>';
                                                        
                                                            /*A1422*/
                                                            console.log('enableSimulation='+row.enableSimulation);
                                                            console.log('enablePublish='+row.enablePublish);
                                                            if(row.enableSimulation){
                                                                html += ' | <a onClick="showSimulatePopup(\''+row.Id+'\'); return false;">Simulate</a>';
                                                            }
                                                            if(row.enabledPushToAlignmentAtTeamInstance && row.enablePublish){
                                                                html += ' | <a onClick="showOuterPublishPopup(\''+row.Id+'\'); return false;">Publish</a>';
                                                            }
                                                            if(!row.enabledPushToAlignmentAtTeamInstance && row.enablePublish){
                                                                html += ' | <a onClick="showPublishPopup(\''+row.Id+'\'); return false;">Publish</a>';
                                                            }
                                
                                                            if((row.Status == 'Ready' || row.Status == 'Execution Failed' )&& !row.isExecuted){
                                                                html += ' | <a href="javascript:void(0);" onClick="execute(\''+row.Id+'\'); return false;">Execute</a>';
                                                            }

                                                            if(row.allowdeactivateRule)
                                                            {
                                                                html += ' | <a href="javascript:void(0);" onClick="deactivateRule(\''+row.Id+'\'); return false;">Delete</a>';
                                                            }

                                                            html += '';                                                            
                                                        }

                                                        return html
                                                    }
                                                },{
                                                    targets: 2,
                                                    render: function (data, type, row) {
                                                        return '<div class="slds-truncate"><a href="javascript:void(0);" onClick="viewBRRule(\''+row.Id+'\')">'+data+'</a></div>';
                                                    },
                                                },
                                                {
                                                    targets: 7,
                                                    render: function (data, type, row) {
                                                        if(row.isGlobal)
                                                            return '<input type="checkbox" name="global" disabled ="disabled" checked value="true">';
                                                        else
                                                            return '<input type="checkbox" name="global"   disabled ="disabled"  value="false">';
                                                    },
                                                },
                                                {
                                                    targets: 8,
                                                    render: function (data, type, row) {
                                                        return '<span class="hide-date" >' + data + '</span>' + moment(data).format('DD/MM/YYYY  HH:mm:ss');
                                                    },
                                                },
                                                {
                                                    targets: 10,
                                                    render: function (data, type, row) {
                                                        var iconhtm = "<svg class='slds-icon slds-p-left_x-small  warning' aria-hidden='true'>" +"<use xlink:href='{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#warning')}'' />" + "</svg>";
                                                        if(row.isBRPartiallyPublished == true && data == 'Complete')
                                                            return '<div class="slds-truncate" title="Published with Failures, Refer to Error Report"><a href="javascript:void(0);" > '+data+iconhtm+'</a></div>' ;
                                                        else
                                                            return '<div class="slds-truncate"><a href="javascript:void(0);" > '+data+'</a></div>' ;

                                                    },
                                                },
                                                {
                                                    targets: 11,
                                                    render: function (data, type, row) {
                                                        if(row.Status == 'Executing' || row.Status == 'Publishing' || row.Status == 'Publishing to Alignment'){
                                                            var html =  '<div class="slds-spinner_container slds-is-relative">'+
                                                                            '<div role="status" class="slds-spinner slds-spinner_xx-small">'+
                                                                                '<span class="slds-assistive-text">'+row.Status+'</span>'+
                                                                                '<div class="slds-spinner__dot-a"></div>'+
                                                                                '<div class="slds-spinner__dot-b"></div>'+
                                                                            '</div>'+
                                                                        '</div>';
                                                            return html;
                                                        }
                                                        if((row.Status =='Complete' || row.Status =='Executed' || row.Status =='Published to Alignment' || row.Status =='Error: Publish to Alignment' || row.Status =='Publish Not Allowed') && row.isExecuted ){
                                                            //var html = '<a href="/apex/PreviewResults?rid='+row.Id+'">Preview</a>';
                                                            var html = '<a href=javascript:void(0);" onClick="preview(\''+row.Id+'\'); return false;" >';
                                                                html += "<span title='preview'>"
                                                                html += "<svg class='slds-icon  biscay' aria-hidden='true'>" +"<use xlink:href='{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#preview')}'' />" + "</svg> </span> </a>";
                                                            if(row.downloadLink){
                                                                html += ' | <a href="'+row.downloadLink+'" target="_blank">';
                                                                html += "<span title='Download'>"
                                                                html += "<svg class='slds-icon  biscay' aria-hidden='true' style='height:15px !important; width:15px !important;'>" +"<use xlink:href='{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#download')}'' />" + "</svg></span> </a>";

                                                            }

                                                            if(row.isBRPartiallyPublished)
                                                            {
                                                                html += '| <a href=javascript:void(0);" onClick="report(\''+row.Id+'\'); return false;">';
                                                                html += "<span title='Error Report'>"
                                                                    html += "<svg class='slds-icon  biscay' aria-hidden='true' style='height:27px !important; width:27px !important;'>" +"<use xlink:href='{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#record')}'' />" + "</svg></span> </a>";
                                                                
                                                            }
                                                            return html;
                                                        }
                                                        if(row.Status =='Execution Failed' || row.Status =='Publishing Failed'){
                                                            var html =  '<div class="slds-truncate" title="'+row.endUserErrorMsg+'" style="width:200px">'+row.endUserErrorMsg
                                                            +'</div>';
                                                             
                                                                        /*'<div class="slds-spinner_container slds-is-relative">'+
                                                                            '<div role="status" class="">'+
                                                                                '<span class="slds-assistive-text">'+row.Status+'</span>'+
                                                                                '<div class="slds-assistive-text">'+row.endUserErrorMsg+'</div>'+
                                                                            '</div>'+
                                                                        '</div>';*/
                                                            return html;
                                                        }
                                                        return '';
                                                    }
                                                },
                                                {
                                                 targets: 12,
                                                    render: function (data, type, row) {
                                                      var html =  '<div class="slds-spinner_container slds-is-relative">'+
                                                                            
                                                                        '</div>';
                                                            return html;
                                                    }
                                                }]
                                        });
                                        $j.fn.dataTable.moment('DD/MM/YYYY  HH:mm:ss', 'en-gb');
					//Added by Chirag Ahuja for SR-535
                                        if({!ruleList}!=[]){
                                            var tableSearch = setInterval(tableSearchFun, 1000);
                                            function tableSearchFun() {
                                                if($j("#grid_list_table_wrapper .dataTables_scrollBody").length){
                                                    gridListTable.search(" ").draw();
                                                    gridListTable.search("").draw();
                                                    tableStopFun();
                                                }  
                                            }
                                            function tableStopFun() {
                                                clearInterval(tableSearch);
                                            }
                                        }
										setTimeout(
                                          function() 
                                          {
                                             console.log('Waiting');
                                          }, 5000);
										gridListTable.columns.adjust().draw(false);   
                                    });

                                    function checkstate(){
                                        var allStatus = gridListTable.rows().columns([0, 9]).data().toArray();
                                        var statusArray = [];
                                        for(var i = 0; i< allStatus[1].length; i++){
                                            if(allStatus[1][i] == 'Executing'){
                                                var tempObj = new Object();
                                                tempObj.state = 'Executing';
                                                tempObj.row = i;
                                                tempObj.col = 9;
                                                tempObj.recordId = allStatus[0][i];
                                                statusArray.append(tempObj);
                                            }
                                        }
                                        checkExecution(JSON.stringify(statusArray));
                                    }
                                </script>
                   </apex:pageblock>
                </div>
            </div>
        </div>
        <apex:outputPanel id="reload_state">
            <script>
                //checkstate();
            </script>
        </apex:outputPanel>
        <apex:actionFunction name="execute" rerender="pgMsg, pgb1" action="{!ExecuteRule}" status="status">
            <apex:param name="ruleId" value="ruleId" assignTo="{!ruleId}"/>
        </apex:actionFunction>

        <apex:actionFunction name="deactivateProcess" rerender="pgMsg, pgb1" action="{!deactivateRule}" status="status">
            <apex:param name="ruleId" value="ruleId" assignTo="{!ruleId}"/>
        </apex:actionFunction>


        <apex:actionFunction name="publish" rerender="pgMsg, pgb1" action="{!Publish}" status="status">
            <apex:param name="ruleId" value="ruleId" assignTo="{!ruleId}"/>
        </apex:actionFunction>
        <apex:actionFunction name="clone" rerender="pgMsg" action="{!cloneRule}" status="status">
            <apex:param name="ruleId" value="ruleId" assignTo="{!ruleId}"/>
        </apex:actionFunction>
        <apex:actionFunction name="edit" rerender="pgMsg" action="{!editRule}" status="status">
            <apex:param name="ruleId" value="ruleId" assignTo="{!ruleId}"/>
        </apex:actionFunction>
        <apex:actionFunction name="preview" rerender="pgMsg" action="{!previewrule}" status="status">
            <apex:param name="ruleId" value="ruleId" assignTo="{!ruleId}"/>
        </apex:actionFunction>
        <apex:actionFunction name="checkExecution" rerender="none" action="{!checkExecutionState}" status="status">
            <apex:param name="recordsToCheck" value="recordsToCheck" assignTo="{!recordsToCheck}"/>
        </apex:actionFunction>
        <apex:actionFunction name="viewBRRule" rerender="none" action="{!viewRule}" status="status">
            <apex:param name="ruleId" value="ruleId" assignTo="{!ruleId}"/>
        </apex:actionFunction>

        <apex:actionFunction name="report" rerender="none" action="{!downloadReport}" status="status">
            <apex:param name="ruleId" value="recordsToCheck" assignTo="{!ruleId}"/>
        </apex:actionFunction>

        <apex:actionFunction name="checkExecution" rerender="none" action="{!checkExecutionState}" status="status">
            <apex:param name="recordsToCheck" value="recordsToCheck" assignTo="{!recordsToCheck}"/>
        </apex:actionFunction>

        <apex:actionFunction name="hidePublishPopup" rerender="publishPopup" action="{!hidePopup}" status="status">
            
        </apex:actionFunction>

        <apex:actionFunction name="hideOuterPublishPopup" rerender="OuterPublishPopup" action="{!hideOuterPopup}" status="status">
            
        </apex:actionFunction>

        <apex:actionFunction name="viewBRRule" rerender="none" action="{!viewRule}" status="status">
            <apex:param name="ruleId" value="ruleId" assignTo="{!ruleId}"/>
        </apex:actionFunction>

        <apex:actionFunction name="showOuterPublishPopup" rerender="none" action="{!initiateOuterPublishPopup}" status="status" oncomplete="showOuterPublishPopFunc('{!ruleId}','{!ispublishAlign}','{!isPublishCP}')" >
            <apex:param name="ruleId" value="ruleId" assignTo="{!ruleId}"/>
        </apex:actionFunction>

        <apex:actionFunction name="showPublishPopup" rerender="publishPopup" action="{!initiatePublishPopup}" status="status" oncomplete="document.getElementsByClassName('PublishPopup')[0].classList.remove('slds-hide'); makeLIstMultiselect();">
            <apex:param name="ruleId" value="ruleId" assignTo="{!ruleId}"/>
        </apex:actionFunction>

        <apex:actionFunction name="showPublishPopup2" rerender="publishPopup" action="{!initiatePublishPopup}" status="status" oncomplete="document.getElementsByClassName('PublishPopup')[0].classList.remove('slds-hide'); makeLIstMultiselect();">
            <!-- <apex:param name="ruleId" value="ruleId" assignTo="{!ruleId}"/> -->
        </apex:actionFunction>

       

        <apex:actionFunction name="showSimulatePopup" rerender="none" action="{!initiateSimulationPopup}" status="status" >
            <apex:param name="ruleId" value="ruleId" assignTo="{!ruleId}"/>
        </apex:actionFunction>

        <apex:actionFunction name="publishWithValues" rerender="publishPopup, pgb1, pgMsg" action="{!Publish}" status="status" oncomplete="hidePublishPopup();">
            <apex:param value="expression2" assignTo="{!checkboxEnabled}" name="expression2"/>
            <apex:param value="expression3" assignTo="{!tcfFinalValue}" name="expression3"/>
            <apex:param value="expression3" assignTo="{!optOutString}" name="expression4"/>
        </apex:actionFunction>

         <apex:actionFunction name="pushToAlignment" rerender="pgMsg,pgb1" action="{!pushToAlignment}" status="status" oncomplete="document.getElementsByClassName('OuterPublishPopup')[0].classList.add('slds-hide');" >
            <!-- <apex:param name="ruleId" value="ruleId" assignTo="{!ruleId}"/> -->
        </apex:actionFunction>

        <apex:outputPanel id="publishPopup" styleclass="PublishPopup slds-hide">
           <!--  <apex:outputPanel rendered="{!publishFlag}"> -->
            <div class="demo-only" >
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small remvpopup">
                    <div class="slds-modal__container" id="pop3">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate"></h2>
                        </header>
                        <apex:outputPanel layout="block" styleclass="slds-modal__content slds-p-around_medium slds-text-align_center" style="min-height: 200px">
                            <div class="slds-clearfix slds-p-bottom_xx-small">
                                <div class="slds-show_inline-block slds-p-right_xxx-small" style="vertical-align: top;">
                                    <label class="slds-form-element__label" style="line-height: 1.85rem">TCF Override:</label>
                                </div>
                                <div class="slds-show_inline-block" style="  width: 150px;">
                                    <div class="slds-float_left slds-p-right_medium">
                                        <apex:inputCheckbox style="margin-top: 8px;" id="checkBoxField" onclick="enableTextField(this);" value="{!checkboxEnabled}" />
                                    </div>                                     
                                    <div class="slds-float_left slds-p-right_x-small">
                                        <input type = "number" id = "tcfValue" min = "0" class="slds-input" style = "width: 50px; padding-right: 0px; display: none" value = "{!tcfFinalValue}" onblur = "checkTcfValues(this);" name = "Final TCF"/>
                                    </div>
                                </div>
                            </div>

                            <div class="slds-clearfix">
                                <label class="slds-form-element__label slds-show_inline-block" style="line-height: 1.85rem">Select Excluded Segment</label>
                                <div class="slds-show_inline-block slds-text-align--left" style="  width: 150px; position: relative;">
                                    <select multiple= "true" name="langOpt[]"  id="langOpt">
                                        <apex:repeat value="{!allSegments}" var="segment">
                                            <option value="{!segment}">{!segment}</option>
                                        </apex:repeat>
                                    </select>
                                </div>
                                <style>
                                    .ms-options-wrap > .ms-options { width: auto; min-width: 150px; }
                                    .ms-options-wrap > .ms-options > ul input[type="checkbox"]  { top: 4px;  }
                                    .ms-options-wrap > .ms-options > ul label { padding: 0px 4px 0px 20px; }
                                </style>
                            </div>
                        </apex:outputPanel>
                        <footer class="slds-modal__footer">
                            <!-- <apex:commandButton styleclass="slds-button slds-button_brand" value="Yes" onclick="dropfunc();" action="{!closePopup}" id="AddtoCPButton" title="Drop" rerender="afunc,feedbackpopupPanel"  status="fetchStatus4"/>
                             <apex:commandButton styleclass="slds-button slds-button_brand" value="No" action="{!closePopup}" rerender="feedbackpopupPanel"  status="fetchStatus4"/>
                             -->
                             <button class="slds-button slds-button_brand"  onclick="publishRule(); return false;"  id="AddtoCPButton" title="Publish Rule">Publish Rule</button>
                             <button class="slds-button slds-button_brand"   onclick="cancelPopup(); return false;" > Cancel </button>                        
                        </footer>
                    </div>
                </section>
            <div class="slds-backdrop slds-backdrop_open hidepop"></div>
            </div>
            <apex:outputPanel >
                <script>
                        $j("[id$='langOpt']").multiselect({
                            columns: 1,
                            placeholder: 'Select Segments'
                        });
                </script>
            </apex:outputPanel>
            <!-- </apex:outputPanel> -->
        </apex:outputPanel>



        <apex:outputPanel id="OuterPublishPopup" styleclass="OuterPublishPopup slds-hide">
            <!-- <apex:outputPanel rendered="{!outerPublishFlag}" > -->
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
         
                            <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate"><b>Where do you want to publish the SnT Output?</b></h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_small">
                            <!-- <apex:selectRadio value="{!publishType}"  styleclass="radioPublish" >
                                <apex:selectOption itemValue="Alignment" itemlabel="Alignment" />
                                <apex:selectOption itemValue="CallPlan" itemlabel="Call Plan"/>
                            </apex:selectRadio> -->
                            <input type="radio" name="publishT" value="Alignment" style ="margin-left: 40%;">Alignment</input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="publishT" value="CallPlan">CallPlan</input>
                        </div>
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_brand" onclick ="publishPopupFunc(); return false">Publish</button>
                            <button class="slds-button slds-button_brand" onclick="cancelOuterPublishPopUp(); return false;">Cancel</button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            <!-- </apex:outputPanel> -->
        </apex:outputPanel>


         <script>

            function enableTextField(changedRec)
             {
                if(changedRec.checked)
                {
                    $j("[id$='tcfValue']").val("0"); 
                    $j("[id$='tcfValue']").show();
                }
                else
                {
                    $j("[id$='tcfValue']").hide();
                }
             }

            function checkTcfValues(changedRec)
             {
                console.log('Hete IN TCF Balues checke');

                var tcfVal = parseInt($j("[id$='tcfValue']").val(), 10);

                console.log('++++++++ ITCF' + tcfVal);
                if(tcfVal < 0)
                {
                    alert('TCF Cannot be negative');
                    $j("[id$='tcfValue']").val("0");
                }

             }

             function cancelPopup()
             {
                 $j("[id$='publishPopup']").hide();
                 hidePublishPopup();    
             }
            function cancelOuterPublishPopUp(){
                hideOuterPublishPopup();
            }
            function publishPopupFunc(){
                document.getElementsByClassName('OuterPublishPopup')[0].classList.add('slds-hide');
                publishAlignment = $j("input[name='publishT']")[0].checked;
                console.log('publishAlignment='+publishAlignment);
               // rule_Id = '{!ruleId}';
                //console.log('rule_Id=='+rule_Id);
                if(publishAlignment){
                    pushToAlignment();
                }
                else{
                   
                    showPublishPopup2(); 
                }
            }
            function showOuterPublishPopFunc(rule_Id,publishAlign,publishCP){
                console.log('inside showOuterPublishPopFunc rule_Id'+rule_Id);
                document.getElementsByClassName('OuterPublishPopup')[0].classList.remove('slds-hide');
                $j("input[name='publishT']")[0].checked = true;
                console.log('publishAlign=='+publishAlign+'publishCP=='+publishCP);
                if(publishAlign == 'false'){
                     $j("input[name='publishT']")[0].disabled = true;
                     $j("input[name='publishT']")[1].checked = true;
                }
                
                /*if(publishCP=='false'){
                     $j("input[name='publishT']")[1].disabled = true;
                }*/

            }


             function publishRule()
             {
                var tcfValue =  $j("[id$='tcfValue']").val();

                var optOutSegment =  $j("[id$='langOpt']").val();

                 var optOutString  = '';

                if(optOutSegment != null && optOutSegment.length > 0 )
                 optOutString = optOutSegment.toString();

                var checkboxValue =  $j("[id$='checkBoxField']").is(':checked');
                console.log('++++++++ Hey Sehment is ' + optOutString);
                cancelPopup();
                publishWithValues(checkboxValue, tcfValue, optOutString);
             }
             function makeLIstMultiselect()
             {
                console.log('Heyyyyyyyyyy ');
                 $j("[id$='langOpt']").multiselect({
                    columns: 1,
                    placeholder: 'Select Segments'
                });

             }

             function deactivateRule(ruleID)
             {
                var retVal = confirm("Business rule and its associated data will be deleted permanently. Please click Ok to proceed");
                if( retVal == true )
                {
                    deactivateProcess(ruleID);
                }
             }

         </script>

    </apex:form>
    </html>
</apex:page>