<apex:page sidebar="false" tabStyle="Business_Rule_list__tab">
    <apex:slds />
    <apex:stylesheet value="{!$Resource.appCss}"/>
    <apex:stylesheet value="{!URLFor($Resource.font_awesome, 'css/font-awesome.css')}"/>
    <apex:stylesheet value="{!URLFor($Resource.listswap, 'listswap.css')}"/>
    <apex:includeScript value="{!$Resource.jquery_1_12_4_min}" />
    <apex:includeScript value="{!URLFor($Resource.listswap, 'jquery.listswap.js')}" />
    <apex:form >
        <div class="slds-p-left_x-small slds-p-right_x-small">
            <div class="slds-page-header  slds-p-around_x-small">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                        <i class="fa fa-table" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Business Rule">Call Plan Generation Business Rule</h1>
                    </div>
                </div>
            </div>
            <div class="slds-p-vertical_medium">
                <div class="slds-path-coach">
                    <div class="slds-grid slds-p-bottom_small">
                        <!--<button class="slds-button slds-button--icon-border-filled slds-path__trigger slds-no-flex slds-m-horizontal--small">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                            <span class="slds-assistive-text">Close</span>
                        </button>-->
                        <div class="slds-tabs--path" role="application">
                            <ul class="slds-tabs--path__nav" role="tablist">
                                <li class="slds-tabs--path__item slds-is-complete" role="presentation">
                                    <a class="slds-tabs--path__link" id="tabs-path-1" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                                        <span class="slds-tabs--path__stage">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <!--<span class="slds-assistive-text">Stage Complete</span>-->
                                        <span class="slds-text-body_small">Basic Information</span>
                                        </span>
                                        <span class="slds-tabs--path__title">Basic Information</span>
                                    </a>
                                </li>
                                <li class="slds-tabs--path__item slds-is-current" role="presentation">
                                    <a class="slds-tabs--path__link" id="tabs-path-2" aria-controls="content-path-2" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                                        <span class="slds-tabs--path__stage">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <!--<span class="slds-assistive-text">Stage Complete</span>-->
                                        <span class="slds-text-body_small">Profiling Parameter</span>
                                        </span>
                                        <span class="slds-tabs--path__title">Profiling Parameter</span>
                                    </a>
                                </li>
                                <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                                    <a class="slds-tabs--path__link" id="tabs-path-3" aria-controls="content-path-3" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                                        <span class="slds-tabs--path__stage">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <!--<span class="slds-assistive-text">Stage Complete</span>-->
                                        <span class="slds-text-body_small">Compute Values</span>
                                        </span>
                                        <span class="slds-tabs--path__title">Compute Values</span>
                                    </a>
                                </li>
                                <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                                    <a class="slds-tabs--path__link" id="tabs-path-4" aria-controls="content-path-4" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                                        <span class="slds-tabs--path__stage">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span class="slds-text-body_small">Compute Segment</span>
                                        </span>
                                        <span class="slds-tabs--path__title">Compute Segment</span>
                                    </a>
                                </li>
                                <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                                    <a class="slds-tabs--path__link" id="tabs-path-5" aria-controls="content-path-5" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                                        <span class="slds-tabs--path__stage">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span class="slds-text-body_small">Compute TCF</span>
                                        </span>
                                        <span class="slds-tabs--path__title">Compute TCF</span>
                                    </a>
                                </li>
                                <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                                    <a class="slds-tabs--path__link" id="tabs-path-6" aria-controls="content-path-6" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                                        <span class="slds-tabs--path__stage">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span class="slds-text-body_small">Compute Accessibility</span>
                                        </span>
                                        <span class="slds-tabs--path__title">Compute Accessibility</span>
                                    </a>
                                </li>
                                <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                                    <a class="slds-tabs--path__link" id="tabs-path-7" aria-controls="content-path-7" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                                        <span class="slds-tabs--path__stage">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span class="slds-text-body_small">Summary</span>
                                        </span>
                                        <span class="slds-tabs--path__title">Summary</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button class="slds-button slds-button--brand slds-path__mark-complete slds-no-flex slds-m-horizontal--small slds-m-right_none">
                        <i class="fa fa-check" aria-hidden="true"></i> Mark Status as Complete</button>
                    </div>
                    <div id="content-path-2" class=" slds-show" role="tabpanel" aria-labelledby="tab-path-2">
                        <div class="slds-grid slds-p-bottom_x-small">
                            <div class="slds-frame slds-size--5-of-5">
                                <div class="slds-form slds-form_stacked">
                                    <fieldset class="slds-form-element">
                                        <legend class="slds-form-element__legend slds-form-element__label">Available Parameters</legend>
                                        <select id='select_source' data-search="Search or Add parameters">
                                            <option value="DINAMICO_DPPIV">DINAMICO_DPPIV</option>
                                            <option value="DINAMICO_SGLT2">DINAMICO_SGLT2</option>
                                            <option value="DINAMICO_DAPA">DINAMICO_DAPA</option>
                                            <option value="POTENTIALIZE">POTENTIALIZE</option>
                                            <option value="KOL">KOL</option>
                                            <option value="ACCESSIBILITY_FOR_CYCLE">ACCESSIBILITY_FOR_CYCLE</option>
                                        </select>
                                        <select id="select_destination">
                                        </select>                                    
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="slds-text-align_center">
                            <button class="slds-button slds-button_brand" type="button" onclick="document.location.href='/apex/business_rule31';">Save &amp; Next</button>
                            <button class="slds-button slds-button_brand" type="button">Save</button>
                            <button class="slds-button slds-button_neutral" onclick="document.location.href='/apex/Business_Rule_list';">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </apex:form>
    <script type="text/javascript">
        var $j = jQuery.noConflict();
        $j(document).ready(function() {
            $j(".slds-accordion h3").each(function(){
                $j(this).click(function(){
                    if (!($j(this).parent().parent().hasClass('slds-is-open'))) {
                        $j(".slds-accordion__section").removeClass("slds-is-open");
                        $j(this).parent().parent().addClass("slds-is-open");
                    } else {
                        $j(".slds-accordion__section").removeClass("slds-is-open");      
                    }
                    return false;     
                });
            });

            /* -------Start------- Select List Code -------Start------- */
            var lst = $j('#select_source, #select_destination').listswap({
                truncate:true, 
                height:162,
                label_add:'', 
                label_remove:'', 
                btn_cls:'slds-button slds-button_brand',
            });
        });
    </script>
</apex:page>