<apex:page Sidebar="false" controller="BusinessRuleConstructCtlr" tabStyle="Business_Rule_list__tab" docType="html-5.0">
    <apex:slds />
    <apex:stylesheet value="{!$Resource.appCss}"/>
    <apex:stylesheet value="{!URLFor($Resource.font_awesome, 'css/font-awesome.css')}"/>
    <apex:stylesheet value="{!URLFor($Resource.multi_select, 'css/multi-select.css')}"/>
    <apex:includeScript value="{!$Resource.jquery_1_12_4_min}" />
    <apex:includeScript value="{!URLFor($Resource.multi_select, 'js/jquery.multi-select.js')}" />


    <script type="text/javascript">
    var __sfdcSessionId = '{!GETSESSIONID()}';
    </script>
    <script src="../../soap/ajax/45.0/connection.js" type="text/javascript"></script>
    <script type="text/javascript">  
      console.log('{!JSENCODE($CurrentPage.Parameters.rid)}');   
      window.onload = setupPage;
      var query1 = '';
      function setupPage() {

        var state = { //state that you need when the callback is called
          output : document.getElementById("stepCount"),
          startTime : new Date().getTime()
        };

        var ruleId = '{!JSENCODE($CurrentPage.Parameters.rid)}',brandName = '{!JSENCODE(selectedBrandName)}',teamInstName = '{!JSENCODE(selectedBuisnessUnit)}';
        let namespacePref = '{!JSENCODE(nameSpace)}';
        console.log('Rule ID :: '+ruleId);
        if(ruleId != undefined & ruleId != '' & brandName != undefined & brandName != '' & teamInstName != undefined & teamInstName != ''){
          query1 = sforce.connection.query("SELECT count() FROM "+namespacePref+"Rule_Parameter__c WHERE "+namespacePref+"Measure_Master__c = '{!JSENCODE($CurrentPage.Parameters.rid)}' AND "+namespacePref+"Parameter__c = null",{
            onSuccess: function(query1){
                    sforce.connection.query("Select Count() from "+namespacePref+"Parameter__c where "+namespacePref+"Brand__c = '{!JSENCODE(selectedBrandName)}' and "+namespacePref+"Team_Instance__c = '{!JSENCODE(selectedBuisnessUnit)}'",{
                onSuccess: function(queryResult, source) {
                              console.log('50-queryResult.size-query1.size:: '+(50-queryResult.size-query1.size));
                              source.output.innerHTML = 'Steps remaining = ' +(50-queryResult.size-query1.size);
                            },
                onFailure: queryFailed,
                source: state
                });
            },
            onFailure: queryFailed,
            source: state
          });
        }else{
          document.getElementById("stepCount").innerHTML = 'Steps remaining = 50';
        } 
        showhideDropDown();
      }

      function queryFailed(error, source) {
          console.log(error);
          source.output.innerHTML = 'Steps remaining = NA';
      }
    </script>

    <apex:form >
    <div id="myDIV">
    <apex:inputhidden id="showCustomerType" value="{!showCustomerType}" />
    <apex:inputhidden id="showChannelList" value="{!showChannelList}" />
    <apex:actionstatus id="status">
        <apex:facet name="start">
            <div class="slds-spinner_container slds-is-fixed">
                <div role="status" class="slds-spinner slds-spinner_medium">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </apex:facet>
    </apex:actionstatus>
    <div class="slds-p-left_x-small slds-p-right_x-small">
        <div class="slds-page-header  slds-p-around_x-small">
            <div class="slds-media">
                <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                    <i class="fa fa-table" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="slds-media__body">
                    <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Business Rule">Call Plan Generation Business Rule
                      <i class="fa fa-info-circle fa-lg" aria-hidden="true" style="float:right;padding:2px;" title="Help Info" onclick="helpInfo();"></i>
                      <p id="stepCount" style="float:right;padding-right:10px;"></p>
                    </h1>
                    <c:SLDSPageMessage id="pgmsg" PageMessages="{!PageMessages}"/>
                    
                </div>
            </div>
        </div>
        <!--<apex:pageMessages id="pgmsg" escape="false"/>-->
        <div class="slds-p-vertical_medium">
            <div class="slds-path-coach">
                <div class="slds-grid slds-p-bottom_small">
                    <c:ProcessStateView pathMap="{!pathMap}" pathAtribs="{!pathList}" linkMap="{!linkMap}"/>
                    <!--<button class="slds-button slds-button--brand slds-path__mark-complete slds-no-flex slds-m-horizontal--small slds-m-right_none">-->
                    <!--<i class="fa fa-check" aria-hidden="true"></i> Mark Status as Complete</button>-->
                </div>
                <div id="content-path-1" class=" slds-show" role="tabpanel" aria-labelledby="tab-path-1">
                    <div class="demo-only" style="max-width: 700px;">
                        <div class="slds-form slds-form_compound">
                            <fieldset class="slds-form-element">
                                <div class="slds-form-element__group">
                                    <div class="slds-form-element__row">
                                        <div class="slds-form-element slds-size_1-of-4">
                                            <label class="slds-form-element__label" >Name</label>
                                            <apex:inputText disabled="{!IF((LOWER(mode)=='view'), true, false)}"  title="{!ruleObject.Name}" value="{!ruleObject.Name}" styleClass="slds-input" alt="Name of Rule"/>
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-4">
                                          <label class="slds-form-element__label" >Global Rule?</label>
                                            <div class="slds-form-element__control slds-p-top_x-small">
                                              <apex:inputCheckbox disabled="{!IF((LOWER(mode)=='view' || LOWER(mode)=='edit'), true, false)}" value="{!ruleObject.isGlobal__c}" />
                                            </div>
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-4"></div>
                                        <div class="slds-form-element slds-size_1-of-4"></div>
                                    </div>
                                    <div class="slds-form-element__row">
                                        <div class="slds-form-element slds-size_1-of-4">
                                            <label class="slds-form-element__label">{!$Label.gn_Cycle}</label>
                                            <div class="slds-form-element__control">
                                                <div>
                                                  <apex:outputPanel id="select_cycle">
                                                    <apex:outputPanel >
                                                      <apex:selectList disabled="{!IF(LOWER(mode)=='view', true, false)}" value="{!selectedCycle}" title="{!selectedCycleName}" multiselect="false" styleClass="slds-select" size="1">
                                                      <apex:actionSupport event="onclick" action="{!fillBusinessUnitOptions}" reRender="teamInstancePanel"/>
                                                        <apex:selectOptions value="{!cycles}"/>
                                                      </apex:selectList>
                                                    </apex:outputPanel>
                                                  </apex:outputPanel>
                                                </div>
                                            </div>
                                        </div>
                                        
                                          <apex:outputPanel layout="block" id="teamInstancePanel" styleclass="slds-form-element slds-size_1-of-4">
                                              <label class="slds-form-element__label" >{!$Label.Business_Unit}</label>
                                              <div class="slds-form-element__control">
                                                  <div>
                                                      <apex:outputPanel id="select_bu">
                                                          <apex:outputPanel >
                                                              <apex:selectList disabled="{!IF(LOWER(mode) =='view', true, false)}" value="{!selectedBuisnessUnit}" title="{!selectedBuisnessUnitName}" multiselect="false" styleClass="slds-select" size="1"  >
                                                              <apex:actionSupport event="onchange" action="{!fillBrandOptions}" reRender="pgmsg, select_line, select_brand,CustomerType,showCustomerType,showChannelList" oncomplete="showhideDropDown()"/>
                                                                  <apex:selectOptions value="{!businessUnits}"/>
                                                              </apex:selectList>
                                                          </apex:outputPanel>
                                                      </apex:outputPanel>
                                                  </div>
                                              </div>
                                              <script>
                                              function showhideDropDown(){
                                                var showCustomerTypeDropDownJS = document.getElementById('{!$Component.showCustomerType}').value;
                                                var showChannelDropDownJS = document.getElementById('{!$Component.showChannelList}').value;
                                                console.log('showCustomerTypeDropDownJS');
                                                console.log(showCustomerTypeDropDownJS);
                                                console.log('showChannelDropDownJS');
                                                console.log(showChannelDropDownJS);

                                                if(showCustomerTypeDropDownJS == 'true'){
                                                    $j(".customerTypeDropDown").removeClass('slds-hide');
                                                }
                                                else{
                                                  $j(".customerTypeDropDown").addClass('slds-hide');
                                                }
                                                if(showChannelDropDownJS == 'true'){
                                                    $j(".channelDropDown").removeClass('slds-hide');
                                                }
                                                else{
                                                  $j(".channelDropDown").addClass('slds-hide');
                                                }                                                       
                                              }
                                            </script>
                                          
                                      </apex:outputPanel>
                                        
                                        <div class="slds-form-element slds-size_1-of-4">
                                            <label class="slds-form-element__label">{!$Label.Pacp_Product}</label> <!-- Label Added by RT for SR-37 on 23rdJul,2020 -->

                                            <div class="slds-form-element__control">
                                                <div>
                                                    <apex:outputPanel id="select_brand">
                                                        <apex:outputPanel >
                                                            <apex:selectList disabled="{!IF(LOWER(mode)=='view', true, false)}" title="{!selectedBrandName}" value="{!selectedBrand}" multiselect="false" styleClass="slds-select" size="1">
                                                                <apex:selectOptions value="{!brands}"/>
                                                            </apex:selectList>
                                                        </apex:outputPanel>
                                                    </apex:outputPanel>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Shivansh - A1450 -->

                                        <apex:outputPanel layout="block" id="CustomerType" styleclass="slds-form-element slds-size_1-of-5 customerTypeDropDown slds-hide" >
                                          <!-- <apex:outputPanel rendered="{!showCustomerType}"> -->
                                            <label class="slds-form-element__label">Customer Type</label>
                                            <div class="slds-form-element__control">
                                                <div>
                                                    <apex:outputPanel id="select_custType">
                                                        <apex:outputPanel >
                                                            <apex:selectList disabled="{!IF(LOWER(mode)=='view', true, false)}" value="{!selectedCustType}" multiselect="false" styleClass="slds-select" size="1">
                                                                <apex:selectOptions value="{!customerTypes}"/>
                                                            </apex:selectList>
                                                        </apex:outputPanel>
                                                    </apex:outputPanel>
                                                </div>
                                            </div>
                                            
                                          <!-- </apex:outputPanel> -->
                                        </apex:outputPanel>
                                        <!-- Shivansh - A1450 till here -->

                                        <!--SR-69-->
                                        <apex:outputPanel layout="block" id="channelList" styleclass="slds-form-element slds-size_1-of-5 channelDropDown slds-hide" >
                                          <!-- <apex:outputPanel rendered="{!showChannelList}"> -->
                                            <label class="slds-form-element__label">Channels</label>
                                            <div class="slds-form-element__control">
                                                <div>
                                                    <apex:outputPanel id="select_channel">
                                                        <apex:outputPanel >
                                                            <apex:selectList disabled="{!IF(LOWER(mode)=='view', true, false)}" value="{!selectedChannels}" multiselect="true" styleClass="slds-select" size="3">
                                                                <apex:selectOptions value="{!selectChannelList}"/>
                                                            </apex:selectList>
                                                        </apex:outputPanel>
                                                    </apex:outputPanel>
                                                </div>
                                            </div>
                                          <!-- </apex:outputPanel> -->
                                        </apex:outputPanel>
                                        <!--SR-69 ends-->
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="slds-text-align_center">
                        <apex:commandButton styleClass="slds-button slds-button_brand" action="{!saveAndNext}" value="{!$Label.axtriaarsnt__btn_save_next}" rerender="pgmsg" status="status"/>
                        <apex:commandButton styleClass="slds-button slds-button_brand" action="{!save}" value="{!$Label.axtriaarsnt__btn_save}" rerender="pgmsg" status="status"/>
                        <apex:commandButton styleClass="slds-button slds-button_brand" action="{!cancel}" value="{!$Label.axtriaarsnt__btn_cancel}" immediate="true" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
var $j = jQuery.noConflict();
          $j('#pre-selected-options').multiSelect();
$j(document).ready(function() {
    $j(".slds-accordion h3").each(function(){
      $j(this).click(function(){
        if (!($j(this).parent().parent().hasClass('slds-is-open'))) {
            $j(".slds-accordion__section").removeClass("slds-is-open");
            $j(this).parent().parent().addClass("slds-is-open");
        } else {
            $j(".slds-accordion__section").removeClass("slds-is-open");      
        }
        return false;     
      });
    });  
    
            $j('.summaryBox h3' ).click(function(){
                $j('.summaryInfo').addClass('slds-hide');
                $j(this).parent().next().removeClass('slds-hide');
            });
        
    /* -------Start------- left Section Fixed -----------Start------------ */

    /*
    var topNumber = 10;
    var fixTop = $j('.fixSection').offset().top-topNumber;
    $j(window).resize(function() {
        fixTop = $j('.fixSection').offset().top-topNumber;

        var currentScroll = $j(window).scrollTop();
        if (currentScroll >= fixTop) {
            
            
              if($j('.fixSection').length){
                  $j('.fixSection').width($j('.fixSection').parent().width());
              
                      if($j('.fixSection1').length){
                        $j('.fixSection1').css({
                            position: 'fixed',
                            top: topNumber+'px',
                            left: $j('.fixSection1').parent().offset().left,
                            width: $j('.fixSection1').parent().width()
                        });
                      }
                  }
          }
    });
    $j(window).scroll(function() {
       fixTop = $j('.fixSection').offset().top-topNumber;
      if($j('.fixSection').length){
          fixLeft = $j('.fixSection').offset().left;
          fixWidth = $j('.fixSection').width();
      }

      if($j('.fixSection1').length){
          fixLeft1 = $j('.fixSection1').offset().left;
          fixWidth1 = $j('.fixSection1').width();
      }

      var currentScroll = $j(window).scrollTop();
      if (currentScroll >= fixTop) {
          if($j('.fixSection').length){
              $j('.fixSection').css({
                  position: 'fixed',
                  top: topNumber+'px',
                  left: fixLeft,
                  width: fixWidth
              });
          }
          if($j('.fixSection1').length){
              $j('.fixSection1').css({
                  position: 'fixed',
                  top: topNumber+'px',
                  left: fixLeft1,
                  width: fixWidth1
              });
          }
      } else {
          $j('.fixSection, .fixSection1').css({
              position: 'static',
              width: '100%'
          });
      }
    });
    */
    /* -------End------- left Section Fixed -----------End------------ */

});
</script>
    <apex:actionFunction name="helpInfo" action="{!showStepHelpPopup}" rerender="stepHelpPopup"></apex:actionFunction>
    <apex:actionFunction name="hideStepHelpPopup" action="{!hideStepHelpPopup}"></apex:actionFunction>
    <!-- <apex:actionFunction action="{!fillLineOptions}" name="fillLineBrandOptions" rerender="pgmsg, select_line, select_brand,CustomerType" /> -->
    <apex:outputPanel id="stepHelpPopup" layout="block"> 
      <apex:outputPanel rendered="{!stepHelpPopupFlag}" layout="none"> 
        <div class="demo-only">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small remvpopup">
            <div class="slds-modal__container" id="pop3"  style="width:30%">
                <!-- <header class="slds-modal__header slds-theme_success popupMsg">
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">RESULT!!!</h2>
                </header> -->
                  <apex:outputPanel layout="block" styleclass="slds-modal__content slds-p-around_medium slds-text-align_center popupMsg" style="min-height: 25%;padding: 8px;padding-bottom: 0px;">
                       <div class="slds-clearfix slds-p-bottom_xx-small" style="padding-bottom: 0px;">
                           <div id="mssgDiv" class="slds-show_inline-block slds-p-right_xxx-small" style="vertical-align: top;border-style: groove;border-width:5px;border-bottom-style: none;padding: 5px;">
                                <H1 style="font-size: large;"><B>Information on Steps Limitation</B></H1><br></br>
                                <label class="slds-form-element__label" style="line-height: 1.85rem;font-size: medium;">You can create steps in S&amp;T business rule until: <B><i>Number of Profiling parameters + Number of steps = 50.</i></B> SalesIQ allows Input of up 25 profiling parameters.</label><br></br>
                            </div> 
                       </div>
                 </apex:outputPanel>
                  <footer class="slds-modal__footer popupMsg" style="padding: 0.5rem;padding-top: 0px;padding-bottom: 0px;border-top-style: none;">
                    <div style="border-left-style: groove;border-right-style: groove;border-top-style: outset;border-width: 5px;border-top-width:1px;">
                      <div style="padding:5px">
                     <button class="slds-button slds-button_brand" style="margin-right: 10.5rem;" onclick="hideStepHelpPopup(); return false;" > OK </button></div>
                    </div>
                  </footer>
            </div>
          </section>
          <div class="slds-backdrop slds-backdrop_open hidepop"></div>
        </div>
      </apex:outputPanel>
    </apex:outputPanel>
  </div>
</apex:form>

<script>
     window.onload = function(){
        var body = document.body,
        html = document.documentElement;
    	showhideDropDown();
        var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
        var width = Math.max(body.scrollWidth, body.offsetWidth, html.clientWidth, html.scrollWidth, html.offsetWidth );
        var ratio =  window.devicePixelRatio;

        if(ratio == 1){
            document.getElementById("myDIV").style.zoom = 1;
            document.getElementById("myDIV").classList.remove("zoom8");
            document.getElementById("myDIV").classList.add("zoom1");
      console.log("it is equal to 1");        }

        else if(ratio > 1){
            document.getElementById("myDIV").style.zoom = .8;
            document.getElementById("myDIV").classList.remove("zoom1");
            document.getElementById("myDIV").classList.add("zoom8");
            console.log("it is more than 1");
        }
        
        else{document.getElementById("myDIV").style.zoom = 1.2;}
       } 

   window.onresize = function(){ 
        var body = document.body,
        html = document.documentElement;
	showhideDropDown();
        var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
        var width = Math.max(body.scrollWidth, body.offsetWidth, html.clientWidth, html.scrollWidth, html.offsetWidth );
        var ratio =  window.devicePixelRatio;

        if(ratio == 1){
            document.getElementById("myDIV").style.zoom = 1;
            document.getElementById("myDIV").classList.remove("zoom8");
            document.getElementById("myDIV").classList.add("zoom1");
        }

        else if(ratio > 1){
            document.getElementById("myDIV").style.zoom = .8;
            document.getElementById("myDIV").classList.remove("zoom1");
            document.getElementById("myDIV").classList.add("zoom8");
        }
        else{document.getElementById("myDIV").style.zoom = 1.2;}
       } 
</script>
</apex:page>