<apex:page Sidebar="false">
 <apex:includeScript value="{!$Resource.jquery_1_12_4_min}" />
<apex:includeScript value="{!URLFOR($Resource.dataTables,'jquery.dataTables.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'dataTables.fixedColumns.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.dataTables,'jquery.dataTables.css')}" />
    <apex:stylesheet value="{!$Resource.appCss}"/>
   
        <nav role="navigation" aria-label="Breadcrumbs" class=" slds-p-bottom_small">
            <ol class="slds-breadcrumb slds-list_horizontal slds-wrap">
                <li class="slds-breadcrumb__item slds-text-title_caps">
                    <a href="javascript:void(0);">Home</a>
                </li>
                <li class="slds-breadcrumb__item slds-text-title_caps">
                    <a href="javascript:void(0);">Call Plan</a>
                </li>
                <li class="slds-breadcrumb__item slds-text-title_caps">
                    <a href="javascript:void(0);">DB101_58</a>
                </li>
            </ol>
        </nav>
        <div class="slds-grid">
            <div class="slds-size_1-of-1">
                <div class="slds-form slds-form_compound" style="max-width: 740px">
                    <fieldset class="slds-form-element">
                        <div class="slds-form-element__group">
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-3">
                                    <label class="slds-form-element__label">Region</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <select class="slds-select">
                                                <option>Region </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form-element slds-size_1-of-3">
                                    <label class="slds-form-element__label">District</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <select class="slds-select">
                                                <option>801-DB_Area 1</option>
                                                <option>802-DB_Area 2</option>
                                                <option>803-DB_Area 3</option>
                                                <option>804-DB_Area 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form-element slds-size_1-of-3">
                                    <label class="slds-form-element__label">Territory</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <select class="slds-select">
                                                <option>DB101_58</option>
                                                <option>DB102_58</option>
                                                <option>DB103_58</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-p-bottom_small">
            <div class="slds-frame slds-size--1-of-4 slds-p-right_xx-small" style="max-width: 250px;">
                <div class="slds-border_top slds-border_right slds-border_bottom slds-border_left">
                    <div class="slds-p-around_x-small">
                        <div class="slds-p-bottom_large slds-clearfix slds-p-top_small">
                            <div class="slds-float_left slds-text-heading_large textRed "> 9% </div>
                            <div class="slds-float_right slds-text-body_regular">
                                <span class="slds-show_inline-block" style="width: 60px;">Original:</span> 510<br/>
                                <span class="slds-show_inline-block" style="width: 60px;">Updated:</span> 501 </div>
                        </div>
                    </div>
                </div>
                <div class="bgRed slds-p-around_x-small slds-text-body_small slds-text-align_center slds-text-color_inverse"> Total Calls </div>
            </div>
            <div class="slds-frame slds-size--1-of-4 slds-p-left_xx-small slds-p-right_xx-small" style="max-width: 250px;">
                <div class="slds-border_top slds-border_right slds-border_bottom slds-border_left">
                    <div class="slds-p-around_x-small">
                        <div class="slds-p-bottom_large slds-clearfix slds-p-top_small">
                            <div class="slds-float_left slds-text-heading_large textYellow"> 9% </div>
                            <div class="slds-float_right slds-text-body_regular">
                                <span class="slds-show_inline-block" style="width: 60px;">Original:</span> 510<br/>
                                <span class="slds-show_inline-block" style="width: 60px;">Updated:</span> 501 </div>
                        </div>
                    </div>
                </div>
                <div class="bgYellow slds-p-around_x-small slds-text-body_small slds-text-align_center slds-text-color_inverse"> Product1 Calls </div>
            </div>
            <div class="slds-frame slds-size--1-of-4 slds-p-left_xx-small slds-p-right_xx-small" style="max-width: 250px;">
                <div class="slds-border_top slds-border_right slds-border_bottom slds-border_left">
                    <div class="slds-p-around_x-small">
                        <div class="slds-p-bottom_large slds-clearfix slds-p-top_small">
                            <div class="slds-float_left slds-text-heading_large textGreen"> 9% </div>
                            <div class="slds-float_right slds-text-body_regular">
                                <span class="slds-show_inline-block" style="width: 60px;">Original:</span> 510<br/>
                                <span class="slds-show_inline-block" style="width: 60px;">Updated:</span> 501 </div>
                        </div>
                    </div>
                </div>
                <div class="bgGreen slds-p-around_x-small slds-text-body_small slds-text-align_center slds-text-color_inverse"> Product2 Calls </div>
            </div>
            <div class="slds-frame slds-size--1-of-4 slds-p-left_xx-small" style="max-width: 250px;">
                <div class="slds-border_top slds-border_right slds-border_bottom slds-border_left">
                    <div class="slds-p-around_x-small">
                        <div class="slds-p-bottom_xx-small slds-clearfix">
                            <div class="slds-float_left slds-text-heading_large "> 9% </div>
                            <div class="slds-float_right slds-text-body_regular">
                                <span class="slds-show_inline-block" style="width: 60px;">Original:</span> 510<br/>
                                <span class="slds-show_inline-block" style="width: 60px;">Updated:</span> 501 </div>
                        </div>
                    </div>
                    <div class="bgRed slds-p-around_x-small slds-text-body_small slds-text-align_center slds-text-color_inverse"> Total Targets </div>
                </div>
                <div class=" slds-text-body_small slds-text-align_center slds-text-color_inverse slds-p-top_xxx-small">
                    <div class="slds-grid">
                        <div class="slds-frame bgRed slds-size--1-of-2 slds-p-around_x-small "> 5 - Dropped </div>
                        <div class="slds-frame bgGreen slds-size--1-of-2 slds-p-around_x-small "> 2 - Added </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" slds-text-align_center slds-p-bottom_small">
            <button class="slds-button slds-button_brand" >Save</button>
            <button class="slds-button slds-button_brand" >Save &amp; Submit</button>
            <button class="slds-button slds-button_brand" >Undo</button>
            <button class="slds-button slds-button_brand" >Add Target</button>
        </div>
        <div class="slds-scrollable" style="width: calc(100vw - 40px);">
            <table id="myTable" class="slds-table slds-table_bordered slds-table_cell-buffer">
                <thead>
                    <tr class="slds-text-title_caps">
                        <th scope="col"> <div class="slds-truncate" title="Opportunity Name">Opportunity Name</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Account Name">Account Name</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Close Date">Close Date</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Stage">Stage</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Confidence">Confidence</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Amount">Amount</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Contact">Contact</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Stage">Stage</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Confidence">Confidence</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Amount">Amount</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Contact">Contact</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Stage">Stage</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Confidence">Confidence</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Amount">Amount</div>
                        </th>
                        <th scope="col"> <div class="slds-truncate" title="Contact">Contact</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub">
                                <a href="javascript:void(0);">Cloudhub</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub">
                                <a href="javascript:void(0);">Cloudhub</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub">
                                <a href="javascript:void(0);">Cloudhub</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub">
                                <a href="javascript:void(0);">Cloudhub</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub">
                                <a href="javascript:void(0);">Cloudhub</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub">
                                <a href="javascript:void(0);">Cloudhub</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub">
                                <a href="javascript:void(0);">Cloudhub</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub">
                                <a href="javascript:void(0);">Cloudhub</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub">
                                <a href="javascript:void(0);">Cloudhub</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub">
                                <a href="javascript:void(0);">Cloudhub</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub">
                                <a href="javascript:void(0);">Cloudhub</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub">
                                <a href="javascript:void(0);">Cloudhub</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub">
                                <a href="javascript:void(0);">Cloudhub</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                    <tr>
                        <th scope="row" data-label="Opportunity Name"> <div class="slds-truncate" title="Cloudhub + Anypoint Connectors">
                                <a href="javascript:void(0);">Cloudhub + Anypoint Connectors</a>
                            </div>
                        </th>
                        <td data-label="Account Name"><div class="slds-truncate" title="Cloudhub">Cloudhub</div></td>
                        <td data-label="Close Date"><div class="slds-truncate" title="4/14/2015">4/14/2015</div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                        <td data-label="Prospecting"><div class="slds-truncate" title="Prospecting">Prospecting</div></td>
                        <td data-label="Confidence"><div class="slds-truncate" title="20%">20%</div></td>
                        <td data-label="Amount"><div class="slds-truncate" title="$25k">$25k</div></td>
                        <td data-label="Contact"><div class="slds-truncate" title="jrogers@cloudhub.com">
                                <a href="javascript:void(0);">jrogers@cloudhub.com</a>
                            </div></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <script>    
            $(document).ready(function(){
                $('#myTable').DataTable({
                    "scrollY": 200,
                    "scrollX": true,
                    "bScrollCollapse" : true,
                    "lengthChange": false
                });
            });
    </script>
</apex:page>