<apex:page standardController="AxtriaSalesIQTM__Change_Request__c" extensions="ChangeRequestCallPlanInlineCtlr2"  doctype="html-5.0">
    <apex:slds />
    <apex:includeScript value="{!URLFOR($Resource.ajax,'jquery.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.ajax,'jquery-ui.min.js')}" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
    
    
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'jquery.dataTables.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'dataTables.fixedColumns.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.dataTables,'jquery.dataTables.css')}" />
    <apex:stylesheet value="{!$Resource.customCss}"/>
    <apex:stylesheet value="{!URLFor($Resource.font_awesome, 'css/font-awesome.css')}"/>
    
    <!-- Converted as Static Resources
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js" />
    <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js" />
    <apex:includeScript value="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js" />
    <apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js" />
    <apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js" />
    <apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js" />
    <apex:includeScript value="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js" />
    <apex:includeScript value="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js" />
    <apex:includeScript value="//cdn.datatables.net/plug-ins/1.10.16/sorting/natural.js" />
    -->

    <apex:includeScript value="{!URLFOR($Resource.buttons,'dataTables.buttons.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.buttons,'buttons.flash.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.buttons,'buttons.html5.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.buttons,'buttons.print.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.ajax,'jszip.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.pdfmake,'pdfmake.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.pdfmake,'vfs_fonts.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.plugin,'natural.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/new/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/call-territorry/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/Filter/style.css')}"/>
    
        <style>
        .sign {
            font-size: 50px;
            line-height: 26px;
            display: inline-block;
            float: right;
        }
        .sign.sign1 { font-size: 30px;}
        .slds-scope .slds-input.input12 { width: calc(100% - 20px); float: left; }
        .metricsPanel .slds-text-body_regular .slds-truncate { float: left;  margin-right: 5px; font-size:11px !important; }
        .slds-text-align_right{font-size: 11px;}
        .calltable {}
        .slds-scope .slds-table.calltable { background-color: transparent; }
        .slds-scope .data4 .slds-table.calltable tr {   line-height: initial; } 
        .slds-scope .slds-table.calltable td { padding: 0px; }
            .data4 .slds-text-heading_large { text-align: center; width: 100%; float: none; }
            .data4 .slds-float_right.slds-text-body_regular { width: 100%; }
#sliderContent {
  /*width: 98%;
  position: relative;*/
  padding-left: 1%;
  padding-right: 1%;
}

.viewer {
 /* width: 100%;*/
  height: 150px;  
  overflow: hidden;
  position: relative;
}

.content-conveyor {
  width: 100%;
  height: 150px;
  position: relative;
}

.item {
  /*width: 304px;
  float: left; padding-right: 0.5rem;*/
  /*width:200px;*/
  float: left; 
  margin-right: 5px;
  margin-left: 5px;
  /*padding-right: 0.18rem;
  padding-left: 0.17rem;*/
}

#prev,
#next {
  /*position: absolute;
  bottom: 0px;
  font-size: 10px;
  cursor: pointer;
  background: #000;
  color: #fff;
  padding: 0 4px;*/
  position: absolute;
  bottom: 65px;
  font-size: 40px;
  cursor: pointer;
  background: #fff;
  color: #000;
  padding: 0 0px;
}

/*#prev:hover,
#next:hover {
  background: #ccc;
  color: #000;
}*/

#prev {
  left: -7px;
}

#next {
  right: -5px;
}
.slds-scope .slds-modal_medium .slds-modal__container, .slds-scope .slds-modal_medium .slds-modal__container { width: 80%; max-width: 80%; }
.black-color { color: #000;}
.slds-scope table.popuptable, .popuptable1 { width: 610px; margin: 0 auto; }
.popuptable1 { margin-top: 5px;}
.popuptable td { padding: 0.5rem; }
.popuptable .slds-input{ width: 100px; }
.dataTables_wrapper .dataTables_filter input {
      border: 1px;
    border-style: double;
}
.slds-scope #table1_wrapper .slds-table td { height: 30px; padding-top: 0px; padding-bottom: 0px; }
.div-search { margin-top: 0px; }
.dataTables_wrapper .dataTables_filter input { min-height: calc(1.875rem + (1px * 2)); line-height: 1.875rem; border: 1px solid #d8dde6; } 
#table1_wrapper td select, #table1_wrapper td input[type="number"] {  width: calc(100% - (22px + .5rem)) ;}
.slds-scope { width: 100vw;  }
    </style>
    <div class="slds-scope">  
    <apex:form id="form"> 

        <!-- Table loading section -->
        <apex:outputpanel id="r" style="z-index:1100;" >
            <apex:actionstatus id="mystatus">
                <apex:facet name="start">
                     <div class="slds-spinner_container slds-is-fixed">
                        <div role="status" class="slds-spinner slds-spinner_medium">
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionstatus>
        </apex:outputpanel>

     <apex:outputPanel >
            <apex:outputPanel id="dataTablePanel">
                <script>

                var clickToZoomIconLabel='Tree';
                var clicktoChangeColorLabel='Tree';
                var bulkSearchInputLimit='Tree';
                var nonFieldPositionLabel='Tree';
                var treeNodeIconLabel ='Tree';
                var searchLabel='Tree';
                var closeLabel='Tree';
                var changeRequestPendingLabel='Tree';
                
                var editSubmissionPendingLabel='Tree';
                var deleteSubmissionPendingLabel='Tree';

                var rowLength;
                var sessionTable;
                var updatedRecs = {};
                var prflupdatedRecs ={};
                var droprecs={};
                var idRecMap = {};
                var sortDir = 'asc';
                var sortCol = 1;
                var $j = jQuery.noConflict(); 
               
                               
                rowLength= ($j('.slds-scope').width())-20;
                var i = 0;
               
                $j(function() {
                    sessionTable = $j('#table1').DataTable({
                        "info": false,
                        "searching": true,
                        "lengthChange": false,
                        "pageLength": 10,
                        "processing": false,
                        "dom": '<"div-pg"><"div-search"f><"div-tbl"p>t<"bottom-info">', // f search, p :- pagination , l:- page length 
                        "data": '',
                        "order": [
                            [3, "asc"]
                        ],
                        paging: true,
                        // "responsive": true,
                       // scrollY: "500px",
                        scrollX: true,
                        fixedColumns:   {
                        leftColumns: 4
                     }, 
                     "autoWidth": false,
                        "sScrollXInner": "150%",
                        scrollCollapse: true, 
                        "language": {
                            "emptyTable": " ",
                            "search" : "{!$Label.axtriaarsnt__pacp_search}",
                            "paginate": {
                              "previous": "{!$Label.axtriaarsnt__pacp_previous}",
                              "next":"{!$Label.axtriaarsnt__pacp_next}"
                            }
                        },
                        
                       
                    });

                  

                    $j('table').addClass('table-example');


                });
                </script> 
            </apex:outputPanel>
        </apex:outputPanel>


       <div class=" slds-p-bottom_x-small slds-form-element slds-size_5-of-5" style="padding-bottom:0px"> 
        <div id="sliderContent" >   
        <apex:outputPanel id="metricsPanel" layout="block" styleClass="metricsPanel viewer" >
        <div class="content-conveyor ui-helper-clearfix">
            <div class="item">

              <div class="slds-box slds-p-around_none" style="height: 94px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
                <div style=" height:83px;">
                      <div style="font-size:12px; font-weight:600;text-align:center;margin-left:10px; margin-top:10px;">{!percentageTotalHcps}%</div>
                      <div style="padding: 9px;">
                        <table class="table-example-cards" style="font-size:13px;"> 
                          <tbody>
                            <tr><td>
                            <div class="slds-truncate">{!$Label.axtriaarsnt__gn_original1}:</div>
                            </td>
                            <td class="slds-text-align_right">{!originaltotalHCPs}
                            </td></tr>
                            <tr><td>
                            <div class="slds-truncate">{!$Label.axtriaarsnt__updated}:</div>
                            </td>
                            <td class="slds-text-align_right">{!totalHCPs}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                </div>
                <div style="padding-left: 0px;">
                    <div class="slds-grid" style="font-size: .75rem;">
                        <div class="slds-frame bgRed slds-size--1-of-2 slds-p-around_x-small " style="border-bottom-left-radius: 0.5em;"> 
                          <apex:outputpanel >
                          <a href="#" style=" color:white;">{!phyDropped} </a>{!$Label.axtriaarsnt__dropped}
                          </apex:outputpanel> 
                        </div>
                        <div class="slds-frame bgGreen slds-size--1-of-2 slds-p-around_x-small "  style="border-bottom-right-radius: 0.5em;"> 
                             <apex:outputpanel >
                             <a href="#" style=" color:white;">{!phyAdded} </a>{!$Label.axtriaarsnt__added}
                           </apex:outputpanel>
                         </div>
                    </div>
                </div>
              </div>
          </div>
        <apex:repeat value="{!cimConfigWrapperLst}" var="object">
          <div class="item">
                <div class="slds-box slds-p-around_none data4" style="border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
                  <div class="slds-p-left_x-small slds-p-right_x-small slds-p-top_x-small slds-p-bottom_none">
                      <div class="slds-p-bottom_large slds-clearfix" style="height: 85px;padding:0; ">
                        <!-- <div class="slds-float_left slds-text-heading_large " style="font-size: 20px;">{!newupdatedcallsperdaystring}% </div> --> 
                        <div style="font-weight:600;text-align: center ">{!object.percentVal}% </div>
                        <div class="slds-float_right slds-text-body_regular">

                          <apex:outputPanel rendered="{!if(object.isCallCapacity,false,true)}">
                            <table class="slds-table slds-no-row-hover calltable">
                            <tbody>
                            <tr>
                               <td><apex:outputPanel rendered="{!if(object.showOriginal,true,false)}"><div class="slds-truncate">{!object.originalName}</div></apex:outputPanel></td>
                                <td class="slds-text-align_right"><apex:outputPanel rendered="{!if(object.showOriginal,true,false)}">{!object.originalVal}</apex:outputPanel></td>
                            </tr>
                            <tr>
                                <td><apex:outputPanel rendered="{!if(object.showOptimum,true,false)}"><div class="slds-truncate">{!object.optimumName}</div></apex:outputPanel></td>
                                <td class="slds-text-align_right"><apex:outputPanel rendered="{!if(object.showOptimum,true,false)}">{!object.optimumVal}</apex:outputPanel></td>
                            </tr>
                            <tr>
                                <td><apex:outputPanel rendered="{!if(object.showProposed,true,false)}"><div class="slds-truncate">{!object.proposedName}</div></apex:outputPanel></td>
                                <td class="slds-text-align_right"><apex:outputPanel rendered="{!if(object.showProposed,true,false)}">{!object.proposedVal}</apex:outputPanel></td>
                            </tr>
                            <tr>
                                <td><apex:outputPanel rendered="{!if(object.showApproved,true,false)}"><div class="slds-truncate">{!object.approvedName}</div></apex:outputPanel></td>
                                <td class="slds-text-align_right"><apex:outputPanel rendered="{!if(object.showApproved,true,false)}">{!object.approvedVal}</apex:outputPanel></td>
                            </tr>
                            </tbody>
                            </table>
                          </apex:outputPanel>

                    

                          <apex:outputPanel rendered="{!if(object.isCallCapacity,true,false)}">
                              <table class="slds-table slds-no-row-hover calltable">
                              <tbody>
         <tr style="display: {!IF(mccpenabled, 'table-row', 'none')};">
                                    <td><div class="slds-truncate">Optimum Value (hrs)</div></td>
                                    <td class="slds-text-align_right">{!object.targetVal}</td>
                                </tr>
                              <tr style="display: {!IF(NOT(mccpenabled), 'table-row', 'none')};">
                                  <td><div class="slds-truncate">{!object.optimumName}</div></td>
                                  <td class="slds-text-align_right">{!object.targetVal}</td>
                              </tr>
        <tr style="display: {!IF(mccpenabled, 'table-row', 'none')};">
                                <td><div class="slds-truncate">Proposed Value (hrs)</div></td>
                                <td class="slds-text-align_right">{!object.actualVal}</td>
                             </tr>
                              <tr style="display: {!IF(NOT(mccpenabled), 'table-row', 'none')};">
                                  <td><div class="slds-truncate">{!object.proposedName}</div></td>
                                  <td class="slds-text-align_right">{!object.actualVal}</td>
                              </tr>
         <tr style="display: {!IF(mccpenabled, 'table-row', 'none')};">
                                <td><div class="slds-truncate">Hours per day Tgt</div></td>
                                <td class="slds-text-align_right">{!object.targetValPerDay}</td>
                             </tr>
                              <tr style="display: {!IF(NOT(mccpenabled), 'table-row', 'none')};">
                                  <td><div class="slds-truncate"> {!$Label.axtriaarsnt__callsperdaytarget}</div></td>
                                  <td class="slds-text-align_right">{!object.targetValPerDay}</td>
                              </tr>
         <tr style="display: {!IF(mccpenabled, 'table-row', 'none')};">
                                <td><div class="slds-truncate">Hours per day Act</div></td>
                                <td class="slds-text-align_right">{!object.actualValPerDay}</td>
                              </tr>
                              <tr style="display: {!IF(NOT(mccpenabled), 'table-row', 'none')};">
                                  <td><div class="slds-truncate">{!$Label.axtriaarsnt__gn_original_calls_per_day}</div></td>
                                  <td class="slds-text-align_right">{!object.actualValPerDay}</td>
                              </tr>

                              <tr>
                                  <td><apex:outputPanel rendered="{!if(object.showOriginal,true,false)}"><div class="slds-truncate">{!object.originalName}</div></apex:outputPanel></td>
                                  <td class="slds-text-align_right"><apex:outputPanel rendered="{!if(object.showOriginal,true,false)}">{!object.originalVal}</apex:outputPanel></td>
                              </tr>

                              <tr>
                                  <td><apex:outputPanel rendered="{!if(object.showApproved,true,false)}"><div class="slds-truncate">{!object.approvedName}</div></apex:outputPanel></td>
                                  <td class="slds-text-align_right"><apex:outputPanel rendered="{!if(object.showApproved,true,false)}">{!object.approvedVal}</apex:outputPanel></td>
                              </tr>
                              </tbody>
                              </table>
                          </apex:outputPanel>
                        </div>
                      </div>
                  </div>
                  </div>
                        <apex:outputpanel rendered="{!if(object.calculatedVal!=null && object.errorThresholdMin!=null && object.errorThresholdMax!=null && ((object.calculatedVal <= object.errorThresholdMin) || (object.calculatedVal >= object.errorThresholdMax)),true,false)}"> 
                          <div class="bgRed slds-p-around_x-small slds-text-body_small slds-text-align_center slds-text-color_inverse" style="border-radius: 0.5em;border-top-left-radius: 0em;border-top-right-radius: 0em;"> {!object.displayName} </div>
                        </apex:outputpanel>
                        <apex:outputpanel rendered="{!if(object.calculatedVal!=null && object.warnThresholdMin!=null && object.warnThresholdMax!=null && object.errorThresholdMax!=null && object.errorThresholdMin!=null && ((object.calculatedVal > object.errorThresholdMin &&  object.calculatedVal <= object.warnThresholdMin) || (object.calculatedVal >= object.warnThresholdMax &&  object.calculatedVal < object.errorThresholdMax)),true,false)}">
                          <div class="bgYellow slds-p-around_x-small slds-text-body_small slds-text-align_center slds-text-color_inverse" style="border-radius: 0.5em;border-top-left-radius: 0em;border-top-right-radius: 0em;"> {!object.displayName} </div>
                        </apex:outputpanel>
                        <apex:outputpanel rendered="{!if(object.calculatedVal!=null && object.warnThresholdMin!=null && object.warnThresholdMax!=null && object.calculatedVal > object.warnThresholdMin && object.calculatedVal < object.warnThresholdMax,true,false)}">
                          <div class="bgGreen slds-p-around_x-small slds-text-body_small slds-text-align_center slds-text-color_inverse" style="border-radius: 0.5em;border-top-left-radius: 0em;border-top-right-radius: 0em;"> {!object.displayName} </div>
                        </apex:outputpanel>
                  </div>
        </apex:repeat>
        </div>
        </apex:outputPanel>
        
  
   
        <div id="prev">&lt;
        </div>
        <div id="slider"></div>
        <div id="next">&gt;</div>
        </div>
 <apex:outputPanel rendered="{!isCallCapacityVisible}">
   <apex:pageBlock >  
   <apex:pageBlocksection collapsible="false" title="Call Capacity Change Summary">
      <apex:dataTable style="width: 830px;" value="{!callCapacityDataList}" var="ccd" id="callCapacityDataListtheTable">
        
        
        <apex:column style="width:25%">
            <apex:facet name="header">KPI</apex:facet>
            <apex:outputText value="{!ccd.name}"/>
        </apex:column>

        <apex:column width="25">
            <apex:facet name="header">Before Change</apex:facet>
             <apex:outputText value="{!ccd.teamInstProdValue}"/>
        </apex:column>
        
         <apex:column width="25">
            <apex:facet name="header">After Change</apex:facet>
            <apex:outputText value="{!ccd.posProdValue}"/>
        </apex:column>
        
         <apex:column width="25">
            <apex:facet name="header">% Change</apex:facet>
            <apex:outputText value="{!ccd.percentChange}"/>
        </apex:column>

    </apex:dataTable>
     </apex:pageBlocksection>
   </apex:pageBlock> 
   </apex:outputPanel>

        </div>
       
        
        <div class=" slds-p-bottom_x-small">
        
        
    
   
    <script>
    $j = jQuery.noConflict();
        function toggleIndicatorContainer1(){
            
            var cont = $j('#indicatorContainer1');
            if (cont.hasClass("shown")){
                console.log("shown")
                cont.slideUp();

                cont.removeClass("shown");
            }else{
                console.log(" not shown")
                cont.slideDown();
                cont.addClass("shown");
            }
        }
        function toggleFilterContainer1(){
            
        }
    </script>
    
    
                  
     </div>
 
    <apex:outputPanel >
        <script>

       
         $j(document).ready(function() //by riya
          {
                roundToTwo();
            });

        function roundToTwo(num) {    
            return +(Math.round(num + "e+2")  + "e-2");
        }
       
       
            
             $j(document).ready(function() //by riya
          {
                scrollcard();
            });
// method added by siva scrolable  summary card
          function scrollcard()
                   {
                    console.log('window width :: '+window.innerWidth);
                    var kpiCardPerWindow = 0;
                    var pageWidth = 0; //item width
                    if(window.innerWidth < 1100){
                        $j('.item').css('width', '190px');
                        $j('#sliderContent').css('width', '97%');
                        $j('#sliderContent').css('float', 'none');
                        kpiCardPerWindow = 3;
                        pageWidth = 200;
                    }else{
                        $j('.item').css('width', '210px');
                        $j('#sliderContent').css('width', '98%');
                        kpiCardPerWindow = 4;
                        pageWidth = 220;
                    } 

                    var conveyor = $j(".content-conveyor", $j("#sliderContent")),
                      item = $j(".item", $j("#sliderContent"));
                      console.log('Length is '+ rowLength);
                     // rowLength = ($j('.slds-size_4-of-5').width())-20;
                     rowLength = ($j('.slds-size_3-of-4').width())-20;
                     // $j('.item').css('width', rowLength/5);

                    //set length of conveyor
                    conveyor.css("width", item.length * parseInt(item.css("width")) + item.length * 10); //10 is added to include space between items

                    console.log(parseInt($j(".viewer", $j("#sliderContent")).css("width")));
                    console.log(parseInt(item.css("width")));

                    //var max = (item.length * parseInt(item.css("width"))) - parseInt($j(".viewer", $j("#sliderContent")).css("width"));
                    var max = item.length * pageWidth;
                    //config
                    var sliderOpts = {
                      max: max,
                      slide: function(e, ui) {
                        conveyor.css("left", "-" + ui.value + "px");
                      }
                    };

                    //create slider
                    $j("#slider").slider(sliderOpts);

                    var pages = Math.ceil(max / pageWidth);
                    $j('#prev, #next').off().on('click',function() { 
                        console.log('in');
                      var current = $j("#slider").slider('value');
                      var to = $j(this).is('#prev') ? current - pageWidth : current + pageWidth;
                      $j('#prev, #next').show();

                      if(item.length <=kpiCardPerWindow){
                        $j('#prev').hide();
                        $j('#next').hide();
                      }
                      else if (to <= 0)
                        $j('#prev').hide();
                      else if (to >= max - (pageWidth*(kpiCardPerWindow-1))) //4 is no of slides shown at one time
                        $j('#next').hide();

                      $j("#slider").slider('value', to);
                      sliderOpts.slide(null, {
                        value: to
                      });
                    });
                    $j('#prev').trigger('click'); // init
            }
              
       
            
            function AllcallCapacityChange()
            {
                /*TIAZtoCallsperdaymap = JSON.parse(String($j('[id$="TIProductposProdInnerMapString"]').val()));
                console.log('TIAZtoCallsperdaymap');
                console.log(TIAZtoCallsperdaymap);*/
                
                for (var CPDid in TIAZtoCallsperdaymap) 
                {
                                var CPDval = TIAZtoCallsperdaymap[CPDid];
                                //var CPDid = (changedRec.id).replace('_Calls_Day','');
                                
                                var EffectiveDays = roundToTwo(parseFloat($j('[id$="EffectiveDays"]').val()));
                                
                                /*if (isNaN(CPDval) || CPDval < 0) {
                                    alert('Please Enter a valid Number');
                                    $j('[id$="'+CPDid+'_Calls_Day"]').val('0');
                                    CPDval = 0;
                                }*/
                                console.log(CPDval);
                                console.log(CPDid);
                                
                                var OldCallCapacity = roundToTwo(parseFloat($j('[id$="'+CPDid+'_Call_Capacity"]').val()));
                                var OldTotalCallCapacity = roundToTwo(parseFloat($j('[id$="TotalCallCapacity"]').val()));
                                
                                var CallCapacity = roundToTwo(EffectiveDays * CPDval);
                                
                                var TotalCallCapacity = roundToTwo(OldTotalCallCapacity + (parseFloat(CallCapacity) - parseFloat(OldCallCapacity)));
                                
                                console.log('EffectiveDays' + EffectiveDays);
                                console.log('OldTotalCallCapacity' + OldTotalCallCapacity);
                                console.log('CallCapacity' + CallCapacity);
                                console.log('OldCallCapacity' + OldCallCapacity);
                                console.log('TotalCallCapacity' + TotalCallCapacity);
                                
                                $j('[id$="'+CPDid+'_Call_Capacity"]').val(CallCapacity);

                                $j('[id$="TotalCallCapacity"]').val(TotalCallCapacity);
                                
                                TIAZtoCallsperdaymap[String(CPDid)] = roundToTwo(parseFloat(String(CPDval)));
                                
                                console.log('TIAZtoCallsperdaymap');
                                console.log(TIAZtoCallsperdaymap);
                                
                }
               
                
            }

           
           
        
    </script>
        </apex:outputPanel>

    </apex:form>
</div>
  </apex:page>