<apex:page controller="CompareAnalysisCtrl" sidebar="false" docType="html-5.0">
  <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
  <apex:slds />
<!--  <apex:stylesheet value="{!$Resource.appCss}"/> -->
  <apex:stylesheet value="{!$Resource.SnTCss}"/>
    <!-- <apex:stylesheet value="{!URLFor($Resource.font_awesome, 'css/font-awesome.css')}"/>
    <apex:stylesheet value="{!URLFor($Resource.multi_select, 'css/multi-select.css')}"/> -->
    <apex:includeScript value="{!$Resource.jquery_1_12_4_min}" />
    <apex:includeScript value="{!URLFor($Resource.multi_select, 'js/jquery.multi-select.js')}" />
   <apex:includeScript value="{!URLFOR($Resource.highchart, 'highcharts.js')}" />
   <apex:includeScript value="{!URLFOR($Resource.highchart, 'modules/venn.js')}" />

    <!-- <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/venn.js"></script> -->
    <!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->
    <!-- <script src="https://code.highcharts.com/modules/accessibility.js"></script> -->
    <apex:includeScript value="{!URLFOR($Resource.highchart, 'modules/accessibility.js')}" />
    <apex:form >
    <div id="myDIV">
      <apex:actionstatus id="status">
          <apex:facet name="start">
              <div class="slds-spinner_container slds-is-fixed">
                  <div role="status" class="slds-spinner slds-spinner_medium">
                      <span class="slds-assistive-text">Loading</span>
                      <div class="slds-spinner__dot-a"></div>
                      <div class="slds-spinner__dot-b"></div>
                  </div>
              </div>
          </apex:facet>
      </apex:actionstatus>

      <style>
        html body.sfdcBody{padding: 0 !important;}
        td:last-child, .tablePanel tr:last-child, .tablePanel th:last-child   { font-weight: bold;}
        .tooltip { backgroundColor: '#FCFFC5', borderColor: 'black', borderRadius: 10, borderWidth: 3}
      </style>
      <apex:actionFunction name="actFunc" action="{!redirectToPage}" rerender="none" status="status"/>

      <apex:inputHidden id="baseRuleName" value="{!baseRuleName}"/>
      <apex:inputHidden id="compareRuleName" value="{!compareRuleName}"/>
     <div class="slds-p-horizontal_none slds-p-vertical_none">
          <div class="slds-page-header  slds-p-around_x-small">
              <div class="slds-media">
                  <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-standard-apps-admin">
                      <svg class="slds-icon slds-icon--medium" aria-hidden="true">
                        <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#apps_admin')}" />
                      </svg>
                    </span>
                  </div>
                  <div class="slds-media__body">
                      <div class="slds-float_right" style="width: 200px">
                            <apex:selectList value="{!selectedSimulation}" styleclass="slds-select" multiselect="false" size="1" onchange="actFunc();">
                                <apex:selectOptions value="{!allSimulations}" />
                            </apex:selectList>
                        </div>
                      <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Comparative Analysiss">Comparative Analysis</h1>
                      <c:SLDSPageMessage id="pgmsg" PageMessages="{!PageMessages}"/>
                  </div>
              </div>
          </div>
        </div>
           <div class="slds-p-horizontal_medium">
          <!--<apex:pageMessages id="pgmsg" escape="false"/>-->
            <div class="slds-p-top_small">
                <div class="slds-form slds-form_compound">
                    <fieldset class="slds-form-element">
                        <div class="slds-form-element__group">
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-6">
                                    <label class="slds-form-element__label">{!$Label.gn_cycle}</label>
                                    <div class="slds-form-element__control">
                                        <div>
                                          <apex:outputPanel id="select_source_cycle">
                                            <apex:outputPanel layout="block" styleClass="slds-select_container">
                                              <apex:selectList value="{!selectedSourceCycle}" multiselect="false" styleClass="slds-select" size="1">
                                                    <apex:actionSupport event="onchange" action="{!fillSourceBusinessUnitOptions}" reRender="select_source_bu,select_source_prod,select_source_rule,pgmsg"  status="status"/>
                                                    <apex:selectOptions value="{!sourceCycles}"/>
                                              </apex:selectList>
                                            </apex:outputPanel>
                                          </apex:outputPanel>
                                        </div>
                                    </div>
                                </div>
                                
                                <apex:outputPanel layout="block" styleclass="slds-form-element slds-size_1-of-6">
                                      <label class="slds-form-element__label" >{!$Label.Business_Unit}</label>
                                      <div class="slds-form-element__control">
                                          <div>
                                              <apex:outputPanel id="select_source_bu">
                                                  <apex:outputPanel layout="block" styleClass="slds-select_container">
                                                      <apex:selectList value="{!selectedSourceBusinessUnit}" multiselect="false" styleClass="slds-select" size="1">
                                                          <apex:actionSupport event="onchange" action="{!fillSourceProductOptions}" reRender="select_source_rule,select_source_prod,pgmsg" status="status"/>
                                                          <apex:selectOptions value="{!sourceBusinessUnits}"/>
                                                      </apex:selectList>
                                                  </apex:outputPanel>
                                              </apex:outputPanel>
                                          </div>
                                      </div>
                                  
                                </apex:outputPanel>
                                <apex:outputPanel layout="block" styleclass="slds-form-element slds-size_1-of-6">
                                   <!-- Label Added by RT for SR-37 on 23rdJul,2020 -->

                                    <label class="slds-form-element__label">{!$Label.axtriaarsnt__pacp_product}</label>
                                    <div class="slds-form-element__control">
                                        <div>
                                            <apex:outputPanel id="select_source_prod">
                                                <apex:outputPanel layout="block" styleClass="slds-select_container">
                                                    <apex:selectList value="{!selectedSourceProduct}" multiselect="false" styleClass="slds-select" size="1">
                                                      <apex:actionSupport event="onchange" action="{!fillSourceRuleOptions}" reRender="select_source_rule,pgmsg" status="status"/><!-- select_destination_rule reRender="parameterPanel"-->
                                                        <apex:selectOptions value="{!sourceProducts}"/>
                                                    </apex:selectList>
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                        </div>
                                    </div>
                                    
                                </apex:outputPanel>
                                <apex:outputPanel layout="block" styleclass="slds-form-element slds-size_1-of-6">
                                    <label class="slds-form-element__label">Base S&amp;T Rule</label>
                                    <div class="slds-form-element__control">
                                        <div>
                                            <apex:outputPanel id="select_source_rule">
                                                <apex:outputPanel layout="block" styleClass="slds-select_container">
                                                    <apex:selectList value="{!selectedSourceRule}" multiselect="false" styleClass="slds-select" size="1">
                                                        <apex:selectOptions value="{!sourceRules}"/>
                                                    </apex:selectList>
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                            
                                        </div>
                                    </div>

                                </apex:outputPanel>
                                <div class="slds-form-element slds-size_1-of-6"> 
                                </div>
                                <div class="slds-form-element slds-size_1-of-6"> 
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="slds-p-around_small demo-only" style="background: #f6f6f6;">
              <div class="slds-p-bottom_small">Compare With</div>
                <div class="slds-form slds-form_compound">
                    <fieldset class="slds-form-element">
                        <div class="slds-form-element__group">
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-6">
                                    <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_cycle}</label>
                                    <div class="slds-form-element__control">
                                        <div>
                                          <apex:outputPanel id="select_destination_cycle">
                                            <apex:outputPanel layout="block" styleClass="slds-select_container">
                                              <apex:selectList value="{!selectedDestinationCycle}" multiselect="false" styleClass="slds-select" size="1">
                                                    <apex:actionSupport event="onchange" action="{!fillDestinationBusinessUnitOptions}" reRender="select_destination_bu,select_destination_prod,select_destination_rule,pgmsg"  status="status"/>
                                                    <apex:selectOptions value="{!destinationCycles}"/>
                                              </apex:selectList>
                                            </apex:outputPanel>
                                          </apex:outputPanel>
                                        </div>
                                    </div>
                                </div>
                                
                                <apex:outputPanel layout="block" styleclass="slds-form-element slds-size_1-of-6">
                                      <label class="slds-form-element__label" >{!$Label.Business_Unit}</label>
                                      <div class="slds-form-element__control">
                                          <div>
                                              <apex:outputPanel id="select_destination_bu">
                                                  <apex:outputPanel layout="block" styleClass="slds-select_container">
                                                      <apex:selectList value="{!selectedDestinationBusinessUnit}" multiselect="false" styleClass="slds-select" size="1">
                                                          <apex:actionSupport event="onchange" action="{!fillDestinationProductOptions}" reRender="select_destination_rule,select_destination_prod,pgmsg" status="status"/>
                                                          <apex:selectOptions value="{!destinationBusinessUnits}"/>
                                                      </apex:selectList>
                                                  </apex:outputPanel>
                                              </apex:outputPanel>
                                          </div>
                                      </div>
                                  
                                </apex:outputPanel>
                                <apex:outputPanel layout="block" styleclass="slds-form-element slds-size_1-of-6">
                                  <!-- Label Added by RT for SR-37 on 23rdJul,2020 -->

                                    <label class="slds-form-element__label">{!$Label.axtriaarsnt__pacp_product}</label>
                                    <div class="slds-form-element__control">
                                        <div>
                                            <apex:outputPanel id="select_destination_prod">
                                                <apex:outputPanel layout="block" styleClass="slds-select_container">
                                                    <apex:selectList value="{!selectedDestinationProduct}" multiselect="false" styleClass="slds-select" size="1">
                                                      <apex:actionSupport event="onchange" action="{!fillDestinationRuleOptions}" reRender="select_destination_rule,pgmsg" status="status"/><!-- select_destination_rule reRender="parameterPanel"-->
                                                        <apex:selectOptions value="{!destinationProducts}"/>
                                                    </apex:selectList>
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                        </div>
                                    </div>
                                    
                                </apex:outputPanel>
                                <apex:outputPanel layout="block" styleclass="slds-form-element slds-size_1-of-6">
                                    <label class="slds-form-element__label">Compare S&amp;T Rule</label>
                                    <div class="slds-form-element__control">
                                        <div>
                                            <apex:outputPanel id="select_destination_rule">
                                                <apex:outputPanel layout="block" styleClass="slds-select_container">
                                                    <apex:selectList value="{!selectedDestinationRule}" multiselect="false" styleClass="slds-select" size="1">
                                                        <apex:selectOptions value="{!destinationRules}"/>
                                                    </apex:selectList>
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                            
                                        </div>
                                    </div>

                                </apex:outputPanel>
                                <div class="slds-form-element slds-size_1-of-6">
                                    <label class="slds-form-element__label">&nbsp;</label>
                                    <div class="slds-form-element__control">
                                        <div>
                                            <apex:commandButton action="{!compareFunction}" onclick="hidetables();" value="Compare" styleClass="slds-button slds-button_brand" reRender="tablePanel,targetsCharts,allUniverseCharts,select_analysis_type,baseRuleName,compareRuleName,pgmsg,showSegmentTableVal" oncomplete="showTable();" status="status"/>                                            
                                        </div>
                                    </div> 
                                </div>
                                <div class="slds-form-element slds-size_1-of-6"> 
                                  <label class="slds-form-element__label">Analysis Type</label>
                                    <div class="slds-form-element__control">
                                        <div>
                                            <apex:outputPanel id="select_analysis_type">
                                                <apex:outputPanel layout="block" styleClass="slds-select_container">
                                                    <apex:selectList value="{!selectedAnalysisType}" multiselect="false" styleClass="selectedAnalysisType slds-select" size="1" onchange="changeAnalysisType();">
                                                      <apex:selectOptions value="{!analysisTypeList}"/>
                                                    </apex:selectList>
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <script>
              var $j = jQuery.noConflict();


              function changeAnalysisType(){
                console.log('selected analysis type --> ' + $j('.selectedAnalysisType').val());
                let selAnalType = $j('.selectedAnalysisType').val();
                if(selAnalType == 'Overlap Summary'){
                  $j('.tablePanel').addClass('slds-hide');
                  $j('.allUniverseCharts').removeClass('slds-hide');
                  $j('.targetsCharts').removeClass('slds-hide');
                }
                else if(selAnalType == 'Segment Membership'){
                  $j('.allUniverseCharts').addClass('slds-hide');
                  $j('.targetsCharts').addClass('slds-hide');
                  $j('.tablePanel').removeClass('slds-hide');
                }

              }

              $j(document).ready(function() {
                $j('.allUniverseCharts').addClass('slds-hide');
                $j('.targetsCharts').addClass('slds-hide');
                $j('.tablePanel').addClass('slds-hide');
              });

              function hidetables(){
                $j('.allUniverseCharts').addClass('slds-hide');
                $j('.targetsCharts').addClass('slds-hide');
                $j('.tablePanel').addClass('slds-hide');
              }

            </script>

            <apex:outputPanel id="showSegmentTableVal">
              <script>
                function showTable()
                {
                  let showTableVal = '{!showSegmentTable}'
                  console.log("showTableVal --> " + showTableVal);
                  if(showTableVal == 'false')
                  {
                    hidetables();
                  }
                  else{
                    $j('.tablePanel').addClass('slds-hide');
                  }                  
                }
              </script>
            </apex:outputPanel>

          <div class="slds-grid slds-gutters">
            <div class="slds-col box-1" style="margin:2% 1% 2% 2%;" >
              <div style="width:90%; margin-left:5%;">
              <apex:outputPanel styleClass="allUniverseCharts" id="allUniverseCharts" >
                          <div class="demo-only" style="padding:0.5rem;">
                           <div class="slds-text-title_caps slds-text-align--center">Universe Summary</div>
                          </div>
                          
                            <div> 
                              <figure class="highcharts-figure slds-text-align--center">
                                  <div id="container_all"  style="height: 220px;  "></div>
                              </figure>
                            </div>
                            <div class="slds-text-align--center slds-p-bottom_medium">
                              <apex:outputPanel layout="block" style="padding-top: 1rem;">
                                            <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered slds-border--left slds-border--right" >
                                                <thead>
                                                </thead>
                                                <tbody>
                                                    <tr class="slds-text-title_caps">
                                                      <td>{!baseRuleName} : Customer Universe</td>
                                                      <td>{!wrapperAll.totalBase}</td>
                                                      <td></td>
                                                    </tr>
                                                    <tr class="slds-text-title_caps">
                                                      <td>{!compareRuleName} : Customer Universe</td>
                                                      <td>{!wrapperAll.totalCompare}</td>
                                                      <td></td>
                                                    </tr>
                                                    <tr class="slds-text-title_caps">
                                                      <td>Customers In Common</td>
                                                      <td>{!wrapperAll.common}</td>
                                                      <td>{!wrapperAll.commonPerCent}%</td>
                                                    </tr>
                                                    <tr class="slds-text-title_caps">
                                                      <td>Customers Added</td>
                                                      <td>{!wrapperAll.addedVal}</td>
                                                      <td>{!wrapperAll.addedPerCent}%</td>
                                                    </tr>
                                                    <tr class="slds-text-title_caps">
                                                      <td>Customers Dropped</td>
                                                      <td>{!wrapperAll.droppedVal}</td>
                                                      <td>{!wrapperAll.droppedPerCent}%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                          </apex:outputPanel>
                            </div>
                            <script>
                              Highcharts.setOptions({
                                  colors: ['#CBE4F9', '#F9EBDF', '#CDF5F6']
                              });
                              Highcharts.chart('container_all', {
                                  accessibility: {
                                      point: {
                                          descriptionFormatter: function (point) {
                                              var intersection = point.sets.join(', '),
                                                  name = point.name,
                                                  ix = point.index + 1,
                                                  val = point.value;
                                              return ix + '. Intersection: ' + intersection + '. ' +
                                                  (point.sets.length > 1 ? name + '. ' : '') + 'Value ' + val + '.';
                                          }
                                      }
                                  },
                                  credits: {
                                      enabled: false
                                  },
                                  series: [{
                                      type: 'venn',
                                      name: null,
                                      data: [{
                                          sets: ['Base Customer Universe'],
                                          value: {!wrapperAll.dropped}
                                      }, {
                                          sets: ['Compare Customer Universe'],
                                         value: {!wrapperAll.added}

                                      },{
                                          sets: ['Base Customer Universe', 'Compare Customer Universe'],
                                          value: {!wrapperAll.common},
                                          name: 'Common Customers'
                                      }]
                                  }],
                                  title: null
                              });
                            </script>
                     </apex:outputPanel>
              </div>
            </div>
            <div class="slds-col box-1"  style="margin:2% 2% 2% 1%;" >
              <div style="width:90%; margin-left:5%;">
              <apex:outputPanel styleClass="targetsCharts" id="targetsCharts" >
                <div class="demo-only" style="padding:0.5rem;">
                 <div class="slds-text-title_caps slds-text-align--center">Target Summary</div>
                </div>
                 <div>
                  <figure class="highcharts-figure ">
                      <div id="container"  style="height: 220px;  "></div>
                  </figure>
                 </div>
                  <div class="slds-text-align--center slds-p-bottom_medium">
                     <apex:outputPanel layout="block"  style="padding-top: 1rem;">
                        <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered slds-border--left slds-border--right" >
                            <thead>
                            </thead>
                            <tbody>
                                <tr class="slds-text-title_caps">
                                  <td>{!baseRuleName} : Targets</td>
                                  <td>{!wrapperTargets.totalBase}</td>
                                  <td></td>
                                </tr>
                                <tr class="slds-text-title_caps">
                                  <td>{!compareRuleName} : Targets</td>
                                  <td>{!wrapperTargets.totalCompare}</td>
                                  <td></td>
                                </tr>
                                <tr class="slds-text-title_caps">
                                  <td>Targets In Common</td>
                                  <td>{!wrapperTargets.common}</td>
                                  <td>{!wrapperTargets.commonPerCent}%</td>
                                </tr>
                                <tr class="slds-text-title_caps">
                                  <td>Targets Added</td>
                                  <td>{!wrapperTargets.addedVal}</td>
                                  <td>{!wrapperTargets.addedPerCent}%</td>
                                </tr>
                                <tr class="slds-text-title_caps">
                                  <td>Targets Dropped</td>
                                  <td>{!wrapperTargets.droppedVal}</td>
                                  <td>{!wrapperTargets.droppedPerCent}%</td>
                                </tr>
                            </tbody>
                        </table>
                      </apex:outputPanel>
                  </div>


                    <script>
                      Highcharts.setOptions({
                          colors: ['#CBE4F9', '#F9EBDF', '#CDF5F6']
                      });
                      Highcharts.chart('container', {
                          accessibility: {
                              point: {
                                  descriptionFormatter: function (point) {
                                      var intersection = point.sets.join(', '),
                                          name = point.name,
                                          ix = point.index + 1,
                                          val = point.value;
                                      return ix + '. Intersection: ' + intersection + '. ' +
                                          (point.sets.length > 1 ? name + '. ' : '') + 'Value ' + val + '.';
                                  }
                              }
                          },
                          credits: {
                              enabled: false
                          },
                          series: [{
                              type: 'venn',
                              name: null,
                              data: [{
                                  sets: ['Base Targets'],
                                  value: {!wrapperTargets.dropped}
                              }, {
                                  sets: ['Compare Targets'],
                                  value: {!wrapperTargets.added}
                              },{
                                  sets: ['Base Targets', 'Compare Targets'],
                                  value: {!wrapperTargets.common},
                                  name: 'Common Targets'
                              }]
                          }],
                          title: null
                      });
                    </script>
            </apex:outputPanel>
             </div>
            </div>
          </div>



            

            <apex:outputPanel layout="block" styleClass="tablePanel  slds-p-bottom_medium box-1" id="tablePanel" style="width: 70%; margin-left:15%; ">
              <div class="slds-text-title_caps slds-text-align--center slds-p-vertical_medium"><strong>{!compareRuleName}</strong></div>
              <div class="slds-grid">
                <div class="slds-frame compRuleName slds-text-align--center">
                  <p class="slds-text-title_caps slds-p-horizontal_medium" style="writing-mode: vertical-rl;"><strong>{!baseRuleName}</strong></p>
                </div>
                <div class="slds-frame " style="width: 100%">
                  <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered slds-border--left slds-border--right ">
                      <thead>
                        <tr class="slds-text-title_caps">
                          <th scope="col"></th>
                          <apex:repeat value="{!setOfSegmentHeadersList}" var="destSeg">
                            <th scope="col">{!destSeg}</th>
                          </apex:repeat>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <apex:repeat value="{!mapofSourceSegToDestSegMap}" var="sourceSeg">
                          <tr class="slds-text-title_caps">
                            <td>{!sourceSeg}</td>
                            <apex:repeat value="{!setOfSegmentHeadersList}" var="destSeg">
                              <td>{!mapofSourceSegToDestSegMap[sourceSeg][destSeg]}</td>
                            </apex:repeat>
                            <td><strong>{!mapofSourceSegToDestSegMap[sourceSeg]['Total']}</strong></td>
                          </tr>
                        </apex:repeat>
                      </tbody>
                  </table>
                </div>
              </div>
              <script>
                $j('.compRuleName .slds-text-title_caps').height($j('.compRuleName').height());
              </script>
            </apex:outputPanel>            
      </div>
    </div>
     <script>
     window.onload = function(){
        var body = document.body,
        html = document.documentElement;
    
        var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
        var width = Math.max(body.scrollWidth, body.offsetWidth, html.clientWidth, html.scrollWidth, html.offsetWidth );
        var ratio =  window.devicePixelRatio;

        if(ratio == 1){
            document.getElementById("myDIV").style.zoom = 1; }

        else if(ratio > 1){
            document.getElementById("myDIV").style.zoom = .8;}
        
        else{document.getElementById("myDIV").style.zoom = 1.2;}
       } 

   window.onresize = function(){ 
        var body = document.body,
        html = document.documentElement;
        var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
        var width = Math.max(body.scrollWidth, body.offsetWidth, html.clientWidth, html.scrollWidth, html.offsetWidth );
        var ratio =  window.devicePixelRatio;

        if(ratio == 1){
            document.getElementById("myDIV").style.zoom = 1;}

        else if(ratio > 1){
            document.getElementById("myDIV").style.zoom = .8;}
        else
            {document.getElementById("myDIV").style.zoom = 1.2;}
    }
</script>
  </apex:form>
  </html>
</apex:page>