<apex:page controller="ConcentrationCurveChartCtrl">
    <apex:form >
        
        <div class="slds-frame slds-size--1-of-4 slds-p-right_xx-small" >
            <label class="slds-form-element__label">Team Instance</label>
            <div class="slds-form-element__control">
                <div class="slds-select_container">
                    <apex:selectList styleclass="slds-select"  value="{!selectedTeamInstance}" size="1">
                        <apex:actionSupport event="onchange" action="{!populateCurvedata}" />
                        <apex:selectOptions value="{!allteaminstance}" />
                    </apex:selectList>
                </div>
            </div>
        </div>
                            
        <apex:chart height="400" width="700" data="{!curvedata}">
        	  <apex:axis type="Numeric" position="left" fields="data1" title="Y Axis" grid="true"/>
        	  <apex:axis type="Numeric" position="bottom" fields="name" title="X Axis">
        	</apex:axis>
        	<apex:lineSeries axis="left" fill="true" xField="name" yField="data1" markerType="cross" markerSize="4" markerFill="#FF0000"/>
       </apex:chart>
   
   </apex:form>
</apex:page>