<apex:page controller="Data_Load_Utility_Ctrl">
    <apex:form >
        <b>Team Instance Name</b> - 
        <apex:selectList size="1" value="{!selectedTeamInstanceName}">
            <apex:selectOptions value="{!teamInstanceList}">
            
            </apex:selectOptions>
        </apex:selectList>
        <!-- <b>Created Date</b> - 
        <apex:selectList size="1" value="{!selectedDate}">
            <apex:selectOptions value="{!createdDateList}">
            
            </apex:selectOptions>
        </apex:selectList> -->
        &nbsp;&nbsp;&nbsp;
        <br/><br/>
        <apex:commandButton value="Run PACP Utility" rerender="showmsg" action="{!run_PACP_Batch}" rendered="{!displayPACP}"/><br/>
        
        <br/><br/>
        
        <apex:commandButton value="Run Populate Staging Survey Data Utility" rerender="showmsg" action="{!run_Populate_Staging_Survey_Data_Batch}" rendered="{!displayPopulate_Staging_Survey_Data}"/><br/>
        
        
        <apex:commandButton value="Run Survey Response Utility" rerender="showmsg" action="{!run_Servey_Response_Batch}" rendered="{!displayServey_Response}"/><br/>
        <!--<apex:commandButton value="Run BU Response Utility" rerender="showmsg" action="{!run_BU_Response_Batch}" />-->
        
        <br/><br/>
        
        Servey Question Name:<apex:inputText value="{!qname}" id="qname"/>
        
        <br/>
        
        Account Field API Name:<apex:inputText value="{!accField}" id="accField"/>
        
        <br/><br/>
        
        <apex:commandButton value="Run BU Response Account Field Update Utility" rerender="showmsg" action="{!run_BU_Response_Account_Update_Batch}" rendered="{!displayBU_Response_Account_Update}"/>
        
        <apex:commandButton value="Run BU Response TSF Accessibility Update Utility" rerender="showmsg" action="{!run_BU_Response_TSF_Accessibility_Batch}" rendered="{!displayBU_Response_TSF_Accessibility}"/>
        
        <apex:commandButton value="Run Prod Metrics to Survey Data Utility" rerender="showmsg" action="{!run_Prod_Metrics_to_Survey_Data_Batch}" rendered="{!displayProd_Metrics_to_Survey_Data}"/>
        <br/>
        <apex:commandButton value="Run Position Account TSF Accessibility Update Utility" rerender="showmsg" action="{!run_Pos_Acc_Accessibility_Update_Batch}" rendered="{!displayPos_Acc_Accessibility_Update}"/>
        
        <apex:pageMessages id="showmsg"></apex:pageMessages>
        
        
        <!-- <apex:outputPanel id="messages">
            <apex:pageMessage id="statusRunning"
                              severity="confirm" 
                              strength="1" 
                              summary="The batch is complete!"
                              rendered="{!!batchIsRunning'}">
            </apex:pageMessage>
        </apex:outputPanel>

        <apex:actionPoller enabled="{!batchIsRunning}" 
                           reRender="messages" 
                           interval="5" />  -->
 
        
      
   </apex:form>
</apex:page>