<apex:page controller="Position_Account_Direct_Load" sidebar="false" id="page" doctype="html-5.0">
   
    <apex:slds />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
    <!-- <apex:includeScript value="{$Resource.jquery_min_js}" />
    <apex:includeScript value="{$Resource.jquery_ui_min_js}" />
    <apex:includeScript value="{$Resource.jstree}" /> -->
    <!-- <apex:includeScript value="{$Resource.jsapi}" /> -->
    
    
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'jquery.dataTables.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'dataTables.fixedColumns.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.dataTables,'jquery.dataTables.css')}" />
    <apex:stylesheet value="{!$Resource.customCss}"/>
    <apex:stylesheet value="{!URLFor($Resource.font_awesome, 'css/font-awesome.css')}"/>
    
    <apex:includeScript value="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js" />
    <apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js" />
    <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js" />
    <apex:includeScript value="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js" />
    <apex:includeScript value="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js" />
    <apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js" />
    <apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js" />
    
    <apex:includeScript value="//cdn.datatables.net/plug-ins/1.10.16/sorting/natural.js" />
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/new/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/call-territorry/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/Filter/style.css')}"/>
    
        <style>
        .sign {
            font-size: 50px;
            line-height: 26px;
            display: inline-block;
            float: right;
        }
        .sign.sign1 { font-size: 30px;}
        .slds-scope .slds-input.input12 { width: calc(100% - 20px); float: left; }
        .metricsPanel .slds-text-body_regular .slds-truncate { float: left;  margin-right: 5px; }
        .calltable {}
        .slds-scope .slds-table.calltable { background-color: transparent; }
        .slds-scope .data4 .slds-table.calltable tr {   line-height: initial; } 
        .slds-scope .slds-table.calltable td { padding: 0px; }
            .data4 .slds-text-heading_large { text-align: center; width: 100%; float: none; }
            .data4 .slds-float_right.slds-text-body_regular { width: 100%; }
#sliderContent {
  width: 100%;
  position: relative;
}

.viewer {
  width: 100%;
  height: 150px;  
  overflow: hidden;
  position: relative;
}

.content-conveyor {
  width: 100%;
  height: 150px;
  position: relative;
}

.item {
  width: 304px;
  float: left; padding-right: 0.5rem;
}

#prev,
#next {
  position: absolute;
  bottom: 0px;
  font-size: 10px;
  cursor: pointer;
  background: #000;
  color: #fff;
  padding: 0 4px;
}

#prev:hover,
#next:hover {
  background: #ccc;
  color: #000;
}

#prev {
  left: 5px;
}

#next {
  right: 5px;
}
.slds-scope .slds-modal_medium, .slds-scope .slds-modal_medium { width: 80%; max-width: 80%; }
.popupMsg { width: 50%; max-width: 70%; margin-left: 25%; }
.slds-modal__container, .slds-modal__container {
  width: 40%; max-width: 40%;
}
.black-color { color: #000;}
.slds-scope table.popuptable, .popuptable1 { width: 610px; margin: 0 auto; }
.popuptable1 { margin-top: 5px;}
.popuptable td { padding: 0.5rem; }
.popuptable .slds-input{ width: 100px; }
.dataTables_wrapper .dataTables_filter input {
      border: 1px;
    border-style: double;
}
.slds-scope #table1_wrapper .slds-table td { height: 30px; padding-top: 0px; padding-bottom: 0px; }
#table1_wrapper td select, #table1_wrapper td input[type="number"] {  width: calc(100% - (22px + .5rem)) ;}

    </style>
    <div class="slds-scope">
        
    <apex:form id="form"> 
    
    <apex:outputpanel id="r" style="z-index:1100;" >
            <apex:actionstatus id="mystatus">
                <apex:facet name="start">
                     <div class="slds-spinner_container slds-is-fixed">
                        <div role="status" class="slds-spinner slds-spinner_medium">
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionstatus>
        </apex:outputpanel>
   <script>
var Listacc = '';
    
var $j = jQuery.noConflict();

$j(function(){  
     window.createDataTable=function(records){
     var columnsDataTable = new Array();
     columnsDataTable.push({'data':'Id','title':'Title','defaultcontent':''});
     columnsDataTable.push({'data':'Name','title':'Name','defaultcontent':''});
     columnsDataTable.push({'data':'AccountNumber','title':'Account Number','defaultcontent':''});
     columnsDataTable.push({'data':'AxtriaSalesIQTM__AccountType__c','title':'Account Type','defaultcontent':''});
     columnsDataTable.push({'data':'AxtriaSalesIQTM__Speciality__c','title':'Speciality','defaultcontent':''});
     columnsDataTable.push({'data':'AxtriaARSnT__Country_Code__c','title':'Country','defaultcontent':''});
     
     sessionTable = $j('#maintable').DataTable({
                            "info":         false,
                            "searching":    false,
                            "lengthChange": false,
                            "pageLength":   10,                    
                            "processing":   false,
                            "dom": '<"div-pg"><"div-search"f><"div-tbl"p>t<"bottom-info">', // f search, p :- pagination , l:- page length 
                            "data":  [],
                            paging: true,
                            "bAutoWidth": true,
                             columns: columnsDataTable,

                            scrollY : "500px",
                            scrollX :true,
                            deferloading : true,
                            scrollCollapse: true,
                             buttons: [{
                                //extend: isIE ? 'csvHtml5' : 'excelHtml5',
                                extend : 'csv',
                                text : '',
                                title : 'Position Universe', 
                                
                            }],
                           
                            columnDefs : [
                                //{"targets": [0],"visible": false}, 
                             {
                                 
                                         
                                         targets : 0,

                                         "createdCell": function (td, cellData, rowData, row, col)
                                         {
                                             
                                            var selectHtml = "<input type='checkbox' id='cb1' onchange=\"selectphysicians(this)\" value=false  />";
                                             
                                             $j(td).html(selectHtml);
                                             $j(td).parent().addClass('selectable');
                                             
                                         },
                                        orderable : false
                                        //,
                                        //"visible":false
                                     }
                            ],         
                           "language": {
                            "emptyTable": " ",
                            "search" : "Search",
                            "paginate": {
                             "previous": "previous",
                             "next":"next"
                            }
                        }
                           

                            
                        });
                        sessionTable.clear().rows.add(records).draw(); 
     
     }
     var accountID = new Array();
     window.selectphysicians=function(changedRec) {  
        console.log('changedRec.checked :: '+ changedRec.checked);
        var idx = sessionTable.cell( $j(changedRec).parent()).index().row;
        var val = ($j(changedRec)).val();
        var row = sessionTable.rows(idx).data();
        var data = row.data().toArray()[idx];
        console.log(data);
        if(changedRec.checked){
            if(Listacc.length == 0){
                console.log('accountID is '+ accountID);
                accountID = [];
                console.log('accountID is '+ accountID);
              }
          if(accountID.indexOf(data.Id) == -1){
              accountID.push(data.Id);
          }
        } else{
          var dataIndex = accountID.lastIndexOf(data.Id);
          accountID.splice(dataIndex, 1);
        }
        Listacc = accountID.join();
        console.log("Listacc*******"+Listacc);
        console.log("accountID*******"+accountID);
    }
});


    function AddtoPositionAccount() {
      var SelectedPos = '{!selectedPosition}';
      console.log('========selected position::::' + SelectedPos);
      console.log('accoints=========='+Listacc);
      console.log('Listacc length is ' + Listacc.length);

      if(SelectedPos.length <=0 && Listacc.length <= 0){
        alert('Please Select Account and Position');
      }
      else if(SelectedPos.length <= 0){
        alert('Position is not Selected');
      }
      else if(Listacc.length <= 0){
        alert('Please Select at Least 1 Account');
      }else{
        ctreateposacc('',Listacc);
      }
    }
  


      </script> 
      
      <script type="text/javascript">
    var __sfdcSessionId = '{!GETSESSIONID()}';
    </script>
    <script src="../../soap/ajax/45.0/connection.js"
          type="text/javascript"></script>
    <script type="text/javascript">     window.onload = setupPage;
    function setupPage() {
      //function contains all code to execute after page is rendered

      var state = { //state that you need when the callback is called
          output : document.getElementById("output"),
          startTime : new Date().getTime()};

      var callback = {
          //call layoutResult if the request is successful
          onSuccess: layoutResults,

          //call queryFailed if the api request fails
          onFailure: queryFailed,
          source: state};

      sforce.connection.query(
          "Select id,Name,AccountNumber,AxtriaSalesIQTM__AccountType__c,AxtriaSalesIQTM__Speciality__c,AxtriaARSnT__Country_Code__c from Account WHERE AxtriaARSnT__Country_ID__c='{!countryID}'and AxtriaSalesIQTM__Active__c = 'Active' order by name",
           callback);
      
      
  }

  function queryFailed(error, source) {
      console.log(error);
    //source.output.innerHTML = "An error has occurred: " + error;
  }


  function layoutResults(queryResult, source) {
    if (queryResult.size > 0) {
      var output = "";

      //get the records array
      var records = queryResult.getArray('records');
      console.log(records);
      createDataTable(records);
      
    }
  }
  
  
  function searchBasedOnFilter(){
       var name = $j('[id$="ipTextName"]').val();
       var Speciality = $j('[id$="ipTextCity"]').val();
       var AccountNumber = $j('[id$="ipTextZip"]').val();
       
       var callback = {
          //call layoutResult if the request is successful
          onSuccess: successful,

          //call queryFailed if the api request fails
          onFailure: queryFailed,
          };
      
      var soql="Select id,Name,AccountNumber,AxtriaSalesIQTM__AccountType__c,AxtriaSalesIQTM__Speciality__c,AxtriaARSnT__Country_Code__c from Account WHERE name LIKE '%"+name+"%' and AxtriaSalesIQTM__Active__c = 'Active' "
      
      if(Speciality!='')
        soql += "AND AxtriaSalesIQTM__Speciality__c LIKE '%"+Speciality+"%'"; 
      if(AccountNumber!='')
        soql += " AND AccountNumber LIKE '%"+AccountNumber+"%' "
      soql += " AND AxtriaARSnT__Country_ID__c='{!countryID}'";
      soql += "order by name";
      sforce.connection.query(soql
          ,
           callback);
           
    function successful(queryResult){
        var records = queryResult.getArray('records');
        sessionTable.clear().rows.add(records).draw();
    }
    
    
  }
    window.clearBasedOnFilter=function(){
        //setupPage();
        $j('[id$="ipTextName"]').val('');
        $j('[id$="ipTextCity"]').val('');
        $j('[id$="ipTextZip"]').val('');
        var callback = {
          //call layoutResult if the request is successful
          onSuccess: successful,

          //call queryFailed if the api request fails
          onFailure: queryFailed,
          };
      
        var soql="Select id,Name,AccountNumber,AxtriaSalesIQTM__AccountType__c,AxtriaSalesIQTM__Speciality__c,AxtriaARSnT__Country_Code__c from Account WHERE AxtriaARSnT__Country_ID__c='{!countryID}' and AxtriaSalesIQTM__Active__c = 'Active'";
        sforce.connection.query(soql,callback);
        function successful(queryResult){
            var records = queryResult.getArray('records');
            sessionTable.clear().rows.add(records).draw();
        }
        sessionTable.clear().draw();
        Listacc = '';
    }
  
        

  window.selectAllRecords=function(node)
           {
               console.log("inside method");
    var dec = node.checked;

    var allRows;

    //Set noTableSelectEvent to true to avoid logic on select event
    noTableSelectEvent = true;

    if (dec == true) 
    {
    //SIQ - 231
    console.log("allrow1s************:",sessionTable);
    //var sessionTable = $j('#maintable').DataTable();
 
//table.rows('.important').select();
 console.log("allrow2s************:",sessionTable);
    allRows=sessionTable.rows('.selectable').select();
    console.log("allrows************:",allRows);
    $j("[id*='sel-all']").attr('checked',true);
    }else{
    allRows=sessionTable.rows('.selectable').deselect();
    $j("[id*='sel-all']").attr('checked',false);
    }
        }
 
  </script>
    

        <nav role="navigation" aria-label="Breadcrumbs" class=" slds-p-bottom_small">
           
            <!-- <apex:pageMessages id="errorMessage"/>  -->
            <apex:outputPanel id="breadcrumbPanel">
                <div class="slds-page-header slds-p-around_x-small slds-m-bottom_x-small ">
                  <div class="slds-media">
                  <div class="slds-grid slds-size_1-of-5" style="float:left;width: 315px;">
                      <apex:outputPanel id="treeHierarchy1" rendered="{!IF(allTeamInstance.size> 0, true, false)}">
                          <div class="geo-header1" style="height:40px;    margin-top: -5px;background-color: #f7f9fb">
                              <apex:commandLink id="toggleTree1"  styleClass="slds-button slds-button1 slds-button--icon-border" rerender="none"  title="Hierarchy">
                              <span class="icon-nodes icon-svg"></span>
                              <span class="slds-assistive-text">Tree Hierarchy</span>
                              </apex:commandLink>   
                              <div class="box-toc-hierarchy shadow-right slds-border_top slds-border_right slds-border_bottom slds-border_left" id="treePanel" style="display:none;z-index: 99999;height:calc(100% - 103px)"  >
                                <apex:outputPanel id="treeDetailsPanel" >
                                  <div class="clear"></div>
                                  <c:TreeHierarchyDirectLoadSnT id="treeComponent" data="{!jsonStringTerr}" highlightedPosition="{!posName}"/>
                                </apex:outputPanel> 
                              </div>
                              <label class="slds-form-element__label" style="line-height: 1.85rem;font-size: larger;">Select Position</label>
                          </div>   
                      </apex:outputPanel>
                    </div> 
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                        <i class="fa fa-table" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="slds-media__body slds-size_2-of-7">
                        <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Call Plan">{!selectedPositionName}</h1>
                        <apex:inputField value="{!Country.AxtriaSalesIQTM__Country_Flag__c}" /> 
                          &nbsp;
                        <apex:outputText value="{!Country.Name}"/> 
                    </div>

                    
                    <div class="slds-form slds-form_compound slds-size_2-of-5" style="max-width: 740px; margin-right: 30px  ">
                      <fieldset class="slds-form-element">
                      <div class="slds-form-element__group">
                          <div class="slds-form-element__row" style="width:100%;">
                              <div class="slds-form-element slds-size_1-of-3"> 
                                  <label class="slds-form-element__label">Workspace</label>
                                  <div class="slds-form-element__control">
                                      <div>
                                          <apex:selectList value="{!selectedcycle}" size="1"  styleClass="slds-select" >
                                              <apex:actionSupport event="onchange" action="{!scenarioChanged}"  oncomplete="clearSearch();"/>
                                              <apex:selectOptions value="{!allcycles}" />
                                          </apex:selectList>    
                                      </div>
                                      
                                  </div>
                              </div>
                                
                                
                              <apex:outputPanel layout="block" id="teamInstanceChangedPanel" rendered="{!IF(allTeamInstance.size> 0, true, false)}" styleclass="slds-form-element slds-size_1-of-3">
                                  <label class="slds-form-element__label">Team Instance</label>
                                  <div class="slds-form-element__control">
                                      <div>
                                          <apex:selectList value="{!teaminstanceSelected}" size="1"  styleClass="slds-select" >
                                               <apex:actionSupport event="onchange" action="{!teamInstanceChanged}"   oncomplete="clearSearch();"/> <!-- reRender="selectedTeamInstance, metricsPanel, treeHierarchy1, selectedPosition, serialisedString, segmentPanel" -->
                                              <apex:selectOptions value="{!allteaminstance}" />
                                          </apex:selectList>    
                                      </div>
                                      
                                  </div>
                              </apex:outputPanel>
                              
                              <apex:commandButton styleclass="slds-button slds-button_brand popupshow" style="margin-left:2%;margin-top:4.5%;height:6%;" value="ADD" id="Save" title="Save" onClick="AddtoPositionAccount();" oncomplete="removemsgsAF();" >
                            </apex:commandButton> 
                     


                            <apex:actionfunction name="changePosition" action="{!changeTerritory}" rerender="selectedPosition" id="afuncccc2" onComplete="clearSearch();" >
                                <apex:param name="territorySelected" assignTo="{!territorySelected}" value="" />
                            </apex:actionfunction>
                  
                            <apex:actionFunction action="{!removemsgs}" rerender="errorMessage"  name="removemsgsAF" ></apex:actionFunction>
                  
                           </div>
                        </div>
                    </fieldset>
                </div>
                

                  </div>
                </div>
            </apex:outputPanel>
           
        </nav>
                  
            <!-- <apex:outputPanel rendered="{!IF(allTeamInstance.size> 0, true, false)}" layout="block" style="width:100%;" styleClass="slds-size_2-of-5 slds-p-right_small">
      
            </apex:outputPanel> -->
            
            <apex:actionfunction name="ctreateposacc" action="{!createpositionaccount}" rerender="errorMessagePopup" id="createpos1" onComplete="clearSearch();"  status="mystatus" >
                <apex:param name="territorySelected" assignTo="{!territorySelected}" value="" />
                <apex:param name="Accounts" assignTo="{!Listaccs}" value=""/>
            </apex:actionfunction>
            
            
            <!-- <apex:outputPanel id="userlist">
                                <div>
                    
                    <apex:pageBlock >
 
    
    </apex:pageBlock>
    
                </div> -->
                <apex:outputPanel layout="block" id="searchFilters" styleclass="slds-frame slds-size--5-of-6 slds-p-left_xx-small"  style="width: 80%;float: left;">
                   <apex:outputPanel layout="block">
                   <div class="slds-box  slds-box_xx-small">
                       <div class="slds-text-heading_small">Advance Search</div>
                    <apex:outputPanel styleclass="slds-grid slds-p-around_x-small" layout="block">
                        <div class="slds-frame slds-size--1-of-5 slds-p-right_xx-small">
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">Account Name</label>
                                <div class="slds-form-element__control">
                                    <apex:inputText styleclass="slds-input" value="{!nameText}" id="ipTextName" />
                                </div>
                            </div>
                        </div>
                        <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small slds-p-right_xx-small">
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">Speciality</label>
                                <div class="slds-form-element__control">
                                    <apex:inputText styleclass="slds-input" value="{!specialityText}" id="ipTextCity" />
                                </div>
                            </div>
                        </div>
                        <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small slds-p-right_xx-small">
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">Account Number</label>
                                <div class="slds-form-element__control">
                                    <apex:inputText styleclass="slds-input" value="{!accountNumberText}" id="ipTextZip" />
                                </div>
                            </div>
                        </div>
                        <div class="slds-frame slds-size--1-of-5 slds-p-left_xx-small">
                        
                        <div class="slds-float_right  slds-p-top_large">
                            <apex:commandButton styleClass="slds-button slds-button_brand" value="Advance Search"  onClick="searchBasedOnFilter();" rerender="errorMessage"/>
                            <apex:commandButton styleClass="slds-button slds-button_brand" value="Clear"  onClick="clearBasedOnFilter();" rerender="errorMessage" />
                            </div>
                        </div>
                    </apex:outputPanel>
                       </div>
                   </apex:outputPanel>
                </apex:outputPanel>
                    <apex:outputPanel id="tableView">
                    <table cellpadding="0" cellspacing="0" class="slds-table list slds-table_bordered slds-table_col-bordered slds-table_striped" id="maintable" style="width:100%" >
                        <thead>
                            
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    </apex:outputPanel><!-- 
                </apex:outputPanel> -->

                <apex:actionFunction name="hideAllPopup"  action="{!hidePopup}" status="spinnerStatus"></apex:actionFunction>
               
                <apex:outputPanel id="errorMessagePopup">
                <apex:outputPanel rendered="{!errorPublishFlag}"> 
                <div class="demo-only" >
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small remvpopup">
                    <div class="slds-modal__container" id="pop3"  style="width:30%">
                        <header class="slds-modal__header slds-theme_success popupMsg">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">RESULT!!!</h2>
                        </header>
                          <apex:outputPanel layout="block" styleclass="slds-modal__content slds-p-around_medium slds-text-align_center popupMsg" style="min-height: 25%">
                               <div class="slds-clearfix slds-p-bottom_xx-small">
                                   <div id="mssgDiv" class="slds-show_inline-block slds-p-right_xxx-small" style="vertical-align: top;">
                                        <label class="slds-form-element__label" style="line-height: 1.85rem;font-size: larger;">{!errorMsg}</label><br></br>
                                        <label class="slds-form-element__label" style="line-height: 1.85rem;font-size: larger;">{!errorMsg1}</label>
                                    </div> 
                               </div>
                         </apex:outputPanel>
                          <footer class="slds-modal__footer popupMsg">
                             <button class="slds-button slds-button_brand"  onclick="cancelPopup(); return false;" > OK </button>
                          </footer>
                    </div>
                  </section>
                  <div class="slds-backdrop slds-backdrop_open hidepop"></div>
                </div>
            </apex:outputPanel>
            </apex:outputPanel>

            <script> 
              function cancelPopup() {
                console.log('Cancel Popup');
                hideAllPopup();
              }
            </script>
        </apex:form>
        </div>
     </apex:page>