<apex:page standardController="AxtriaSalesIQTM__Employee__c" EXTensions="EmployeeViewController">
<apex:slds />
<div class="slds-scope">
<style>         

 .headerStyle {                font-size:12px;    color:#7ba3c1 !important;                background-color:#7ba3c1 !important;                             }</style>

<apex:form id="form_id">

    <table class="slds-table slds-table_bordered slds-table_col-bordered " style="width:100%; font-size: .75rem;">
      <thead>
        <tr class="slds-text-title_caps">
          <th scope="col" >
            <div class="slds-truncate" title="Geography Name">Geography Name</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Start Date">Start Date</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="End Date">End Date</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Assignment Type">Assignment Type</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Reason Code">Reason Code</div>
          </th>
        </tr>
      </thead>
      <tbody>
      <apex:repeat value="{!posAssignment}" var="list">
        <tr>
          <td scope="row">
            <div class="slds-truncate" title="{!list.AxtriaSalesIQTM__Position__r.Name}">
            <apex:facet name="header">
                         <apex:commandLink value="Position Name" style="color:#fff;">
                               <apex:param name="sortField" value="AxtriaSalesIQTM__Position__r.Name" />
                         </apex:commandLink>
                         </apex:facet>  
                         <!--<apex:outputText >
                             {!list.AxtriaSalesIQTM__Position__r.Name}</apex:outputText>         -->
                         <apex:outputlink value="/one/one.app#/sObject/AxtriaSalesIQTM__Position__c/{!list.AxtriaSalesIQTM__Position__c}/view" target="_blank">
                             {!list.AxtriaSalesIQTM__Position__r.Name}</apex:outputlink> 
                         <!--<a id="stdNav" href="javascript:void(0);" onclick="ns.doNav()">{!list.AxtriaSalesIQTM__Employee__r.Name}</a>  -->
            </div>
          </td> 
          <td>
            <div class="">
            <apex:facet name="header"> 
                          <apex:commandLink value="Start Date" style="color:#fff;">
                               <apex:param name="sortField" value="AxtriaSalesIQTM__Effective_Start_Date__c" />
                         </apex:commandLink>                    
                         </apex:facet>         
                         <apex:outputText value="{0,date,MM/dd/yyyy}"> <apex:param value="{!list.AxtriaSalesIQTM__Effective_Start_Date__c}" /> </apex:outputText>  
    
            </div>
          </td>
          <td>
            <div class="">
            <apex:facet name="header">
                         <apex:commandLink value="End Date" style="color:#fff;">
                               <apex:param name="sortField" value="AxtriaSalesIQTM__Effective_End_Date__c" />
                         </apex:commandLink>
                         </apex:facet>  
                         <apex:outputText value="{0,date,MM/dd/yyyy}"> <apex:param value="{!list.AxtriaSalesIQTM__Effective_End_Date__c}" /> </apex:outputText>  
             
            </div>
          </td>    
          <td>
            <div class="slds-truncate" title="{!list.AxtriaSalesIQTM__Assignment_Type__c}">
            <apex:facet name="header">
                         <apex:commandLink value="Assignment Type" style="color:#fff;">
                               <apex:param name="sortField" value="AxtriaSalesIQTM__Assignment_Type__c" />
                         </apex:commandLink>
                         </apex:facet>           
                         {!list.AxtriaSalesIQTM__Assignment_Type__c}
            </div>
          </td>
          <td>
            <div class="">
            <apex:facet name="header">
                         <apex:commandLink value="Reason Code" style="color:#fff;">
                               <apex:param name="sortField" value="AxtriaSalesIQTM__Reason_Code__c" />
                         </apex:commandLink>
                         </apex:facet>  
                         <apex:outputText > {!list.AxtriaSalesIQTM__Reason_Code__c}<apex:param value="{!list.AxtriaSalesIQTM__Reason_Code__c}" /> </apex:outputText>  
             
            </div>
          </td>
        </tr>
        </apex:repeat>
      </tbody>
    </table>
</apex:form>
</div>
</apex:page>