<apex:page controller="Errorlognotification" renderAs="Pdf"  > <!-- action="{!fetchdata}" renderAs="Pdf"-->
    
 <apex:pageBlock title="Failed Apex Jobs" >
    <apex:dataTable value="{!joblist}" var="log" cellPadding="4" border="1" >
             <apex:column headerValue="Date" >
                <!-- <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                    <apex:param value="{!log.CreatedDate}" /> 
                </apex:outputText> -->
                {!log.CreatedDate}
            </apex:column>
            <apex:column headerValue="Class Name" >
                {!log.ApexClass.Name}
            </apex:column>
            <apex:column headerValue="Status"  style="word-break: break-word;">
                {!log.ExtendedStatus}
            </apex:column>
            <apex:column headerValue="No. of Errors" >
                {!log.NumberOfErrors}
            </apex:column>
            
            
    </apex:dataTable>
</apex:pageBlock> 
    
</apex:page>