<apex:page standardController="AxtriaSalesIQTM__Change_Request__c"  recordSetVar="risks" extensions="BulkApprovalWebService">
    <apex:includeScript value="/soap/ajax/36.0/connection.js"/>
    <apex:includeScript value="/soap/ajax/36.0/apex.js"/>
    
    
    Hello How are You
    <script>

        /*var selectedIds = {!GETRECORDIDS( AxtriaSalesIQTM__Change_Request__c.Id )}; 
        console.log(selectedIds); 
        sforce.connection.sessionId = '{!$Api.Session_ID}'; 
        var result = sforce.apex.execute("BulkApprovalWebService","bulkApprove",{recordIds : selectedIds.join(',')}); 
        result = JSON.parse(result); 
        if(result.status !== '200'){ 
        alert(result.error); 
        } else { 
        location.reload(true); 
        }*/
    </script>
</apex:page>