<apex:page standardController="AxtriaSalesIQTM__Change_Request__c" extensions="CRCallPlan"  doctype="html-5.0">
    
    <apex:slds />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js" />
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'jquery.dataTables.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'dataTables.fixedColumns.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.dataTables,'jquery.dataTables.css')}" />
    
    <apex:outputPanel >
        
                
            <apex:outputPanel id="dataTablePanel">
                <script>
                var sessionTable;
                var sortDir = 'asc';
                var sortCol = 1;
                var $j = jQuery.noConflict();
                
                
                $j(function() {
                    sessionTable = $j('#table1').DataTable({
                        "info": false,
                        "searching": true,
                        "lengthChange": false,
                        "pageLength": 10,
                        "processing": false,
                        "dom": '<"div-pg"><"div-search"f><"div-tbl"p>t<"bottom-info">', // f search, p :- pagination , l:- page length 
                        "data": {!jsonString},
                        "order": [
                            [0, "asc"],
                        ],
                        
                        columns : [
                                {'title' : 'Account Name' , 'data' : 'accountName'},
                                {'title' : 'Final TCF(After)', 'data' : 'finalTCFafter'},
                                {'title' : 'Final TCF(Before)', 'data' : 'finalTCFbefore'},
                                {'title' :  'Record Status', 'data' : 'recordStatus'}
                                
                            ],
                        paging: true,
                        // "responsive": true,
                        "bAutoWidth": true,
                        scrollY: "500px",
                        scrollX: true,
                        scrollCollapse: true,
                        "language": {
                            "emptyTable": " ",
                            "search" : "CERCA",
                            "paginate": {
                              "previous": "PRECEDENTE",
                              "next":"SUCCESSIVA"
                            }
                        },
                    });
                    
                });
                
                </script>
            </apex:outputPanel>
        </apex:outputPanel> 
        
        <div id="divTable"    class="slds-scrollable" style="width: 100%" >
                    <table id="table1" class="table-example slds-table slds-table_bordered slds-table_cell-buffer slds-table_col-bordered slds-table_striped" >
                   </table>
            </div>
</apex:page>