<apex:page controller="MasterRosterUpgrade" contentType="application/vnd.ms-excel#MasterRosterUpgradeResult.xls">
    <apex:form >
        <table cellspacing="0" cellpadding="5">
            <tr style="border-bottom: 1px solid black;">
                <th>Position Id</th>
                <th>Position Name</th>
                <th>Position Code</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Is Master</th>
                <th>Master Reference</th>
            </tr>
            <apex:repeat value="{!teamInstancePositionMap}" var="teamInstanceId">
                <tr style="background-color: cadetblue;color: azure;">
                    <th style="text-align: left;" colspan="3">Scenario: {!teamInstanceMap[teamInstanceId].Name} ({!teamInstanceMap[teamInstanceId].AxtriaSalesIQTM__Alignment_Period__c})</th>
                    <th style="text-align: left;">
                        <apex:outputText value="{0,date,MM/dd/yyyy}">
                           <apex:param value="{!teamInstanceMap[teamInstanceId].AxtriaSalesIQTM__IC_EffstartDate__c}"/>
                        </apex:outputText>
                    </th>
                    <th style="text-align: left;">
                        <apex:outputText value="{0,date,MM/dd/yyyy}">
                           <apex:param value="{!teamInstanceMap[teamInstanceId].AxtriaSalesIQTM__IC_EffEndDate__c}"/>
                        </apex:outputText>
                    </th>
                    <th style="text-align: left;" colspan="2">Employee Assignment: {!IF(teamInstanceMap[teamInstanceId].AxtriaSalesIQTM__Scenario__r.AxtriaSalesIQTM__Employee_Assignment__c,'Enabled','Disabled')}</th>
                </tr>
                <apex:repeat value="{!teamInstancePositionMap[teamInstanceId]}" var="position">
                    <tr style="{!IF(position.AxtriaSalesIQTM__IsMaster__c,'background-color: #D3D3D3;','')}">
                        <td>{!position.Id}</td>
                        <td>{!position.Name}</td>
                        <td>{!position.AxtriaSalesIQTM__Client_Position_Code__c}</td>
                        <td>
                            <apex:outputText value="{0,date,MM/dd/yyyy}">
                                <apex:param value="{!position.AxtriaSalesIQTM__Effective_Start_Date__c}"/>
                            </apex:outputText>
                        </td>
                        <td>
                            <apex:outputText value="{0,date,MM/dd/yyyy}">
                                <apex:param value="{!position.AxtriaSalesIQTM__Effective_End_Date__c}"/>
                            </apex:outputText>
                        </td>
                        <td>{!position.AxtriaSalesIQTM__IsMaster__c}</td>
                        <td>{!position.AxtriaSalesIQTM__Master_Position_Reference__c}</td>
                    </tr>
                </apex:repeat>
            </apex:repeat>
        </table>
    </apex:form>
</apex:page>