<apex:page Sidebar="false">
    <apex:slds />
    <div class="slds-scope">
        <apex:stylesheet value="{!$Resource.customCss}"/>
        <apex:stylesheet value="{!URLFor($Resource.font_awesome, 'css/font-awesome.css')}"/>
        <apex:includeScript value="{!$Resource.jquery_1_12_4_min}" />
        <div class="slds-page-header slds-p-around_x-small slds-m-bottom_x-small ">
            <div class="slds-media">
                <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                    <i class="fa fa-table" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="slds-media__body">
                    <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Parameter Map">Parameter Map</h1>
                </div>
            </div>
        </div>
        <div class="slds-p-bottom_x-small">
            <div class="slds-grid  slds-p-bottom_x-small">
                <div class="slds-frame slds-size--1-of-5 slds-p-right_x-small">
                    <span>DINAMICO_DPPIV</span>
                </div>
                <div class="slds-frame slds-size--1-of-5 slds-p-left_x-small">
                    <div class="slds-select_container">
                        <select class="slds-select" id="select-01">
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.KOL</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.Potenziale</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO GLP1</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO BYD</option>
                            <option selected="selected">AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO DPPIV</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO SGLT2</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO DAPA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="slds-grid  slds-p-bottom_x-small">
                <div class="slds-frame slds-size--1-of-5 slds-p-right_x-small">
                    <span>DINAMICO_SGLT2</span>
                </div>
                <div class="slds-frame slds-size--1-of-5 slds-p-left_x-small">
                    <div class="slds-select_container">
                        <select class="slds-select" id="select-01">
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.KOL</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.Potenziale</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO GLP1</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO BYD</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO DPPIV</option>
                            <option selected="selected">AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO SGLT2</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO DAPA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="slds-grid  slds-p-bottom_x-small">
                <div class="slds-frame slds-size--1-of-5 slds-p-right_x-small">
                    <span>DINAMICO_DAPA</span>
                </div>
                <div class="slds-frame slds-size--1-of-5 slds-p-left_x-small">
                    <div class="slds-select_container">
                        <select class="slds-select" id="select-01">
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.KOL</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.Potenziale</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO GLP1</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO BYD</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO DPPIV</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO SGLT2</option>
                            <option selected="selected">AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO DAPA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="slds-grid  slds-p-bottom_x-small">
                <div class="slds-frame slds-size--1-of-5 slds-p-right_x-small">
                    <span>POTENTIALIZE</span>
                </div>
                <div class="slds-frame slds-size--1-of-5 slds-p-left_x-small">
                    <div class="slds-select_container">
                        <select class="slds-select" id="select-01">
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.KOL</option>
                            <option selected="selected">AZ_IT_Profiling_Survey_Definition_S2_2017.Potenziale</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO GLP1</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO BYD</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO DPPIV</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO SGLT2</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO DAPA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="slds-grid  slds-p-bottom_x-small">
                <div class="slds-frame slds-size--1-of-5 slds-p-right_x-small">
                    <span>KOL</span>
                </div>
                <div class="slds-frame slds-size--1-of-5 slds-p-left_x-small">
                    <div class="slds-select_container">
                        <select class="slds-select" id="select-01">
                            <option selected="selected">AZ_IT_Profiling_Survey_Definition_S2_2017.KOL</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.Potenziale</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO GLP1</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO BYD</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO DPPIV</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO SGLT2</option>
                            <option>AZ_IT_Profiling_Survey_Definition_S2_2017.DINAMICO DAPA</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-box slds-box_xx-small slds-text-align_center">
            <button class="slds-button slds-button_brand" type="button">Execute</button>
            <button class="slds-button slds-button_neutral" onclick="document.location.href='/apex/Business_Rule_list';">Cancel</button>
        </div>
    </div>
</apex:page>