<apex:page controller="RepHomepage" >
   
   
    <apex:stylesheet value="{!$Resource.orignal}" />
    <!-- <apex:stylesheet value="{!$Resource.callMax_orignal}" /> -->
     
    <!-- <apex:stylesheet value="{!URLFOR($Resource.iconsimage, 'icons-image/icons.css')}" /> -->
        
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js" />
    
  <div class="page_width">

<script>
    $('.page_width').width($(window).width()-0);
    $(window).resize(function(){
        $('.page_width').width($(window).width()-0);
    });
    
    </script> 
    <apex:styleSheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/smoothness/jquery-ui.css" />
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Roboto:400,500,300,700" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <apex:includeScript value="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js" />
    <apex:includeScript value="//cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js" />
    <apex:stylesheet value="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css" /> 
    <script src="/soap/ajax/33.0/connection.js" type="text/javascript"></script>
    <script src="/soap/ajax/33.0/apex.js" type="text/javascript"></script>
    
    
    <style>
            .callSection { width: 25%; float: left; padding-right: 6px; }
           .callSection .call_center { background: #fbfbfb;color: #000; }
           .callSection .call_content { border: #c3c3c3 solid 1px; border-bottom: 0px; padding: 2px 5px 0px 5px; overflow: hidden; }
           
           .callSection .call_header { background: #33cc33; overflow: hidden; line-height: 15px; color:#fff; font-size: 12px; padding: 7px 5px; text-align: center; width: 100%; }  
           .callSection.yellow .call_header { background: #ffc000; }
           .callSection.red .call_header   { background: #ff0000; }
           .callSection .top {}
           .callSection .map_chart {  padding: 9px 0px 10px; overflow: hidden; width: 100%;vertical-align: top; }
           .callSection .map_chart div { float: left; display: inline-block; vertical-align: middle; }
           .callSection .map_chart span { float: left; padding: 0 5px 0 2px; display: inline-block; vertical-align: middle; line-height: 14px; }
           .callSection .left { float: left; font-size: 21px; font-weight: bold; color: #33cc33; margin-top: 6px; }
           .callSection.yellow .left { color: #ffc000; }
           .callSection.red .left { color: #ff0000;  }
           .callSection .right { float: right; }
           .callSection .right span { display: block; font-size: 12px;line-height: 16px; }
           .callSection .right span span { width : 60px; float: left; display: inline-block; }
           
           .table-example .table-exampleModified td{
               padding : 6px 3px;
           }
           
           .callSection1 { width: 16.66%; float: left; padding-right: 3px; }
           .callSection1 .call_center { background: #fbfbfb;color: #000; }
           .callSection1 .call_content { border: #c3c3c3 solid 1px; border-bottom: 0px; padding: 2px 2px 0; overflow: hidden; }
           
           .callSection1 .call_header { background: #33cc33; overflow: hidden; line-height: 15px; color:#fff; font-size: 12px; padding: 7px 5px; text-align: center; width: 100%; }  
           .callSection1.yellow .call_header { background: #ffc000; }
           .callSection1.red .call_header   { background: #ff0000; }
           .callSection1 .top {}
           .callSection1 .map_chart { padding: 9px 0px 10px; overflow: hidden; width: 100%;vertical-align: top; }
           .callSection1 .map_chart div { float: left; display: inline-block; vertical-align: middle; }
           .callSection1 .map_chart span { float: left; padding: 0 5px 0 2px; display: inline-block; vertical-align: middle; line-height: 14px; }
           .callSection1 .left { float: left; font-size: 21px; font-weight: bold; color: #33cc33; margin-top: 6px; }
           .callSection1.yellow .left { color: #ffc000; }
           .callSection1.red .left { color: #ff0000;  }
           .callSection1 .right { float: right; }
           .callSection1 .right span { display: block; font-size: 12px;line-height: 16px; }
           .callSection1 .right span span { width : 52px; float: left; display: inline-block; }
           
           
         .red1{
            background:#ff0000;
            height:14px;

            width:14px;
            display:block;
        }
        .green1{
            background:#33cc33;
            height:14px;
            width:14px;
            display:block;
        }
        .yellow1{
            background:#ffc000;
            height:14px;
            width:14px;
            display:block;
        }
        .yellow2{
            background:#fefe37;

            height:14px;
            width:14px;
            display:block;
            float:left;
        }
              .charrt1{
                padding-top: 2px;
                width:78%;
                float:left;
            }
            .charrt2{
                width:22%;
                float:right;
            }
        .charrt1.charrt10 { width:86%;}
        .charrt2.charrt20 {width:14%;}
           .panelShow { width: 50%; float: left; box-sizing: border-box; padding: 0 2px; } 
        .panelShow.panelShow1 {padding: 0 1px;}
    .bar {
            float:left;
            clear:both;
            width:217px;
            height:20px;
            position:relative;
            margin-top:10px;
        }
        .box-top-div1
        {
            margin-top : 10px;
            margin-bottom :10px;
            display : block;
        }
        .bar-div{
            width:229px;
            height:97px;
            margin-right:20px;
            border:1px solid  #ccc;
            float:left;
            margin-bottom:20px;
            padding:5px;
        }
        .dataTables_wrapper .dataTables_scroll { overflow: auto; }
        .bar .percent {
            //background:#2caedd;
           background:-moz-linear-gradient({!genericCssForBar});
            
            //background:-webkit-gradient(linear, left top, right top, color-stop(0%,#2caedd), color-stop(28%,#86dd2a), color-stop(46%,#e0d72a), color-stop(66%,#e8902c), color-stop(86%,#ed2d2d), color-stop(100%,#ff0000));
            //background:-webkit-linear-gradient(left, #2caedd 0%,#86dd2a 28%,#e0d72a 46%,#e8902c 66%,#ed2d2d 86%,#ff0000 100%);
           
            //background:-webkit-gradient(linear, left top, right top, color-stop(0%,#FF0000), color-stop(25%,#FF0000), color-stop(30%,#ffbf00), color-stop(50%,#00FF00), color-stop(55%,#ffbf00), color-stop(100%,#FF0000));
            //background:-webkit-linear-gradient(left, #FF0000 0%,#FF0000 30%,#ffbf00 50%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            //background:-webkit-linear-gradient(left,#FF0000 0%,#ffbf00 30%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            background:-webkit-linear-gradient({!genericCssForBar});
            
            
            //background:-o-linear-gradient(left, #FF0000 0%,#FF0000 30%,#ffbf00 50%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            background:-ms-linear-gradient({!genericCssForBar});
            //background:linear-gradient(left, #FF0000 0%,#FF0000 30%,#ffbf00 50%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2caedd', endColorstr='#ff0000', GradientType=1);
            float:left;
            width:100%;
            height:20px;
            position:relative;
        }
        
        .bar .percent span {
            display:block;
            position:absolute;
            top:0;
            right:0;
            z-index:2;
            width:100%;
            height:40px;
            background:rgba(255, 255, 255, .7);
        }
        
        .bar .percent1 {
            //background:#2caedd;
           background:-moz-linear-gradient({!genericCssForBar});
            
            //background:-webkit-gradient(linear, left top, right top, color-stop(0%,#2caedd), color-stop(28%,#86dd2a), color-stop(46%,#e0d72a), color-stop(66%,#e8902c), color-stop(86%,#ed2d2d), color-stop(100%,#ff0000));
            //background:-webkit-linear-gradient(left, #2caedd 0%,#86dd2a 28%,#e0d72a 46%,#e8902c 66%,#ed2d2d 86%,#ff0000 100%);
           
            //background:-webkit-gradient(linear, left top, right top, color-stop(0%,#FF0000), color-stop(25%,#FF0000), color-stop(30%,#ffbf00), color-stop(50%,#00FF00), color-stop(55%,#ffbf00), color-stop(100%,#FF0000));
            //background:-webkit-linear-gradient(left, #FF0000 0%,#FF0000 30%,#ffbf00 50%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            //background:-webkit-linear-gradient(left,#FF0000 0%,#ffbf00 30%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            background:-webkit-linear-gradient({!genericCssForBar});
            
            
            //background:-o-linear-gradient(left, #FF0000 0%,#FF0000 30%,#ffbf00 50%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            background:-ms-linear-gradient({!genericCssForBar});
            //background:linear-gradient(left, #FF0000 0%,#FF0000 30%,#ffbf00 50%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2caedd', endColorstr='#ff0000', GradientType=1);
            float:left;
            width:100%;
            height:20px;
            position:relative;
        }
        .bar .percent1 span {
            display:block;
            position:absolute;
            top:0;
            right:0;
            z-index:2;
            width:100%;
            height:40px;
            background:rgba(255, 255, 255, .7);
        }
        
        
        .bar .percent3 {
            //background:#2caedd;
           background:-moz-linear-gradient({!genericCssForBar});
            
            //background:-webkit-gradient(linear, left top, right top, color-stop(0%,#2caedd), color-stop(28%,#86dd2a), color-stop(46%,#e0d72a), color-stop(66%,#e8902c), color-stop(86%,#ed2d2d), color-stop(100%,#ff0000));
            //background:-webkit-linear-gradient(left, #2caedd 0%,#86dd2a 28%,#e0d72a 46%,#e8902c 66%,#ed2d2d 86%,#ff0000 100%);
           
            //background:-webkit-gradient(linear, left top, right top, color-stop(0%,#FF0000), color-stop(25%,#FF0000), color-stop(30%,#ffbf00), color-stop(50%,#00FF00), color-stop(55%,#ffbf00), color-stop(100%,#FF0000));
            //background:-webkit-linear-gradient(left, #FF0000 0%,#FF0000 30%,#ffbf00 50%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            //background:-webkit-linear-gradient(left,#FF0000 0%,#ffbf00 30%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            background:-webkit-linear-gradient({!genericCssForBar});
            
            
            //background:-o-linear-gradient(left, #FF0000 0%,#FF0000 30%,#ffbf00 50%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            background:-ms-linear-gradient({!genericCssForBar});
            //background:linear-gradient(left, #FF0000 0%,#FF0000 30%,#ffbf00 50%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2caedd', endColorstr='#ff0000', GradientType=1);
            float:left;
            width:100%;
            height:20px;
            position:relative;
        }
        
        .bar .percent3 span {
            display:block;
            position:absolute;
            top:0;
            right:0;
            z-index:2;
            width:100%;
            height:40px;
            background:rgba(255, 255, 255, .7);
        }
        
        .bar .percent2 {
            //background:#2caedd;
           background:-moz-linear-gradient({!genericCssForBar});
            
            //background:-webkit-gradient(linear, left top, right top, color-stop(0%,#2caedd), color-stop(28%,#86dd2a), color-stop(46%,#e0d72a), color-stop(66%,#e8902c), color-stop(86%,#ed2d2d), color-stop(100%,#ff0000));
            //background:-webkit-linear-gradient(left, #2caedd 0%,#86dd2a 28%,#e0d72a 46%,#e8902c 66%,#ed2d2d 86%,#ff0000 100%);
           
            //background:-webkit-gradient(linear, left top, right top, color-stop(0%,#FF0000), color-stop(25%,#FF0000), color-stop(30%,#ffbf00), color-stop(50%,#00FF00), color-stop(55%,#ffbf00), color-stop(100%,#FF0000));
            //background:-webkit-linear-gradient(left, #FF0000 0%,#FF0000 30%,#ffbf00 50%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            //background:-webkit-linear-gradient(left,#FF0000 0%,#ffbf00 30%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            background:-webkit-linear-gradient({!genericCssForBar});
            
            
            //background:-o-linear-gradient(left, #FF0000 0%,#FF0000 30%,#ffbf00 50%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            background:-ms-linear-gradient({!genericCssForBar});
            //background:linear-gradient(left, #FF0000 0%,#FF0000 30%,#ffbf00 50%,#00FF00 55%,#ffbf00 86%,#FF0000 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2caedd', endColorstr='#ff0000', GradientType=1);
            float:left;
            width:100%;
            height:20px;
            position:relative;
            }       
            .bar .percent2 span {
                display:block;
                position:absolute;
                top:0;
                right:0;
                z-index:2;
                width:100%;
                height:40px;
                background:rgba(255, 255, 255, .7);
            }
            
            .bar .circle {
                display:block;
                position:absolute;
               /* top:-95%;*/
                 top:63%;
                left:0;
                z-index:3;
                margin:-25px 0 0 0px;
                width:0px;
                height:40px;
                line-height:80px;
                text-align:center;
                font-size:20px;
               /* font-family:'PT Sans Narrow', sans-serif;*/
                color:#fff;
                background:rgba(0, 0, 0, 1);
                -moz-border-radius:40px;
                -webkit-border-radius:40px;
                border-radius:40px;
                -webkit-transition:all 1s ease;
                -moz-transition:all 1s ease;
                -o-transition:all 1s ease;
            }
            
            .bar .circle .rotate {
                -webkit-transform:rotate(1080deg);
                -moz-transform:rotate(1080deg);
                -o-transform:rotate(1080deg);
            }
            
            .bar .circle span {
                display:inline-block;
                width:50px;
                margin-top: -32px;
                height:50px;
                line-height:50px;
                background:rgba(0, 0, 0, .3);
                -moz-border-radius:35px;
                -webkit-border-radius:35px;
                border-radius:35px;
            }
            
            
            .bar .circle1 {
                display:block;
                position:absolute;
                top:-95%;
                left:0;
                z-index:3;
                margin:-25px 0 0 0px;
                width:0px;
                height:40px;
                line-height:80px;
                text-align:center;
                font-size:20px;
               /* font-family:'PT Sans Narrow', sans-serif;*/
                color:#fff;
                //background:rgba(0, 0, 0, 1);
                -moz-border-radius:40px;
                -webkit-border-radius:40px;
                border-radius:40px;
                -webkit-transition:all 1s ease;
                -moz-transition:all 1s ease;
                -o-transition:all 1s ease;
            }
            
            .bar .circle1 .rotate {
                -webkit-transform:rotate(1080deg);
                -moz-transform:rotate(1080deg);
                -o-transform:rotate(1080deg);
            }
            
            .bar .circle1 span {
                display:inline-block;
                width:50px;
                height:50px;
                line-height:50px;
                background:rgba(0, 0, 0, .3);
                -moz-border-radius:35px;
                -webkit-border-radius:35px;
                border-radius:35px;
            }
            
            
            .bar .circle2 {
                display:block;
                position:absolute;
                top:61%;
                left:0;
                z-index:3;
                margin:-25px 0 0 0px;
                width:0px;
                height:40px;
                line-height:80px;
                text-align:center;
                font-size:20px;
               /* font-family:'PT Sans Narrow', sans-serif;*/
                color:#fff;
                background:rgba(0, 0, 0, 1);
                -moz-border-radius:40px;
                -webkit-border-radius:40px;
                border-radius:40px;
                -webkit-transition:all 1s ease;
                -moz-transition:all 1s ease;
                -o-transition:all 1s ease;
            }
            
            .bar .circle2 .rotate {
                -webkit-transform:rotate(1080deg);
                -moz-transform:rotate(1080deg);
                -o-transform:rotate(1080deg);
            }
            
            .bar .circle2 span {
                display:inline-block;
                width:50px;
                height:50px;
                line-height:50px;
                background:rgba(0, 0, 0, .3);
                -moz-border-radius:35px;
                -webkit-border-radius:35px;
                border-radius:35px;
            }
            
            .bar .circle3 {
                display:block;
                position:absolute;
                top:61%;
                left:0;
                z-index:3;
                margin:-25px 0 0 0px;
                width:0px;
                height:40px;
                line-height:80px;
                text-align:center;
                font-size:20px;
               /* font-family:'PT Sans Narrow', sans-serif;*/
                color:#fff;
                background:rgba(0, 0, 0, 1);
                -moz-border-radius:40px;
                -webkit-border-radius:40px;
                border-radius:40px;
                -webkit-transition:all 1s ease;
                -moz-transition:all 1s ease;
                -o-transition:all 1s ease;
            }
            
            .bar .circle3 .rotate {
                -webkit-transform:rotate(1080deg);
                -moz-transform:rotate(1080deg);
                -o-transform:rotate(1080deg);
            }
            
            .bar .circle3 span {
                display:inline-block;
                width:50px;
                height:50px;
                line-height:50px;
                background:rgba(0, 0, 0, .3);
                -moz-border-radius:35px;
                -webkit-border-radius:35px;
                border-radius:35px;
            }
        .dataTables_wrapper .dataTables_filter { float: left;}
        </style>
    <script type="text/javascript">
 
 
                  function animatewl(){
                 
                  $(document).ready(function() 
                  {
          console.log('=='+inscript);      
                  var input = $('.input'),
                        bar = $('.bar'),
                        bw = bar.width(),
                        percent = bar.find('.percent'),
                        circle = bar.find('.circle'),
                        ps =  percent.find('span'),
                        cs = circle.find('span'),
                        name = 'rotate';
                    
                        var t = $(this);
                        var val=input.val();
                        
                        if (val >=50 && val <= 150)
                        {
                            var w = 150-val, pw = (bw*w)/100,
                                pa = {
                                    width: w+'%'
                                },
                                cw = (bw-pw),
                                ca = {
                                    left: cw
                        }
                            ps.animate(pa);
                            cs.text(val+'%');
                            circle.animate(ca, function(){
                                circle.removeClass(name)
                            }).addClass(name);  
                        } 
                        else 
                        {
                          
                            t.val('');
                        }
                    
                });
                }
               </script>
    <style type="text/css">

/* CSS Document */

/*  ----------------------------------    Starts       --------------------------------------*/

/*  ----------------------------------   ******************************************  --------------------------------------*/
/*  ----------------------------------   ******************************************  --------------------------------------*/
/*  ----------------------------------    Fianl Css Designed By Amit Kumar Sehrawat       ------------------------------------- */
body,td {
    color: #666 !important;
    font-family: "roboto";
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
}

th {
    color: #fff !important;
    background-color: #5c90cb !important;
    font: 14px 400 !important;
    height: 30px;
}

body {
    margin: 0 auto;
}

td {
    height: 15px;
}

/*      ----------------------------------    css for pageblock elements (Display of the content) starts from here      ----------------------------------   */
.box-main {
    background: #fff;
    display: block;
    width: 100%;
}
    /*      for main box (used for workbench, pageblock elements, popups)     */
.box-top {
    height: 10px;
}

.box-top-div1 {
    border-bottom: 2px solid #408cc2;
    color: #2f2f2f !important;
    float: left;
    font-size: 16px;
    line-height: 15px;
} /*      for main Heading     */
.box-top-div2 {
    float: left;
} /*      for secondary heading     */
.box-top-div3 {
    float: left;
} /*      for Search box     */
.box-top-div4 {
    float: left;
    text-align: left;
} /*      for elements like check box, pagination     */
.box-top-div5 {
    float: right;
    text-align: right;
    margin-right: 3px;
} /*      for Buttons     */
.box-content {
    padding: 1px;
    margin-left: -10px;
    clear: both;
    float: left;
    border: 1px solid #cccccc;
    width: 81%;
} /*      for content     */

/*      ----------------------------------    css for pageblock elements (Display of the content) ends here      ----------------------------------   */
a {
    text-decoration: none;
    color: #356FB6;
}

a:hover {
    text-decoration: underline;
}

.box-main-two {
    width: 46%;
    height: auto;
    margin: auto;
    float: left;
    margin: 30px 0 0 30px;
}

.drop-down {
    width: 100%;
    padding: 10px 0 10px 0;
    min-height: 25px;
}

.dropdown1 {
    width: 100%;
    height: 30px;
}

.dropdown2 {
    width: 17%;
    float: left;
    margin-left: 30px;
    position: relative;
}

.dropdown3 {
    width: 17%;
    float: left;
    position: relative;
}

.dropdown4 {
    width: 17%;
    float: right;
    position: relative;
}

.text-drop-down {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin: 0 10px 0 0;
}

table.altrowstable {
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}

table.altrowstable th {
    border-width: 1px;
    border-style: solid;
    height: 25px;
    color: #000;
    border-color: #a9c6c9;
}

table.altrowstable td {
    border-width: 1px;
    border-style: solid;
    border-color: #a9c6c9;
}

.oddrowcolor {
    background-color: #fff;
}

.evenrowcolor {
    background-color: #E8F1F2;
}

.box111 {
    border: 1px solid #808284;
    width: 100%;
    background: #f2f3f4;
}

.notifications {
    background: #5c90cb;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    font: roboto;
    line-height: 30px;
}

.side-content {
    border-bottom: 1px dotted #666;
    font-size: 12px;
    font-weight: 400;
    font: roboto;
    line-height: 30px;
    vertical-align: text-top;
}

.icon1 {
    float: left;
    margin: 0 0 9px 3px;
    padding-left: 4px;
    padding-right: 5px;
    padding-top: 3px;
    vertical-align: top;
}

.container {
    margin-top: 1px;
    width: 100%;
}

.container-right {
    float: right;
    margin-top: 0px;
    margin-right: -5px;
    position: relative;
    width: 185px;
}

body table {
    font-size: 12px;
}

.chart {
    margin-top: 10px;
}

.charthead {
    color: white;
    font-weight: bold;
    padding: 5px 0px 5px 10px;
}

.hleft {
    float: left;
    width: 38%;
}

.hright {
    float: left;
    margin-left: -26px;
}

.left11 {
    border: 1px solid #ccc;
    float: left;
    height: 300px;
    margin: 6px 0 20px;
    padding: 5px 0 0 1px;
    position: relative;
    width: 31%;
}

.right11 {
    border: 1px solid #ccc;
    padding: 5px;
    position: relative;
    float: left;
    width: 64%;
    height: 297px;
    margin: 5px 0 0 10px;
}

.outer td.oRight {
    padding: 5px 0 17px;
}

.c3-text {
    fill: rgb(0, 0, 0) !important;
}

.rghttable td {
    text-align: center;
}

.rghttable  table {
    border-collapse: collapse;
    border: 0px !important;
}

.rghttable table,th,td {
   
}

.rghttable table th {
    color: White;
}

.rghttable table tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.rghttable table tr:nth-child(odd) {
    background-color: #E8F1F2;
}

.c3-axis-y-label,.c3-axis-y2-label {
    font-size: 15px;
    font-weight: bold;
}

.content {
    
}

.header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.clear {
    clear: both;

}

a.tooltip1 {
    outline: none;
}

a.tooltip1 strong {
    line-height: 30px;
}

a.tooltip1:hover {
    text-decoration: none;
}

a.tooltip1 span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 28px;
    width: 410px;
    line-height: 16px;
    left: -300px;
}

a.tooltip1:hover span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #F2F3F4;
}

.callout {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    left: -12px;
}

/*CSS3 extras*/
a.tooltip1 span {
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
}
#annoucement {
   
    width: 661px;
    height: 150px;
    color:black;
    margin-left:316px;
    margin-top:0px;
    padding:0px;
    background-color:#fff;
    overflow: auto;
    border:1px solid #666;
    }
     #documents
    {
        width: 305px;
        height: 150px;
        background-color:#fff;
        border:1px solid #666;
        margin-top:-152px;
        margin-left: 0px;
    }
    #training
    {
       width: 659px;
    height: 150px;
    color:black;
    margin-left:314px;
    margin-top:-152px;
    padding:0px;
     background-color:#f2f3f4;
  
    border:1px solid #666;
    }
    #thead
    {
    font-size: 15px;
    font-weight: bold;
    color:white;
    background-color:#5c90cb;
    padding-left:90px;
    } 
    #tlist
    {
    padding-left:0px;

    } 
    #ahead
    {
     font-size: 15px;
    font-weight: bold;
    color:white;
    background-color:#5c90cb;
    padding-left:90px;
    }
    #tlist ol
    {
    padding-top:2px;
    }
     .querytable table
    {
    margin-top:-60px;
    }
    .querytable td
    {
    width:400px;
    padding:5px;
   
   
    }
    .querytable th
    {
     padding-left:5px;
     background-color:none; 
     height:15px;
    }  
        #query
    {
        width: 977px;
        height: 150px;
        background-color:#fff;
        border:1px solid #666;
        margin-top:20px;
        margin-left:0px;
    }
    #trainingTable table
    {
       
       
        
        width: 100%;
    }
    #announcementTable table
    {
        width: 100%;/*985px;*/
        border:0.5px solid #808080;
    }

    #documentTable table
    {
        width: 100%;
       
       
    } 
      .left12
        {
          
            margin-bottom: 20px;
            padding: 5px;
            border: 1px solid #ccc;
            position: relative;
            float: left;
            width: 48%;
            height:300px;
            margin: 5px 0 25px;
        }
        
         .right12
        { 
            border: 1px solid #ccc;
            padding: 5px;
            position: relative;
             float: left;
            width: 47%;
              height:300px;
            margin: 5px 0 0 10px;
        }
        
        .panel1{
             color:#fff;
             background:#578ebe;
             float:left;
             position:relative;
             margin:5px;   
        }

        .panel1-content{
                   background:#4c87ba;
                   width:100%;
                   padding-top:10px;
        }
        .panel2-content{
                       background:#e35554;
                       width:100%;
                       padding-top:10px;
        }
        .panel3-content{
                       background: rgba(0, 0, 0, 0.1);
                       width:100%;
                       padding-top:10px;
        }
        .panel4-content{
                       background:#7f6ca1;
                       width:100%;
                       padding-top:10px; 
        }
        .panel1 > .content{
                       background:#4c87ba;
                       padding-top:10px;
        }
        
        .panel-number{
                       font-size:40px;
                       padding:16px;
                       text-align:center;
        }
        .panel-content{
                       font-size:10.5px;
                       padding:10px 1px;
                       text-align:center;
                      
        }
        .panel2{
                       color:#fff;
                       background:#e35b5a;
                       
                       float:left;
                       position:relative;
                       margin: 5px;
        }
        .panel3{
                       color:#fff;
                       background: #00a65a;
                      
                       float:left;
            width: 100%;
                       position:relative;
                       margin:2px 0;
        }
        .panel4{
                       color:#fff;
                       background:#8775a7;
                       width :100%;
                       float:left;
                       position:relative;
                       margin: 0 5px;
        }
        padding-panel{ 
                       margin:0 20px;
        }
        
          @-moz-document url-prefix() {
               #demo-b input[type="search"] {
                            display: inline;
                            margin-left: 32px;
                            margin-top: -35px !important;
                            position: absolute;
                        }
            } 
         
            
            input {
                outline: none;
            }
            input[type=search] {
                -webkit-appearance: textfield;
                -webkit-box-sizing: content-box;
                font-family: inherit;
                font-size: 100%;
            }
            input::-webkit-search-decoration,
            input::-webkit-search-cancel-button {
                display: none; /* remove the search and cancel icon */
            }
            
            /* search input field */
            input[type=search] {
                background: #ededed url(http://webdesignerwall.com/demo/expandable-search-form/images/search-icon.png) no-repeat 4px center;
                border: solid 1px #ccc;
                padding: 6px 0px 4px 25px;
                width: 0px;
                
                -webkit-border-radius: 7em;
                -moz-border-radius: 7em;
                border-radius: 7em;
                
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                transition: all .5s;
            }
            input[type=search]:focus {
                width: 130px;
                background-color: #fff;
                border-color: #6dcff6;
                
                -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
                -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
                box-shadow: 0 0 5px rgba(109,207,246,.5);
            }
            
            /* placeholder */
            input:-moz-placeholder {
                color: #999;
            }
            input::-webkit-input-placeholder {
                color: #999;
            }
            #demo-b input[type=search] {
               width: 1px;
               padding-left: 6px;
               /*padding-right: 5px;*/
               color: transparent;
               cursor: pointer;
            }
            #demo-b input[type=search]:hover {
                background-color: #fff;
            }
            #demo-b input[type=search]:focus {
                width: 100px;
                padding-left: 32px;
                color: #000;
                background-color: #fff;
                cursor: auto;
            }
  
</style>
<apex:form >
    

    <div class="container">
     <div class="hright">
                        <span class=" box-top-div1">&nbsp;&nbsp;&nbsp; Incentive 
                            Summary</span>
                    </div>
        <div class="box-content"
            style="width: 100%; padding: 1px; border: 0px;">
            
            <table border="0" width="100%"><tr><td width="70%">
            
                  <div id="ca2right" class="left11" style=" overflow: hidden; text-align: center;height: 210px ;width: 100%">

                    <apex:outputPanel >
                        <!-- <img src="{!URLFOR($Resource.rep_resorce,'repmain.png')}" /> -->
                    </apex:outputPanel>

                    </div></td><td width="30%" style="padding-left: 10px;">
                
                  <div id="ca2right2" class="left11" style="text-align: left;height: 210px ;width: 100%">

                        <table class="list" width="100%">
                        <tbody><tr class="headerRow">
                        <th style="text-align: center;"> Documents </th>
                        </tr>
                        <tr class="dataRow">
                            <td class="dataCell"><a href="https://axtriasalesiq-dev-ed.my.salesforce.com/01528000002bvScAAI">IC Plan Document.pdf</a></td>   
                        </tr>
                        <tr class="dataRow">
                            <td class="dataCell"><a href="https://axtriasalesiq-dev-ed.my.salesforce.com/01528000002bvTkAAI">Annual Award Program.pdf</a></td>   
                        </tr>
                        <tr class="dataRow">
                            <td class="dataCell"><a href="https://axtriasalesiq-dev-ed.my.salesforce.com/01528000002bvT6AAI">IC Eligibility.pdf</a></td>   
                        </tr>
                        </tbody></table>    
                
                    </div>
       
            </td></tr></table>
    
        <apex:outputPanel id="barChartPanel">
       <script>
            window.barChartRender = function(totalTargets, circleClass, percentClass, barMaxValue, percentageVal){
            var $j = jQuery.noConflict();
            var bar = $j('.bar'),
            bw = bar.width(),
            //bw = bw - 60,
            
            
            
            percent = bar.find(percentClass),
            circle = bar.find(circleClass),
            ps =  percent.find('span'),
            cs = circle.find('span'),
            name = 'rotate';
            
            console.log('bw '+ bw); 
            console.log('bar width ' + bar.width());
            console.log('-- circleClass ' + circleClass);
            
            //barPercentage = (totalTargets/barMaxValue)*100,
            barPercentage = ( (percentageVal - 60) / 80 ) * bw;
            
            console.log('--value of barpercentage ' + barPercentage);
            console.log('--value 25/bw '+ 25/bw);
            
            barPercentage = barPercentage - ((50/bw)*100);  
            
            console.log('-- barPercentage after delta ' + barPercentage + ((25/bw)*100));
            ca = {
                left: barPercentage
            }
            
            ps.animate(ca);
                       
            cs.text(percentageVal + '%');
            
            circle.animate(ca, function(){
               circle.removeClass(name)
            }).addClass(name);    
            }

            console.log('--nexavarcalls' + {!nexavarCalls});
            console.log('--maxnexavarcalls' + {!maxnexavarCalls});
        
            barChartRender('{!totalCallsHCP}', '.circle', '.percent', '{!maxtotalCallsHCP}', '{!percentagetotalCallsHCP}');
            barChartRender('{!totalHCPs}', '.circle2', '.percent2','{!maxTotalHCPs}', '{!percentageTotalHcps}');
            barChartRender('{!nexavarCalls}', '.circle1', '.percent1','{!maxnexavarCalls}', '{!percentagenexavarCalls}');
            barChartRender('{!stivargaCalls}', '.circle3', '.percent3','{!maxstivargaCalls}', '{!percentagestivargaCalls}');
        </script> 
    </apex:outputPanel>
   
   
   <div class="container">
       
       <span class=" box-top-div1">Call Plan Summary</span>
       <br></br>
     <apex:outputPanel id="metricsPanel">
                <apex:outputPanel rendered="{! IF(mcCallPlan,false,true)}">
                               <div id="indicatorContainer" style="border: 5px; ">
                        <div class="clear"></div>
                        <div class="main-box">
                            <div class="main">
                                <div class="charrt1">
                                    
                                    <apex:outputPanel styleClass="callSection {!IF(colortotalCallsHCP=='red','red',IF(colortotalCallsHCP=='yellow','yellow','blue'))}">
                                        <div class="call_center">

                                            <div class="call_content">

                                                <div class="top">

                                                    <div class="left">
                                                        {!percentagetotalCallsHCP}% 
                                                    </div>

                                                    <div class="right">

                                                        <span><span>Original</span>{!originaltotalCallsHCP}</span>

                                                        <span><span>Updated</span>{!totalCallsHCP}</span>

                                                    </div>

                                                </div>

                                                <div class="map_chart">
                                                    <div class="red1"></div>
                                                    <span>&gt;10%</span>
                                                    
                                                    <div class="yellow1"></div>
                                                    <span>5-10%</span>
                                                    
                                                    <div class="green1"></div>
                                                    <span>&lt;5%</span>
                                                </div>

                                            </div>

                                            <div class="call_header">
                                                Total Calls 
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                    
                                    <apex:outputPanel styleClass="callSection {!IF(colorTotalHCPs=='red','red',IF(colorTotalHCPs=='yellow','yellow','blue'))}">
                                        <div class="call_center">

                                            <div class="call_content">

                                                <div class="top">

                                                    <div class="left">
                                                        {!percentageTotalHcps}%
                                                    </div>

                                                    <div class="right">

                                                        <span><span>Original</span>{!originaltotalHCPs}</span>

                                                        <span><span>Updated</span>{!totalHCPs}</span>

                                                    </div>

                                                </div>

                                                <div class="map_chart">
                                                    <div class="red1"></div>
                                                    <span>&gt;10%</span>
                                                    
                                                    <div class="yellow1"></div>
                                                    <span>5-10%</span>
                                                    
                                                    <div class="green1"></div>
                                                    <span>&lt;5%</span>
                                                </div>

                                            </div>

                                            <div class="call_header">
                                                Total Targets 
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                    <apex:outputPanel styleClass="callSection {!IF(colortotalCallsHCP=='red','red',IF(colortotalCallsHCP=='yellow','yellow','blue'))}">
                                        <div class="call_center">

                                            <div class="call_content">

                                                <div class="top">

                                                    <div class="left">
                                                        {!percentagetotalCallsHCP}%
                                                    </div>

                                                    <div class="right">

                                                        <span><span>Original</span>{!originaltotalCallsHCP}</span>

                                                        <span><span>Updated</span>{!totalCallsHCP}</span>

                                                    </div>

                                                </div>

                                                <div class="map_chart">
                                                    <div class="red1"></div>
                                                    <span>&gt;10%</span>
                                                    
                                                    <div class="yellow1"></div>
                                                    <span>5-10%</span>
                                                    
                                                    <div class="green1"></div>
                                                    <span>&lt;5%</span>
                                                </div>

                                            </div>

                                            <div class="call_header">
                                                Methanol Calls 
                                            </div>

                                        </div>
                                    
                                    </apex:outputPanel>
                                    <apex:outputPanel styleClass="callSection {!IF(colortotalCallsHCP=='red','red',IF(colortotalCallsHCP=='yellow','yellow','blue'))}">
                                        <div class="call_center">

                                            <div class="call_content">

                                                <div class="top">

                                                    <div class="left">
                                                        {!percentagetotalCallsHCP}%
                                                    </div>

                                                    <div class="right">

                                                        <span><span>Original</span>{!originaltotalCallsHCP}</span>

                                                        <span><span>Updated</span>{!totalCallsHCP}</span>

                                                    </div>

                                                </div>

                                                <div class="map_chart"> 
                                                    <div class="red1"></div>
                                                    <span>&gt;10%</span>
                                                    
                                                    <div class="yellow1"></div>
                                                    <span>5-10%</span>
                                                    
                                                    <div class="green1"></div>
                                                    <span>&lt;5%</span>
                                                </div>

                                            </div>

                                            <div class="call_header">
                                                Arixone Calls 
                                            </div>
                                
                                        </div>
                                    
                                    </apex:outputPanel>
                                    
                                <!--<div style="float: left;" class="wrap">
                                    <div class="bar-div">
                                        <h1>Total Calls   &nbsp;&nbsp;&nbsp;&nbsp;{!totalCallsHCP}</h1><h1>&nbsp;&nbsp;&nbsp;&nbsp;(Original &nbsp;&nbsp;{!originaltotalCallsHCP})</h1> 
                                        <div class="bar">
                                            <div class="percent">
                                                <span style="width: 0%;"></span>
                                            </div>
                                            <div class="circle">
                                                <span>{!percentagetotalCallsHCP}</span>
                                            </div>
                                         
                                        </div>
                                        <div class="clear10"></div>
                                        <table  style=" border:0px;" class="table-example">
                                            <tr>
                                                <td style="width: 18px;"><div class="red1"></div></td>
                                                <td>&#62;&#177;30</td>
                                                <td><div class="yellow1"></div></td>
                                                <td>&#177;20 - &#177;30</td>
                                                <td><div class="green1"></div></td>
                                                <td>0 - &#177;20</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="bar-div">
                                        <h1>Total Targets &nbsp;&nbsp;&nbsp;&nbsp;{!totalHCPs}</h1><h1>&nbsp;&nbsp;&nbsp;&nbsp;(Original &nbsp;&nbsp;{!originaltotalHCPs})</h1>
                                                <div class="bar">
                                                    <div class="percent2">
                                                        <span style="width: 0%;"></span>
                                                    </div>
                                                    <div class="circle2">
                                                        <span>{!percentageTotalHcps}%</span>
                                                    </div>
                                                </div>
                                                 <div class="clear10"></div>
                                                 <table  style=" border:0px;" class="table-example">
                                                    <tr>
                                                        <td style="width: 18px;"><div class="red1"></div></td>
                                                        <td>&#62;&#177;30</td>
                                                        <td><div class="yellow1"></div></td>
                                                        <td>&#177;20 - &#177;30</td>
                                                        <td><div class="green1"></div></td>
                                                        <td>0 - &#177;20</td>
                                                    </tr>
                                                </table>
                                    </div>
                                    <div class="bar-div">
                                        <h1>Methanol Calls  &nbsp;&nbsp;&nbsp;&nbsp;{!nexavarCalls}</h1><h1>&nbsp;&nbsp;&nbsp;&nbsp;(Original &nbsp;&nbsp;{!originalnexavarCalls})</h1>
                                                <div class="bar">
                                                    <div class="percent1">
                                                        <span style="width: 0%;"></span>
                                                    </div>
                                                    <div class="circle1">
                                                        <span>{!percentagenexavarCalls}%</span>
                                                    </div>
                                                </div>
                                                 <div class="clear10"></div>
                                                 <table  style=" border:0px;" class="table-example">
                                                   <tr>
                                                        <td style="width: 18px;"><div class="red1"></div></td>
                                                        <td>&#62;&#177;30</td>
                                                        <td><div class="yellow1"></div></td>
                                                        <td>&#177;20 - &#177;30</td>
                                                        <td><div class="green1"></div></td>
                                                        <td>0 - &#177;20</td>
                                                    </tr>
                                                </table>
                                    </div>
                                    <div class="bar-div">
                                        <h1>Arixone Calls  &nbsp;&nbsp;&nbsp;&nbsp;{!stivargaCalls}</h1><h1>&nbsp;&nbsp;&nbsp;&nbsp;(Original &nbsp;&nbsp;{!originalstivargaCalls})</h1>
                                                <div class="bar">
                                                    <div class="percent3">
                                                        <span style="width: 0%;"></span>
                                                    </div>
                                                    <div class="circle3">
                                                        <span>{!percentagestivargaCalls}%</span>
                                                    </div>
                                                </div>
                                                 <div class="clear10"></div>
                                                 <table  style=" border:0px;" class="table-example">
                                                    <tr>
                                                        <td style="width: 18px;"><div class="red1"></div></td>
                                                        <td>&#62;&#177;30</td>
                                                        <td><div class="yellow1"></div></td>
                                                        <td>&#177;20 - &#177;30</td>
                                                        <td><div class="green1"></div></td>
                                                        <td>0 - &#177;20</td>
                                                    </tr>
                                                </table>
                                    </div>
                                </div>-->
                                </div>
                                <div class="charrt2">
                               
                                    <!-- <div class="panel1 padding-panel">
                                        <div class="panel-number">{!offFormularySamscaTarg}</div>
                                        <div class="panel-content panel1-content">Off Formulary
                                            Arexone Targets</div>
                                    </div>
                                    <div class="panel2 padding-panel">
                                        <div class="panel-number">{!onFormularySamscaTarg}</div>
                                        <div class="panel-content panel2-content">On Formulary
                                            Arexone Targets</div>
                                    </div> -->
                                    <apex:outputPanel layout="block" styleClass="panelShow left" >
                                        <div class="panel3 padding-panel" style="cursor:pointer; cursor: hand;">
                                            <div class="panel-number">{!phyAdded}</div>
                                            <!-- totalMaintenaTarget -->
                                            <div class="panel-content panel3-content"><span >Targets Added</span></div>
                                        </div>
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="block" styleClass="panelShow right" >
                                        <div class="panel3 padding-panel" style="cursor:pointer; cursor: hand;">
                                            <div class="panel-number">{!phyDropped}</div>
                                            <div class="panel-content panel3-content"><span >Targets Dropped</span></div>
                                        </div>
                                    </apex:outputPanel>
                               
                                </div>
                            </div>
                        </div>
                    </div>

          
                </apex:outputPanel>
                
                <apex:outputPanel rendered="{! IF(mcCallPlan,true,false)}">
                     <div id="indicatorContainer" style="border: 5px; ">
                        <div class="clear"></div>
                        <div class="main-box">
                            <div class="main">
                                <div class="charrt1 charrt10">
                                    
                                    <apex:outputPanel styleClass="callSection1 {!IF(colortotalCallsHCP=='red','red',IF(colortotalCallsHCP=='yellow','yellow','blue'))}">
                                        <div class="call_center">

                                            <div class="call_content">

                                                <div class="top">

                                                    <div class="left">
                                                        {!percentagetotalCallsHCP}% 
                                                    </div>

                                                    <div class="right">

                                                        <span><span>Original</span>{!originaltotalCallsHCP}</span>

                                                        <span><span>Updated</span>{!totalCallsHCP}</span>

                                                    </div>

                                                </div>

                                                <div class="map_chart">
                                                    <div class="red1"></div>
                                                    <span>&gt;10%</span>
                                                    
                                                    <div class="yellow1"></div>
                                                    <span>5-10%</span>
                                                    
                                                    <div class="green1"></div>
                                                    <span>&lt;5%</span>
                                                </div>

                                            </div>

                                            <div class="call_header">
                                                Total Call Effort
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                    
                                    <apex:outputPanel styleClass="callSection1 {!IF(colorF2F=='red','red',IF(colorF2F=='yellow','yellow','blue'))}">
                                        <div class="call_center">

                                            <div class="call_content">

                                                <div class="top">

                                                    <div class="left">
                                                        {!percentageF2fCalls}%
                                                    </div>

                                                    <div class="right">

                                                        <span><span>Original</span>{!originalF2fCalls}</span>

                                                        <span><span>Updated</span>{!updatedF2fCalls}</span>

                                                    </div>

                                                </div>

                                                <div class="map_chart">
                                                    <div class="red1"></div>
                                                    <span>&gt;10%</span>
                                                    
                                                    <div class="yellow1"></div>
                                                    <span>5-10%</span>
                                                    
                                                    <div class="green1"></div>
                                                    <span>&lt;5%</span>
                                                </div>

                                            </div>

                                            <div class="call_header">
                                                F2F Effort 
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                    
                                    <apex:outputPanel styleClass="callSection1 {!IF(colorPhone=='red','red',IF(colorPhone=='yellow','yellow','blue'))}">
                                        <div class="call_center">

                                            <div class="call_content">

                                                <div class="top">

                                                    <div class="left">
                                                        {!percentagePhoneCalls}% 
                                                    </div>

                                                    <div class="right">

                                                        <span><span>Original</span>{!originalPhoneCalls}</span>

                                                        <span><span>Updated</span>{!updatedPhoneCalls}</span>

                                                    </div>

                                                </div>

                                                <div class="map_chart">
                                                    <div class="red1"></div>
                                                    <span>&gt;10%</span>
                                                    
                                                    <div class="yellow1"></div>
                                                    <span>5-10%</span>
                                                    
                                                    <div class="green1"></div>
                                                    <span>&lt;5%</span>
                                                </div>

                                            </div>

                                            <div class="call_header">
                                                Phone Effort 
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                     <apex:outputPanel styleClass="callSection1 {!IF(colorEmail=='red','red',IF(colorEmail=='yellow','yellow','blue'))}">
                                        <div class="call_center">

                                            <div class="call_content">

                                                <div class="top">

                                                    <div class="left">
                                                        {!percentageEmailCalls}% 
                                                    </div>

                                                    <div class="right">

                                                        <span><span>Original</span>{!originalEmailCalls}</span>

                                                        <span><span>Updated</span>{!updatedEmailCalls}</span>

                                                    </div>

                                                </div>

                                                <div class="map_chart">
                                                    <div class="red1"></div>
                                                    <span>&gt;10%</span>
                                                    
                                                    <div class="yellow1"></div>
                                                    <span>5-10%</span>
                                                    
                                                    <div class="green1"></div>
                                                    <span>&lt;5%</span>
                                                </div>

                                            </div>

                                            <div class="call_header">
                                                Email Effort
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                    <apex:outputPanel styleClass="callSection1 {!IF(colorRemote=='red','red',IF(colorRemote=='yellow','yellow','blue'))}">
                                        <div class="call_center">

                                            <div class="call_content">

                                                <div class="top">

                                                    <div class="left">
                                                        {!percentageRemoteCalls}% 
                                                    </div>

                                                    <div class="right">

                                                        <span><span>Original</span>{!originalRemoteCalls}</span>

                                                        <span><span>Updated</span>{!updatedRemoteCalls}</span>

                                                    </div>

                                                </div>

                                                <div class="map_chart">
                                                    <div class="red1"></div>
                                                    <span>&gt;10%</span>
                                                    
                                                    <div class="yellow1"></div>
                                                    <span>5-10%</span>
                                                    
                                                    <div class="green1"></div>
                                                    <span>&lt;5%</span>
                                                </div>

                                            </div>

                                            <div class="call_header">
                                                Remote Effort
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                    <!--<apex:outputPanel styleClass="callSection {!IF(colorWebinar=='red','red',IF(colorWebinar=='yellow','yellow','blue'))}">
                                        <div class="call_center">

                                            <div class="call_content">

                                                <div class="top">

                                                    <div class="left">
                                                        {!percentageWebinarCalls}% 
                                                    </div>

                                                    <div class="right">

                                                        <span><span>Original</span>{!originalWebinarCalls}</span>

                                                        <span><span>Updated</span>{!updatedWebinarCalls}</span>

                                                    </div>

                                                </div>

                                                <div class="map_chart">
                                                    <table class="table-example table-exampleModified" style=" border:0px;">
                                                        <tbody>
                                                           <tr>
                                                                <td style="width: 18px;"><div class="red1"></div></td>
                                                                <td>&gt;±4</td>
                                                                <td><div class="yellow1"></div></td>
                                                                <td>±2 - ±4</td>
                                                                <td><div class="green1"></div></td>
                                                                <td>0-±2</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                            <div class="call_header">
                                                Total Webinar Effort
                                            </div> 
                                        </div>
                                    </apex:outputPanel>-->
                                   <apex:outputPanel styleClass="callSection1" >
                                        <apex:chart data="{!pieChartWrapper}" height="111" width="100%" background="#F5F5F5">
                                            
                                            <apex:legend position="left"/>
                                            <apex:pieSeries labelField="name" dataField="data1" donut="50">
                                                <apex:chartLabel display="none" />
                                                <apex:chartLabel display="middle" orientation="vertical"
                                                    font="bold 18px Helvetica"/>
                                            </apex:pieSeries>
                                        </apex:chart>

                                    </apex:outputPanel>
                                </div>
                                <div class="charrt2 charrt20">
                               
                                    <!-- <div class="panel1 padding-panel">
                                        <div class="panel-number">{!offFormularySamscaTarg}</div>
                                        <div class="panel-content panel1-content">Off Formulary
                                            Arexone Targets</div>
                                    </div>
                                    <div class="panel2 padding-panel">
                                        <div class="panel-number">{!onFormularySamscaTarg}</div>
                                        <div class="panel-content panel2-content">On Formulary
                                            Arexone Targets</div>
                                    </div> -->
                                    <apex:outputPanel layout="block" styleClass="panelShow panelShow1 left" >
                                        <div class="panel3 padding-panel" style="cursor:pointer; cursor: hand;">
                                            <div class="panel-number">{!phyAdded}</div>
                                            <!-- totalMaintenaTarget -->
                                            <div class="panel-content panel3-content"><span >Targets <br/> Added</span></div>
                                        </div>
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="block" styleClass="panelShow panelShow1 right" >
                                        <div class="panel3 padding-panel" style="cursor:pointer; cursor: hand;">
                                            <div class="panel-number">{!phyDropped}</div>
                                            <div class="panel-content panel3-content"><span >Targets <br/> Dropped</span></div>
                                        </div>
                                    </apex:outputPanel>
                               
                                </div>
                            </div>
                        </div>
                    </div>

   
                </apex:outputPanel>
            </apex:outputPanel>
            
           <br></br><br></br>
             <div class="clear"></div>
                   </div>
                   
                   <span class=" box-top-div1">Customer Change Summary</span>
                   <br></br>
    <div class="clear"></div>
                       <div style="border: 1px solid #ccc; padding: 5px; ">
                        <apex:outputPanel id="tablePanel">
                          <div id="divTable">
                                    <table id="table1" class="table-example" style="width:100%; word-wrap:break-word;"></table>
                            </div>
                     </apex:outputPanel>
     </div>        
</div> 
            
            </div>
           
     <!--Table for Changes Grid-->
     

     
     
     <apex:outputPanel id="dataTableScriptPanel">
         <script>
         console.log('Here');
             var sessionTable;
        var updatedRecs = {};
        var idRecMap = {};
        var sortDir = 'asc';
        var sortCol =   1;
        var $j = jQuery.noConflict();
            $j(function(){    
                 sessionTable = $j('#table1').DataTable({
                    "info":         false,
                    "searching":    true,
                    "lengthChange": false,
                    "pageLength":   10,                    
                    "processing":   false,
                    "dom": '<"div-pg"><"div-search"f><"div-tbl"p>t<"bottom-info">', // f search, p :- pagination , l:- page length 
                    "data":  '',
                    "order" : [[1,"asc"]],
                    "paging": false,
                    "bAutoWidth": true,
                    scrollY : "180px",
                    scrollX :true,
                    scrollCollapse: true,
                    "language": {
                          "emptyTable": "No Data Available",
                          search: "_INPUT_",
                            searchPlaceholder: "Search"
                        },
                    columns:{!columnsDataTable},
                 });    //DataTable function ends here
                  
            }); // Main Function ends here
            
            
                window.drawTable = function()
                {
                            console.log({!jsonStringField});
                           sessionTable
                                   .clear()
                                   .rows.add({!jsonStringField})
                                   .draw();
                                
                }
                
                
                
                $j( document ).ready(function() {
                 
                    drawTable();
              
                    sessionTable.columns.adjust().draw();
                });
                    
                    
         </script>
    </apex:outputPanel>
     
     
     <!--Table for Changes Grid Ends Here-->
    <script type="text/javascript">

window.onload = function(){
    //alert('Hi');
    
    //document.getElementById("ptBody").style.display='none';
    //debugger;
    var x=document.getElementsByTagName("input");

    for(var i=0;i<x.length;i++)
    
    {   
                    if(x[i].type=="button")  
    
                    {       
    
                                    if(x[i].name=="whats_new")       
    
                                    {           
    
                                                    x[i].style.display='none';       
    
                                    }   
    
                    }
    
    }
}
     $j( document ).ready(function() {
        
            barChartRender('{!totalCallsHCP}', '.circle', '.percent', '{!maxtotalCallsHCP}', '{!percentagetotalCallsHCP}');
            barChartRender('{!totalHCPs}', '.circle2', '.percent2','{!maxTotalHCPs}', '{!percentageTotalHcps}');
            barChartRender('{!nexavarCalls}', '.circle1', '.percent1','{!maxnexavarCalls}', '{!percentagenexavarCalls}');
            barChartRender('{!stivargaCalls}', '.circle3', '.percent3','{!maxstivargaCalls}', '{!percentagestivargaCalls}');
     });
    </script>
</apex:form>
    </div>
</apex:page>