<apex:page controller="Scenrio_TeamInstance_Past" sidebar="false">
  <apex:slds />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js" />
    <!-- <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js" /> -->

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/jstree.min.js"></script> -->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
    
    
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'jquery.dataTables.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'dataTables.fixedColumns.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.dataTables,'jquery.dataTables.css')}" />
    <apex:stylesheet value="{!$Resource.customCss}"/>
    <apex:stylesheet value="{!URLFor($Resource.font_awesome, 'css/font-awesome.css')}"/>
    
    <apex:includeScript value="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js" />
    <apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js" />
    <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js" />
    <apex:includeScript value="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js" />
    <apex:includeScript value="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js" />
    <apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js" />
    <apex:includeScript value="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js" />
    
    <apex:includeScript value="//cdn.datatables.net/plug-ins/1.10.16/sorting/natural.js" />
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/new/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/call-territorry/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/Filter/style.css')}"/>

        <style>
        .sign {
            font-size: 50px;
            line-height: 26px;
            display: inline-block;
            float: right;
        }
        .sign.sign1 { font-size: 30px;}
        .slds-scope .slds-input.input12 { width: calc(100% - 20px); float: left; }
        .metricsPanel .slds-text-body_regular .slds-truncate { float: left;  margin-right: 5px; }
        .calltable {}
        .slds-scope .slds-table.calltable { background-color: transparent; }
        .slds-scope .data4 .slds-table.calltable tr {   line-height: initial; } 
        .slds-scope .slds-table.calltable td { padding: 0px; }
            .data4 .slds-text-heading_large { text-align: center; width: 100%; float: none; }
            .data4 .slds-float_right.slds-text-body_regular { width: 100%; }
#sliderContent {
  width: 100%;
  position: relative;
}

.viewer {
  width: 100%;
  height: 150px;  
  overflow: hidden;
  position: relative;
}

.content-conveyor {
  width: 100%;
  height: 150px;
  position: relative;
}

.item {
  width: 304px;
  float: left; padding-right: 0.5rem;
}

#prev,
#next {
  position: absolute;
  bottom: 0px;
  font-size: 10px;
  cursor: pointer;
  background: #000;
  color: #fff;
  padding: 0 4px;
}

#prev:hover,
#next:hover {
  background: #ccc;
  color: #000;
}

#prev {
  left: 5px;
}

#next {
  right: 5px;
}
.slds-scope .slds-modal_medium , .slds-scope .slds-modal_medium { width: 80%; max-width: 80%; }

.popupMsg { width: 70%; max-width: 70%; margin-left: 15%; }
.slds-modal__container, .slds-modal__container {
  width: 40%; max-width: 40%;
}
.black-color { color: #000;}
.slds-scope table.popuptable, .popuptable1 { width: 610px; margin: 0 auto; }
.popuptable1 { margin-top: 5px;}
.popuptable td { padding: 0.5rem; }
.popuptable .slds-input{ width: 100px; }
.dataTables_wrapper .dataTables_filter input {
      border: 1px;
    border-style: double;
}
.slds-scope #table1_wrapper .slds-table td { height: 30px; padding-top: 0px; padding-bottom: 0px; }
#table1_wrapper td select, #table1_wrapper td input[type="number"] {  width: calc(100% - (22px + .5rem)) ;}

    </style>
    <apex:form >
      <apex:pageBlock title="Scenario Page">   
       <apex:pageBlockButtons location="Top" >
            
            <apex:commandButton value="Submit" action="{! cliston}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection >
           
      <apex:outputLabel >Country</apex:outputLabel>
      
           <apex:selectList size="1" value="{!counMas}">
            <apex:selectOptions value="{!options}"/>
            <apex:actionSupport event="onchange" action="{!workspacelistlist}"/>
             <apex:actionSupport event="onchange" action="{!workspacelistlist2}"/>
            </apex:selectList>           
      
  
       <apex:outputLabel >Past WorkSpace</apex:outputLabel>
                <apex:selectList size="1" value="{!workSpaceLi}">
                <apex:selectOptions value="{!clist}"/>
            
                </apex:selectList>         
                
                
                  <apex:outputLabel > Live WorkSpace</apex:outputLabel>
                <apex:selectList size="1" value="{!ScenarioLive}">  
                <apex:selectOptions value="{!clist}"/>
          
                </apex:selectList>
                
               
                
                  </apex:pageBlockSection>
   </apex:pageBlock>
   
    
    </apex:form>
</apex:page>