<apex:page controller="Team_Instance_Product" sidebar="false" id="page" doctype="html-5.0">
  <!-- <apex:pageMessage id="errorMessage1"/> -->
    
   <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
    <apex:slds />
    <apex:stylesheet value="{!$Resource.SnTCss}"/>
    <!--<apex:stylesheet value="{!$Resource.AxtriaSalesIQTM__orignal}" />
    <apex:stylesheet value="{!URLFOR($Resource.AxtriaSalesIQTM__iconsimage, 'icons-image/icons.css')}" />-->
    <apex:includeScript value="{!URLFOR($Resource.ajax,'jquery.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.ajax,'jquery-ui.min.js')}" />

    <!--<apex:styleSheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/smoothness/jquery-ui.css" />
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Roboto:400,500,300,700" />-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>



    <apex:includeScript value="{!URLFOR($Resource.dataTables,'jquery.dataTables.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.dataTables,'dataTables.fixedColumns.min.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.dataTables,'jquery.dataTables.css')}"/>
   
    <apex:stylesheet value="{!URLFor($Resource.font_awesome, 'css/font-awesome.css')}"/>

    <apex:includeScript value="{!URLFOR($Resource.buttons,'dataTables.buttons.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.buttons,'buttons.flash.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.buttons,'buttons.html5.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.buttons,'buttons.print.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.ajax,'jszip.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.pdfmake,'pdfmake.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.pdfmake,'vfs_fonts.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.plugin,'natural.js')}" />


    <!--  <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/new/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/call-territorry/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.svg_final, 'svg-final/Filter/style.css')}"/> -->
    <script>
        var childIDs = '';
    </script>
    <style>
                @media only screen and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
.collapseGuardrail{ margin-right:14px !important; }
.zoom8 .dataTables_scrollBody{height:calc(100vh - 355px) !important;}
.zoom12 .dataTables_scrollBody{height:calc(100vh - 470px) !important;}
}
         @media only screen and (min-width: 767px) and (max-width: 1023px){
                    .DTFC_LeftBodyLiner table {border-right: 1px solid rgb(221, 219, 218) !important;}
        }
        @media only screen and (min-width: 1200px) {
            .DTFC_LeftBodyLiner table {border-right: 11px solid rgb(221, 219, 218) !important;}
    .zoom8 .dataTables_scrollBody{height:calc(100vh - 175px) !important;}
    .zoom1 .dataTables_scrollBody{height:calc(100vh - 305px) !important;}
    .zoom12 .dataTables_scrollBody{height:calc(100vh - 477px) !important;}
        }
        .dataTables_scrollBody{height:calc(100vh - 335px) !important;}
       /* table.dataTable.no-footer { border-color: #d8dde6; }*/
        .teamInstanceProductTable tr td:first-child { width: 100px; }
        .teamInstanceProductTable tr td { text-align: center;}
        .slds-form-element__control { width: 80% !important;}
        #teamInstanceProductTable_filter{margin-bottom:10px;}
        .inp{line-height: 30px !important; border:1px solid #d8dde6;}
        .inp1{line-height: 30px !important; border:1px solid #d8dde6; float: left; position: absolute; top:-6px; left:155px;}
        .headingClass { color:#fff !important; }
    </style>
    <script>

     window.onload = function(){
        var body = document.body,
        html = document.documentElement;
    
        var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
        var width = Math.max(body.scrollWidth, body.offsetWidth, html.clientWidth, html.scrollWidth, html.offsetWidth );
        var ratio =  window.devicePixelRatio;

        if(ratio == 1){
            document.getElementById("myDIV").style.zoom = 1;
            document.getElementById("myDIV").classList.remove("zoom8");
             document.getElementById("myDIV").classList.remove("zoom12");
            document.getElementById("myDIV").classList.add("zoom1");
        }

        else if(ratio > 1){
            document.getElementById("myDIV").style.zoom = .8;
            document.getElementById("myDIV").classList.remove("zoom1");
            document.getElementById("myDIV").classList.remove("zoom12");
            document.getElementById("myDIV").classList.add("zoom8");
        }
        
        else{
            document.getElementById("myDIV").style.zoom = 1.2;
            document.getElementById("myDIV").classList.remove("zoom1");
            document.getElementById("myDIV").classList.remove("zoom8");
            document.getElementById("myDIV").classList.add("zoom12");
        }
       } 

   window.onresize = function(){
      
        var body = document.body,
        html = document.documentElement;
        var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
        var width = Math.max(body.scrollWidth, body.offsetWidth, html.clientWidth, html.scrollWidth, html.offsetWidth );
        var ratio =  window.devicePixelRatio;

        if(ratio == 1){
            document.getElementById("myDIV").style.zoom = 1;
            document.getElementById("myDIV").classList.remove("zoom8");
             document.getElementById("myDIV").classList.remove("zoom12");
            document.getElementById("myDIV").classList.add("zoom1");
        }

        else if(ratio > 1){
            document.getElementById("myDIV").style.zoom = .8;
            document.getElementById("myDIV").classList.remove("zoom1");
            document.getElementById("myDIV").classList.remove("zoom12");
            document.getElementById("myDIV").classList.add("zoom8");
        }
        
        else{
            document.getElementById("myDIV").style.zoom = 1.2;
            document.getElementById("myDIV").classList.remove("zoom1");
            document.getElementById("myDIV").classList.remove("zoom8");
            document.getElementById("myDIV").classList.add("zoom12");
        }
    }
</script>

    <apex:form >
    <div id="myDIV">

       <div class="slds-page-header  slds-p-around_x-small">
                <div class="slds-media">
                    <div class="slds-media__figure">
                         <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-opportunity">
                            <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                              <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#opportunity')}" />
                            </svg>
                            </span>
                        </div>
                    </div>
                    <div class="slds-media__body">
                        <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="View Business Rule Matrix List">Scenario Product</h1>
                                               
                    </div>
                </div>
            </div>
            <div class="clear5"></div>
    <!--<apex:outputPanel styleclass="slds-modal__content " id="success_pgmsg">
                        <apex:pageMessages escape="false"/>
                    </apex:outputPanel>-->
    <apex:outputPanel id="test">
         <apex:actionStatus id="spinnerStatus">
                    <apex:facet name="start">
                     <div class="slds-spinner_container slds-is-fixed">
                        <div role="status" class="slds-spinner slds-spinner_medium">
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </apex:facet>
         </apex:actionStatus>
     </apex:outputPanel>

       
        <div class="slds-form slds-form_compound" >
            <apex:pageMessages id="errorMessage" />
            <fieldset class="slds-box" style="margin:10px;">
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row">
                        <div class="slds-gutters slds-size_1-of-5">
                            <label class="slds-form-element__label">{!$Label.axtriaarsnt__gn_cycle}</label>
                            <div class="slds-form-element__control">
                                <div>
                                    <apex:selectList value="{!cycleSelected}" size="1" styleClass="slds-select">
                                        <apex:actionSupport event="onchange" action="{!scenarioChanged}" oncomplete="drawTable();" reRender="teamInstancePanel,createButton,ctrlVarPanel"/>
                                        <apex:selectOptions value="{!allcycles}"/>
                                    </apex:selectList>
                                </div>

                            </div>
                        </div>

                        <div class="slds-gutters slds-size_1-of-5">
                            <label class="slds-form-element__label">{!$Label.axtriaarsnt__business_unit}</label>
                            <div class="slds-form-element__control">
                               <apex:outputPanel id="teamInstancePanel">
                                <div>
                                    <apex:selectList value="{!teaminstanceSelected}" size="1" styleClass="slds-select">
                                        <apex:actionSupport event="onchange" action="{!teamInstanceChanged}" oncomplete="drawTable();" reRender="createButton,ctrlVarPanel"
                                        />
                                        <apex:selectOptions value="{!allteaminstance}" />
                                    </apex:selectList>
                                </div>
                                </apex:outputPanel>
                            </div>
                        </div>

                        <!-- A1422 Jira ST-7 -->
                        
                            <div class="slds-size_3-of-5">
                                <apex:outputPanel id="createButton">
                                    <apex:outputPanel rendered="{!showCreate}" >
                                        <div class="" style="padding-top: 1.35rem; margin-left: 50%;">
                                            <apex:commandButton styleclass="slds-button slds-button_brand" value="Create New" onclick="createNew();" rerender="pgmsg" />
                                        </div>
                                    </apex:outputPanel>
                                </apex:outputPanel>
                            </div>
                        

                       <!--  <div class="slds-form-element slds-size_1-of-3">
                            <apex:outputPanel >   
                                <apex:actionFunction name="saveProductData" action="{!addDropProductsTeam}" reRender="errorMessage"
                                    oncomplete="drawTable();">
                                    <apex:param name="phyRecs" assignTo="{!phyRecs}" value="{!}" />
                                </apex:actionFunction>

                                <div class="" style="padding-top: 1.35rem;">
                                    <apex:commandButton styleclass="slds-button slds-button_brand" value="Save" onclick="saveData();"
                                        rerender="errorMessage" />
                                </div>
                            </apex:outputPanel>
                        </div> -->
                    </div>
                </div>
            </fieldset>
        </div>


    <div style="margin:15px 10px 10px 10px; ">
        <apex:outputPanel id="productDataTable" >
        <!-- <apex:outputPanel rendered="{!showCreate}"> -->
            <table class="snt-table" id="teamInstanceProductTable" style="width:100%;"> </table>
       <!--  </apex:outputPanel> -->
        </apex:outputPanel>
</div>
<apex:outputPanel id="errormsgpanel">
 <script>
    function toastmsg(popupClass)
   {

        console.log('popupClass--'+popupClass);

        closeModal(popupClass);

        let errorThrown = {!errorThrown}; //true
        let errorMessage = '{!errorMessage1}';
        console.log('errorMessage--'+errorMessage);
        console.log('errorThrown--'+errorThrown);
        let className = (errorThrown===true) ? 'toastError' : 'toastSuccess'; //toastError
        console.log('className--'+className); //toasError
        $j('.'+className+' .headingClass').html(errorMessage); //toastError div --> successheading h2 --> errormessage2
        if(errorMessage !== "")
        {
        showModal(className);
         //showModal(toasterror)
        setTimeout(function()
        { 
          closeModal(className);
          if(className==='toastSuccess'){
          location.reload();
          }
          
        }, 5000);
        }
    }

     function displaySuccessMessage(popupClass)
    {

        console.log('popupClass--123'+popupClass);
        let errorThrown = {!errorThrown}; //true
        let errorMessage = '{!errorMessage2}';
        console.log('errorMessage--'+errorMessage);
        console.log('errorThrown--'+errorThrown);
        let className = (errorThrown===true) ? 'toastError' : 'toastSuccess'; //toastError
        console.log('className--'+className); //toasError
        $j('.'+className+' .headingClass').html(errorMessage); //toastError div --> successheading h2 -->errormessage2     
        if(errorMessage !== ""){
        console.log('inside if');    
        showModal(className); //showModal(toasterror)
        setTimeout(function()
        { 
          closeModal(className);
          //if(className==='toastSuccess'){
          //location.reload();
          //}
          
        }, 5000);
        }
    }
    </script>
</apex:outputPanel>
        <apex:outputPanel id="productModalPanel">
        <div class="productModal slds-hide" id="productModal">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium" >
                <div class="slds-modal__container" style="width:70% !important; max-width: unset !important;">
                    <header class="slds-modal__header">
                        <button onclick="closeProductPopUp(); return false;" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" style="font-size: 32px">
                            &times; <span class="slds-assistive-text">Close</span>
                        </button>
                        <!-- <apex:commandButton value="Close" styleClass="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"  onclick="document.getElementById('productModal').classList.add('slds-hide');return false;"  rerender="productModalPanel"/> -->
                        <h2 class="slds-text-heading_medium slds-hyphenate">Product List</h2>
                    </header>
                    <!-- <apex:outputPanel styleclass="slds-modal__content slds-p-around_medium" id="modalContent2">
                        <apex:outputPanel rendered="{!showCurveData}">
                            <div class="slds-grid">
                                <div class="slds-frame slds-size--1-of-3 slds-p-around_xx-small">
                                    <div class="slds-form-element">
                                        <label class="slds-form-element__label">Adoption/Potential</label>
                                        <div class="slds-form-element__control">
                                            <div class="slds-select_container">
                                                <apex:selectList styleclass="slds-select selectedAdopt" size="1" value="{!adoptOrPot}">
                                                    <apex:actionSupport event="onchange" action="{!createConcCurve}" rerender="modalContent2,chartPanel" status="status"/>
                                                    <apex:selectOptions value="{!adoptPotConcCurveList}" />
                                                </apex:selectList>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="container" style="padding-top: 20px;min-width: 310px; height: 250px; margin: 0 auto" styleclass="slds-m-around_small"></div>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!!showCurveData}">
                            <div class="slds-align_absolute-center slds-text-align_center slds-text-heading_medium" style="height: 5rem;font-weight:bold;">
                                Concentration Curve not available for this Business Rule
                            </div>
                        </apex:outputPanel>
                    </apex:outputPanel> -->
                    <!-- <apex:outputPanel layout="block" styleclass="slds-modal__content pgmsg" id="pgmsg">
                        <apex:pageMessages escape="false"/>
                    </apex:outputPanel> -->
                    <apex:outputPanel styleclass="slds-modal__content slds-p-top_medium" id="modalContent2" style="height: 330px;">
                        <!-- <div class="slds-grid"> -->
                            <apex:outputPanel layout="block" styleclass="slds-p-around_medium pgmsg" id="pgmsg">
                                <apex:pageMessages escape="false"/>
                            </apex:outputPanel>
                            <div class="slds-frame slds-p-top_xx-small slds-text-align--center">
                                <div class="slds-form-element">
                                    <!-- <apex:selectRadio value="{!isCatalog}"  >
                                    <apex:actionSupport event="onchange" rerender="prdpanel,catalogpanel,saveScriptPanel,prodCatalogTable" />
                                            <apex:selectOption itemValue="False" itemlabel="Create New Product" />
                                            <apex:selectOption itemValue="True" itemlabel="Create New Product Catalog"/>
                                    </apex:selectRadio> -->
                                    <div class="slds-grid slds-gutters">
                                      <div class="slds-col">
                                        <input type="radio" name="isCatalog" onclick="createProductFunc();" value="False">&nbsp;&nbsp;Create New Product</input>
                                      </div>
                                      <div class="slds-col">
                                        <input type="radio" name="isCatalog" onclick="createCatalogFunc();" value="True">&nbsp;&nbsp;Create New Product Portfolio</input>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        <!-- </div> -->

                            <apex:outputPanel styleclass="slds-p-around_medium prdpanel" id="prdpanel" > <!--style="{!IF(isCatalog == 'True','display:none;box-shadow: none','box-shadow:none')}" -->
                                <div class="slds-grid" style="margin:0 20px !important;" >
                                    <div class="slds-frame slds-size--1-of-3 ">
                                        <div class="slds-form-element">
                                            <apex:inputText value="{!productName}" id="ProductName" styleClass="ProductName inp">
                                                <apex:outputLabel >Product Name:</apex:outputLabel>
                                            </apex:inputText>
                                        </div>
                                    </div>
                                    <div class="slds-frame slds-size--1-of-3 ">
                                        <div class="slds-form-element">
                                            <apex:inputText value="{!productExtId}" id="ExternalID" styleClass="ExternalID inp">
                                                <apex:outputLabel >Product Code: </apex:outputLabel>
                                            </apex:inputText>
                                        </div>
                                    </div>
                                    <div class="slds-frame slds-size--1-of-3">
                                        <div class="slds-form-element">
                                            <apex:inputText value="{!productSpecialty}" id="Specialty" styleClass="Specialty inp">
                                                <apex:outputLabel >Product Detail Group: </apex:outputLabel>
                                            </apex:inputText>
                                        </div>
                                    </div>
                                            
                                </div>
                        </apex:outputPanel>
                        <apex:outputPanel styleclass="slds-p-around_small catalogpanel" id="catalogpanel" ><!-- style="box-shadow: none;" rendered="{!if(isCatalog == 'True',true,false)}" -->
                                <div class="slds-grid">
                                    <div class="slds-frame slds-size--1-of-3 ">
                                        <div class="slds-form-element">
                                            <apex:inputText value="{!catName}" id="CatalogName" styleClass="CatalogName inp1">
                                                <apex:outputLabel style="padding-left:10px;" >Product Portfolio Name: </apex:outputLabel>
                                            </apex:inputText>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 200px; overflow: auto; border: 1px solid #d8dde6; margin:20px 10px 0px 10px;">
                                <table class="snt-table" id="prodCatalogTable" >
                                    <thead>
                                        <tr>
                                            <th  style="line-height: 20px; padding: 10px;"> Select </th>
                                            <th style=" padding: 10px;"> Product Name </th>
                                            <th style=" padding: 10px;"> Product Code </th>
                                            <th style=" padding: 10px;"> Product Detail </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <apex:repeat value="{!prodCatWrapperlist}" var="prodCat">
                                            <tr>
                                                <!-- <td> <input type='checkbox' class="slds-checkbox" id="{!prodCat.childId}" onclick="changeProduct(this.id)"/></td> -->
                                                <td> <input type='checkbox' class="slds-checkbox" id="{!prodCat.childId}"/></td>
                                                <td> {!prodCat.childName} </td>
                                                <td> {!prodCat.childExt} </td>
                                                <td> {!prodCat.childDetail} </td>
                                            </tr>
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            </div>
                                    <!-- <div class="slds-frame slds-size--1-of-3 slds-p-around_xx-small">
                                        <div class="slds-form-element">
                                            <apex:inputText value="{!productExtId}" id="ExternalID">
                                                <apex:outputLabel>External ID: </apex:outputLabel>
                                            </apex:inputText>
                                        </div>
                                    </div>
                                    <div class="slds-frame slds-size--1-of-3 slds-p-around_xx-small">
                                        <div class="slds-form-element">
                                            <apex:inputText value="{!productSpecialty}" id="Specialty">
                                                <apex:outputLabel>Specialty: </apex:outputLabel>
                                            </apex:inputText>
                                        </div>
                                    </div> -->
                                   
                            
                            </apex:outputPanel>
                    </apex:outputPanel>
                    
                    <!-- <apex:outputPanel styleclass="slds-modal__content slds-p-around_medium" id = "catalogpanel" >
                        <apex:outputPanel styleclass="slds-modal__content slds-p-around_medium" id="catalog" rendered="{!if(isCatalog == 'True',true,false)}">
                            <div class="slds-grid">
                                
                                
                                        
                            </div>
                        
                        </apex:outputPanel>
                    </apex:outputPanel> -->

                    <footer class="slds-modal__footer">
                        <!-- <button class="slds-button slds-button_brand"  onclick="saveProd(); return false;"  id="Saveposprod" title="Save">Save</button> -->
                        
                        <apex:commandButton value="Save" styleClass="slds-button slds-button_brand"  onclick="saveProd(); return false;" id="Saveprod" rerender="saveScriptPanel"/>
                            <!-- <apex:actionSupport event="onclick" rerender="saveScriptPanel" /> -->
                        <button class="slds-button slds-button_neutral" onclick="closeProductPopUp();return false;">Cancel</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
      </apex:outputPanel>

        <apex:outputPanel id="ctrlVarPanel">
        <script>
                var teamInstance = '{!JSENCODE(selectedTeamInstance)}';
                
                var cycle = '{!JSENCODE(selectedcycle)}';

        </script>
    </apex:outputPanel>
        <script>
            var $j = jQuery.noConflict();
            var sessionTable;
            var masterList = [];
            

            $j(function() {
                sessionTable = $j('#teamInstanceProductTable').DataTable({
                    "info": false,
                    "searching": true,
                    "lengthChange": false,
                    "pageLength": 50,
                    "scrollX": true,
                    "processing": false,
                    "dom": '<"div-pg"><"div-search"f><"div-tbl">t<"bottom-info"p>', // f search, p :- pagination , l:- page length 
                    "data": '',
                    "order": [
                        [3, "asc"]
                    ],

                    columns: [{
                        data: 'presentInMyTeam',
                        title: 'Actions',
                        "defaultContent": ''
                    }, {
                        data: 'name',
                        title: 'Product Name',
                        "defaultContent": ''
                    }, {
                        data: 'detailGroup',
                        title: 'Product Detail Group',
                        "defaultContent": ''
                    }, {
                        data: 'externalID',
                        title: 'Product Code',
                        "defaultContent": ''
                    }, ],
                    columnDefs: [{
                        targets: 0,

                        "createdCell": function(td,cellData, rowData, row,col) 
                        {
                            var selectHtml = '';

                            if (cellData == true)
                             {
                                /*selectHtml =
                                    "<input type='checkbox' onchange=\"updateprfl(this)\" checked value=" +
                                    cellData +
                                    " />";*/
                                //console.log('++++ Hey rowData ' + rowData.externalID);
                                //masterList.push(rowData.externalID);

                                 selectHtml += '<a onClick="showDeassignPopupJava(this); return false;">Deassign</a>';
                                 selectHtml += '| <a onClick="showeditPopupJava(this); return false;">Edit</a>'; 

                                

                            } else 
                            {
                               /* selectHtml =
                                    "<input type='checkbox' onchange=\"updateprfl(this)\" value=" +
                                    cellData +
                                    " />";*/
                                 selectHtml += '<a onClick="showAssignPopupJava(this); return false;">Assign</a>';                            

                            }

                            $j(td).html(selectHtml);

                        }

                    }, ],
                    "createdRow": function(row, data, index) 
                    {
                        var data1 = data.externalID;
                         console.log(data1);
                         console.log(data.presentInMyTeam);
                            if (data.presentInMyTeam == true) 
                            {
                                masterList.push(data1);
    
                            }

                            console.log('m ' + masterList);
                        

                    }


                });
            });

            function drawTable() {

                console.log('Here In Draw Table');
                //showLoadingTable();
                //Commented By A1942 to refresh these values (teamInstance,cycle) in different outputpanel (id = "ctrlVarPanel")
                //var teamInstance = '{!JSENCODE(selectedTeamInstance)}';
                var countryID = '{!JSENCODE(countryID)}';
                //var cycle = '{!JSENCODE(cycleSelected)}';

                masterList = [];
                //console.log('line0:'+line);
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.Team_Instance_Product.populateTeamInstanceProduct}',
                    teamInstance, countryID, cycle,
                    function(result, event) 
                    {
                        if (event.status) 
                        {
                            console.log('---result-----');
                            console.log(result);
                            sessionTable.clear().rows.add(result).columns.adjust().draw();
                            //hideLoadingTable();
                        } 
                        else 
                        {
                          alert('Error Please Save Again');
                            //  hideLoadingTable();
                        }
                    });
            }


            drawTable();

            function updateprfl(changedRec) 
            {
                var idx = sessionTable.cell($j(changedRec).parent()).index().row;
                var val = ($j(changedRec)).val();
                var row = sessionTable.rows(idx).data();
                var data = row.data().toArray()[idx];
                console.log('++++++ Hey data.externalID' + data.externalID);
                console.log('======= Hey ' + masterList);


                console.log('+ Hey val is ' + val);
                if (changedRec.checked) 
                {
                    masterList.push(data.externalID);
                } else 
                {
                    masterList.remove(data.externalID);
                }

                console.log('Hey Master List is ');
                console.log(masterList);
            }

            function saveData() {

                if (masterList.length == 0)
                 {

                } else 
                {
                    var selectedphys = masterList.toString();
                    console.log('+ Hey Srring is ' + selectedphys);
                    saveProductData(selectedphys);
                    masterList = [];
                    
                }


                // phys = [];

            }

            

            function changeProduct(changeRec){
                let val = changeRec;
                console.log('val ---> ');
                console.log(val);
                let rec = $j("#"+changeRec).value;
                console.log('rec ---> ' + rec);
            }

            function closeProductPopUp(){
                console.log('---inside closeProductPopUp ---');
                document.getElementById('productModal').classList.add('slds-hide');
                $j(".ProductName").val('');
                $j(".ExternalID").val('');
                $j(".Specialty").val('');
                $j(".CatalogName").val('');

            }

            function createCatalogFunc(){
                $j(".catalogpanel").removeClass("slds-hide");
                $j(".prdpanel").addClass("slds-hide");
                $j(".ProductName").val('');
                $j(".ExternalID").val('');
                $j(".Specialty").val('');
                $j(".pgmsg").addClass('slds-hide')
            }

            function createProductFunc(){
                $j(".catalogpanel").addClass("slds-hide");
                $j(".prdpanel").removeClass("slds-hide");
                $j("input[name='isCatalog']")[0].checked = true;
                $j(".CatalogName").val('');
                $j(".pgmsg").addClass('slds-hide')
            }
            
            

        </script>

        <apex:outputPanel id="saveScriptPanel">
            <script>
                function saveProd(){
                console.log('inside saveProd');
                var proceed = true;

                childIDs = '';
                let isCat = $j("input[name='isCatalog']")[0].checked ? 'False' : 'True';
                /*let prodName = '{!JSENCODE(productName)}';*/
                let prodName = $j(".ProductName").val();
                let prodExt = $j(".ExternalID").val();
                let prodSpec = $j(".Specialty").val();
                let catName = $j(".CatalogName").val();
                console.log('isCatalog==='+isCat+'==prodName==='+prodName+'==prodExt==='+prodExt+'==prodSpec==='+prodSpec);
                if(isCat == 'True'){
                    console.log('inside isCat');
                    if($j('#prodCatalogTable').find('input[type="checkbox"]:checked').length>0){
                        console.log('inside checkedboxes');
                        $j('#prodCatalogTable').find('input[type="checkbox"]:checked').each(
                            function(){
                                console.log($j(this).attr('id'));
                                let childID = $j(this).attr('id');
                                childIDs+=childID+',';
                            });
                    }
                    if($j('#prodCatalogTable').find('input[type="checkbox"]:checked').length == 0 || catName == ''){
                        proceed = false;
                        console.log('inside cat null-proceed--'+proceed);
                        $j("input[name='isCatalog']")[1].checked = true;
                       //displayMessage();
                        
                        console.log('proceed false catalog');
                        let className = 'toastWarning';
                        $j('.'+className+' .headingClass').html('Kindly enter all the fields.');
                        showModal(className);
                        setTimeout(function()
                            { 
                              closeModal(className);
                             }, 5000);
                    }
                }
                else{
                   if(prodName == '' || prodExt == '' || prodExt == ''){
                        proceed = false;
                        console.log('inside prod null-proceed--'+proceed);
                        
                        //displayMessage();
                        $j("input[name='isCatalog']")[0].checked = true;
                        console.log('proceed false product');
                        let className = 'toastWarning';
                        $j('.'+className+' .headingClass').html('Kindly enter all the fields.');
                        showModal(className);
                        setTimeout(function()
                            { 
                              closeModal(className);
                             }, 5000);
                       
                   }
                }
                /*if(childIDs.length()>0){
                    {!JSENCODE(ListChildIds)}=childIDs;
                }*/
                if(proceed){
                    document.getElementById('productModal').classList.add('slds-hide');
                    createProd(childIDs,isCat);
                    $j(".ProductName").val('');
                    $j(".ExternalID").val('');
                    $j(".Specialty").val('');
                    $j(".CatalogName").val('');
                    //displaySuccessMessage();
                    
                }
                
                

            }
            </script>
        </apex:outputPanel>
        <script>
            window.showLoadingTable = function() {
                document.getElementById('remoteLoad').style.display =
                    'block';
                document.getElementById('loadText').innerHTML =
                    'Processing';

                console.log('Here');
            }

            window.hideLoadingTable = function() {
                document.getElementById('remoteLoad').style.display =
                    'none';
            }

        </script>
        <apex:actionFunction action="{!createProd}" name="createProd" status="status" rerender="modalContent,errormsgpanel" oncomplete="drawTable();displaySuccessMessage('productModal');return false;">
        <apex:param assignTo="{!listChildIDs}" name="child" value="childIDs"/>
        <apex:param assignTo="{!isCatalog}" name="isCat" value="isCat"/>
        </apex:actionFunction>
        <!--<apex:actionFunction action="{!displayMessage}" name="displayMessage" status="status" rerender="pgmsg,saveScriptPanel" oncomplete="document.getElementById('productModal').classList.remove('slds-hide'); return false;">
        </apex:actionFunction>-->
        <!--<apex:actionFunction action="{!displaySuccessMessage}" name="displaySuccessMessage" status="status" rerender="modalContent2,errormsgpanel" oncomplete="toastmsg('productModal');">
        </apex:actionFunction>-->  

        <apex:actionFunction action="{!createNew}" name="createNew" status="status" rerender="chartPanel,modalContent2" oncomplete="document.getElementById('productModal').classList.remove('slds-hide');createProductFunc();return false;"/> 

        <apex:actionFunction name="showAssignPopup" rerender="assignPopup" action="{!initiateAssignPopup}" status="spinnerStatus"> 
        </apex:actionFunction>
        <apex:actionFunction name="hideAllPopup"  action="{!hidePopup}" status="spinnerStatus">
        </apex:actionFunction>
        <apex:actionFunction name="createPositionProduct"  action="{!positionProductLoad}" status="spinnerStatus" oncomplete="hideAllPopup();" reRender="errormsgpanel">   
         <apex:param value="position" assignTo="{!positionNames}" name="expression1"/>
         <apex:param value="product" assignTo="{!productexternalid}" name="expression2"/>         
        </apex:actionFunction>
        <apex:actionFunction name="showDeassignPopup" rerender="deassignPopup" action="{!initiateDeassignPopup}" status="spinnerStatus" >
        </apex:actionFunction>
        <apex:actionFunction name="showEditPopup" rerender="editPopup" action="{!initiateEditPopup}" status="spinnerStatus" oncomplete="testCall();">
        </apex:actionFunction>
        <!-- <apex:actionFunction name="deassignProduct" action="{!deactivatePositionProduct}" status="spinnerStatus" oncomplete="hideAllPopup();" reRender="{!IF(NOT(ISBLANK(errorMessage)),'alert(errorMessage   );','treerefresh')}">
         <apex:param value="product" assignTo="{!productexternalid}" name="expression1"/>
        </apex:actionFunction> -->
         <apex:actionFunction name="deassignProduct" action="{!deactivatePositionProduct}" status="spinnerStatus" oncomplete="toastmsg('deassignPopup');" rerender="treerefresh,errormsgpanel">
         <apex:param value="product" assignTo="{!productexternalid}" name="expression1"/>
        </apex:actionFunction>
        <apex:actionFunction name="editposProducts" action="{!editPositionProduct}" status="spinnerStatus" oncomplete="toastmsg('editPopup');" rerender="rerenderClientName,errormsgpanel">
          <apex:param value="position" assignTo="{!positionNames}" name="expression1"/>
         <apex:param value="product" assignTo="{!productexternalid}" name="expression2"/>
        </apex:actionFunction>             
       <apex:actionFunction name="createProduct" rerender="rerenderClientName" action="{!assignPositionAndTeamInstance}" status="spinnerStatus" oncomplete="showEditPopup();">
         <apex:param value="product" assignTo="{!productexternalid}" name="expression1"/>
        </apex:actionFunction> 

        <div class="toastError slds-hide">
          <div class="slds-notify_container">
              <div class="slds-notify slds-notify_toast slds-theme_error" role="status">
                  <span class="slds-assistive-text">Error</span>
                  <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top" title="Error">
                      <svg class="slds-icon" aria-hidden="true">
                          <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#error')}" />
                      </svg> 
                  </span>
                  <div class="slds-notify__content">
                      <h2 class="slds-text-heading_small headingClass"></h2>
                  </div>
                  <div class="slds-notify__close">
                      <button class="slds-button slds-button_icon slds-button_icon-inverse" onclick="closeModal('toastError');return false;" title="Close">
                          <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                              <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                          </svg>
                          <span class="slds-assistive-text">Close</span>
                      </button>
                  </div>
              </div>
          </div>
      </div>

          <div class="toastSuccess slds-hide">
            <div class="slds-notify_container">
                <div class="slds-notify slds-notify_toast slds-theme_success" role="status">
                   <span class="slds-assistive-text">Success</span>
                    <span class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top" title="Error">
                        <svg class="slds-icon" aria-hidden="true">
                            <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#success')}" />
                        </svg>
                    </span>
                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small headingClass"></h2>
                    </div>
                    <div class="slds-notify__close">
                        <button class="slds-button slds-button_icon slds-button_icon-inverse" onclick="closeModal('toastSuccess');return false;" title="Close">
                                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                            </svg>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
 
         <div class="toastWarning slds-hide" style="z-index: 1001;">
                  <div class="slds-notify_container">
                      <div class="slds-notify slds-notify_toast slds-theme_warning" role="status">
                          <span class="slds-assistive-text">WARNING</span>
                          <span class="slds-icon_container slds-icon-utility-warning slds-m-right_small slds-no-flex slds-align-top" title="Error">
                              <svg class="slds-icon" aria-hidden="true">
                                  <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#warning')}" />
                              </svg> 
                          </span>
                          <div class="slds-notify__content">
                              <h2 class="slds-text-heading_small headingClass"></h2>
                          </div>
                          <div class="slds-notify__close" style="z-index: 1001;">
                              <button class="slds-button slds-button_icon slds-button_icon-inverse" onclick="closeModal('toastWarning');return false;" title="Close">
                                  <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                      <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                                  </svg>
                                  <span class="slds-assistive-text">Close</span>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
           
    <!-- Assign Popup-->
    <apex:outputPanel id="assignPopup" styleclass="assignPopup">
        <!--<apex:outputPanel rendered="{!publishFlag}"> -->
         <apex:outputPanel rendered="{!publishFlag}">
              <div class="demo-only" >
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small remvpopup">
                    <div class="slds-modal__container" id="pop3">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Select Position:</h2>
                        </header>
                          <apex:outputPanel layout="block" styleclass="slds-modal__content slds-p-around_medium slds-text-align_center" style="min-height: 300px">
                               <div class="slds-clearfix slds-p-bottom_xx-small">
                                   <div class="slds-show_inline-block slds-p-right_xxx-small" style="vertical-align: top;">
                                      <label class="slds-form-element__label" style="line-height: 1.85rem"></label>
                                    </div> 
                                     <apex:outputPanel id="treeHierarchy1" >
                                                <div class="geo-header1" style="height:100px;  margin-top: -19px;">
                                                    <apex:commandLink id="toggleTree1"  styleClass="slds-button slds-button_icon slds-button_icon-border-filled" rerender="none"  title="Hierarchy">
                                                    <span class="icon-nodes icon-svg"></span>
                                                    <span class="slds-assistive-text">Tree Hierarchy</span>
                                                    </apex:commandLink>   
                                                <div class="box-toc-hierarchy shadow-right slds-border_top slds-border_right slds-border_bottom slds-border_left" id="treePanel" style="display:block;z-index: 99999;height:220px" >
                                                        <apex:outputPanel id="treeDetailsPanel" >
                                                            <div class="clear">
                                                            </div>
                                                            <c:TreeHierarchyPositionProduct id="treeComponent" data="{!jsonStringTerr}"/> 
                                                        </apex:outputPanel> 
                                                   </div>
                                               </div>   
                                    </apex:outputPanel>
                               </div>
                         </apex:outputPanel>
                          <footer class="slds-modal__footer">
                             <button class="slds-button slds-button_brand"  onclick="saveFunc(); return false;"  id="Saveposprod" title="Save">Save</button>
                             <button class="slds-button slds-button_brand"  onclick="cancelPopup(); return false;" > Cancel </button>
                          </footer>
                    </div>
                </section>
               <div class="slds-backdrop slds-backdrop_open hidepop"></div>
                </div>
        </apex:outputPanel>
    </apex:outputPanel>

     <!-- Deassign Popup-->
    <apex:outputPanel id="deassignPopup" styleclass="deassignPopup">

        <apex:outputPanel rendered="{!publishFlag}"> 
            <div class="demo-only" >
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small remvpopup">
                    <div class="slds-modal__container" id="pop3">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Message</h2>
                        </header>
                          <apex:outputPanel layout="block" styleclass="slds-modal__content slds-p-around_medium slds-text-align_center" style="min-height: 200px" id="treerefresh">                            
                               <div class="slds-clearfix slds-p-bottom_xx-small">
                                   <div class="slds-show_inline-block slds-p-right_xxx-small" style="vertical-align: top;">
                                      <label class="slds-form-element__label" style="line-height: 1.85rem;font-size: larger;">Are you sure you want deassign product from all positions</label>                                     
                                    </div> 
             
                        </div>
                         </apex:outputPanel>
                               
                          <footer class="slds-modal__footer">

                             <button class="slds-button slds-button_brand"  onclick="inactiveFunc(); return false;"  id="deactivate" title="Yes">Yes</button>
                             <button class="slds-button slds-button_brand"  onclick="cancelPopup(); return false;" > No </button>
                          </footer>

                    </div>
                  </section>
                  <div class="slds-backdrop slds-backdrop_open hidepop"></div>
            </div>
        </apex:outputPanel>
    </apex:outputPanel>
    
     <!-- Edit Popup-->
      <apex:outputPanel id="editPopup" styleclass="editPopup"> 

        <apex:outputPanel rendered="{!publishFlag}"> 
            <div class="demo-only slds-hide editPopupClass" >

                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small remvpopup">
                    <div class="slds-modal__container" id="pop4">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate"></h2>
                            <div class="slds-show_inline-block slds-p-right_xxx-small" style="vertical-align: top;">
                                   <!--  <apex:pageMessages ></apex:pageMessages>  -->
                                      <label class="slds-form-element__label" style="line-height: 1.85rem;font-size: large;">Edit the Positions: </label>
                                    </div> 
                        </header>
                          <apex:outputPanel id="treeHierarchy_t" layout="block" styleclass="slds-modal__content slds-p-around_medium slds-text-align_center" style="min-height: 300px">
                              
                               <div class="slds-clearfix slds-p-bottom_xx-small">
                                   

                                    <!--<apex:outputPanel id="popupErrorMessage">
                                            <apex:pageMessages id="errorMessage1"></apex:pageMessages>
                                    </apex:outputPanel>-->
                                    <apex:outputPanel id="treeHierarchy2" >
                                       <apex:messages />
                                        <div class="geo-header1" style="height:40px;  margin-top: -19px; width: 40px;">
                                           
                                            <apex:commandLink id="toggleTree2"  styleClass="slds-button slds-button1 slds-button--icon-border" rerender="none"  title="Hierarchy">
                                            <span class="icon-nodes icon-svg"></span>
                                            <span class="slds-assistive-text">Tree Hierarchy</span>
                                            </apex:commandLink>   
                                            <div class="box-toc-hierarchy shadow-right slds-border_top slds-border_right slds-border_bottom slds-border_left" id="treePanel" style="display:block;z-index: 99999;height:220px" >

                                                 <apex:outputPanel id="treeDetailsPanel1" >
                                                    <div class="clear">
                                                    </div>
                                                    <c:TreeHierarchyPositionProduct id="treeComponent1" data="{!jsonStringTerr}" highlightedPosition="{!clientName}"/>
                                                </apex:outputPanel> 
                                            </div>
                                        </div>   
                                    </apex:outputPanel>
                               </div>
                         </apex:outputPanel>
                          <footer class="slds-modal__footer">

                             <button class="slds-button slds-button_brand"  onclick="editPosProd(); return false;" id="id" title="edit" >Save</button>
                             <button class="slds-button slds-button_brand"  onclick="cancelPopup(); return false;" > Cancel </button>
                          </footer>
                    </div>
                  </section>
                  <div class="slds-backdrop slds-backdrop_open hidepop"></div>
            </div>
        </apex:outputPanel> 
     </apex:outputPanel>
 <!-- find a better solution -->    
<apex:outputPanel id="rerenderClientName" style="display:none">
{!clientName}
<apex:inputhidden id="clientName" value="{!clientName}" />
</apex:outputPanel>


<script>    
            var prodName = '';
            var positionName ='';   
            var removePosition='';
            var addPosition='';

            function showModal(className)
                {
                    $j('.'+className).removeClass('slds-hide');
                    return false;
                }
            function closeModal(className)
                {
                    $j('.'+className).addClass('slds-hide');
                    return false;
                }
            function testCall()
            {
                console.log('test call check');
                $j('.editPopupClass').removeClass('slds-hide');
                console.log($j('id*=[clientNameId]').val());
            }

            function showAssignPopupJava(changedRec)
            {
                var idx = sessionTable.cell($j(changedRec).parent()).index().row;
                var val = ($j(changedRec)).val();
                var row = sessionTable.rows(idx).data();
                var data = row.data().toArray()[idx];
                console.log('++++++ Hey data.externalID' + data.externalID);
                prodName=data.externalID;
                console.log('++++++ product Name' + prodName);
                showAssignPopup();          
            }
            
            function showDeassignPopupJava(changedRec)
            {
                var idx = sessionTable.cell($j(changedRec).parent()).index().row;
                var val = ($j(changedRec)).val();
                var row = sessionTable.rows(idx).data();
                var data = row.data().toArray()[idx];
                console.log('++++++ Hey data.externalID' + data.externalID);
                prodName=data.externalID;
                 console.log('++++++ product Name' + prodName);
                showDeassignPopup();
            }

            function showeditPopupJava(changedRec)
            {
                 var idx = sessionTable.cell($j(changedRec).parent()).index().row;
                var val = ($j(changedRec)).val();
                var row = sessionTable.rows(idx).data();
                var data = row.data().toArray()[idx];
                console.log('++++++ Hey data.externalID' + data.externalID);
                prodName=data.externalID;
                console.log('++++++ product Name' + prodName);
                 createProduct(prodName);
                
            }


               function cancelPopup()
             {

                 $j("[id$='assignPopup']").hide();
                 hideAllPopup();    
             }

               function posFunc(posNames)
             {
                positionName=posNames;
                console.log('in PosFunc '+positionName);
              }
              
              function saveFunc()
             {
                var product=prodName;
                var positions = '';
                for(var a = 0 ; a <positionName.length; a++)
                { 
                     positions = positions +  positionName[a] + ';';
                     
                }
                //positions = positions.removeEnd(';');
                positions = positions.substring(0, positions.length - 1);
                console.log('in Save'+product);
                console.log('in Save'+positions);
                createPositionProduct(positions,product);
                //cancelPopup();
              }
           
             function inactiveFunc()
            {
                var product=prodName;
                deassignProduct(product); 
            }

            function editPosProd()
            {
                var clientName =  document.getElementById('{!$Component.clientName}').value;
                console.log('clientName :: '+clientName);
                var product=prodName;
                var positionsEdit  = '';
                
                for(var i = 0 ; i < positionName.length; i++){
                    positionsEdit=positionsEdit + positionName[i] + ';' ;
                   }
                //positionsEdit = positionsEdit.removeEnd(';');
                positionsEdit = positionsEdit.substring(0, positionsEdit.length - 1);
                console.log('in edit'+positionsEdit);
                editposProducts(positionsEdit,product); 

            }
           /* function editSaveFunc()
            {
                var product=prodName;
                var positions=positionName.toString();
                console.log('in Save'+product);
                console.log('in Save'+positions);
                editAssignPosProd(positions,product);
            }*/
              
             

            
</script>

</div>
    </apex:form>
</html>
</apex:page>