<apex:page id="p">
<apex:form id="f">
    <div>
        <input type="radio" name="acc" value="Existing" checked="checked"
                onclick="show(true, false);">Existing</input>
        <input type="radio" name="acc" value="NEWAcc"
                onclick="show(false, true);">New</input>
    </div>
    <apex:pageBlock id="pb1" title="Pg Block 1">
    </apex:pageBlock>
    <apex:pageBlock id="pb2" title="Pg Block 2">
    </apex:pageBlock>
</apex:form>   
<script>
function show(showPb1, showPb2) {
    // Match Visualforce's prefixing pattern
    document.getElementById('p:f:pb1').style.display = showPb1 ? 'block' : 'none';
    document.getElementById('p:f:pb2').style.display = showPb2 ? 'block' : 'none';
}
show(true, false);
</script>
</apex:page>