<apex:component controller="Matrix_Component_Controller" >
<apex:includeScript value="{!$Resource.jquery_1_12_4_min}" />
<style>
 th, td {
        padding: 15px;
    }
    table {
        border-collapse: collapse;
    }
 </style>

    <apex:attribute name="columns" description="Columns of the component." type="Integer" required="required" assignTo="{!col_1}"/> <!-- assignTo="{!controllerValue}" -->
    <apex:attribute name="rows" description="rows of the component." type="Integer" required="required" assignTo="{!row}"/>
    <apex:attribute name="Dimension1" description="Dimension1 of the component." type="String" required="required" assignTo="{!DM1}"/>
    <apex:attribute name="Dimension2" description="Dimension2 of the component." type="String" required="required" assignTo="{!DM2}"/>
    <apex:attribute name="comp" description="ComponentData Object" type="ComponentData"/>
    <apex:attribute name="type" description="Grid Type" type="String"/>
    <!--Start of View Mode  -->
    <apex:outputpanel rendered="{!if(comp.mode=='View',true,false)}">
        <div class="slds-scrollable" style="width: calc(100vw - 77px);">
           <table class="slds-table gridtable slds-table_bordered slds-border_left slds-border_right slds-table_col-bordered slds-table_striped slds-show" id="Egridlist">
               <thead>
                   <tr class="slds-text-title_caps">
                       <th scope="col" class=""> <div class="slds-truncate">{!IF(type == '2D', Dimension1 + '/' + Dimension2, Dimension1)}</div></th><!-- {!dmlist[0]} / {!dmlist[1]} -->
                       <apex:variable value="{!2}" var="colCount"/>
                       <apex:repeat value="{!comp.cheaders}" var="col">
                           <th scope="col"> 
                               <apex:outputtext value="{!col}" id="Vhead_col" styleClass="slds-input tdValue1{!colCount}" style="font-family: initial;font-weight: 600;text-align: center;"/> <!--  style="background-color:lightblue;"-->
                           </th>
                       <apex:variable value="{!colCount+1}" var="colCount"/>
                       </apex:repeat>
                   </tr>
               </thead>
               <tbody id="tablebody">
               <apex:variable value="{!2}" var="rowCount"/>
                  <!--  <apex:repeat value="{!rows}" var="row">-->
                  <apex:repeat value="{!comp.rheaders}" var="rHeader">
                   <apex:variable value="{!1}" var="colCount"/> 
                       <tr class="rowValue{!rowCount}{!colCount} slds-text-title_caps">
                           <td >
                               <!-- <input type="text" class="slds-input tdValue{!rowCount}{!colCount}" value="{!rHeader}"  /> -->
                               <apex:outputtext value="{!rHeader}" styleclass="slds-input tdValue{!rowCount}{!colCount}" style="font-family: initial;font-weight: 600;text-align: center;"/><!-- style="background-color:lightgreen;" -->
                          </td>
                            <apex:variable value="{!2}" var="colCount"/>
                           <apex:repeat value="{!comp.cheaders}" var="col">
                               <!-- <apex:outputpanel rendered="{!if(map2d[col]!=null,true,false)}"> -->
                               <apex:variable value="{!rowCount}_{!colCount}" var="key"/>
                               <td >
                                    <!-- <apex:inputtext value="{!Output_Text}" id="Vouputvalue" styleClass="slds-input tdValue{!rowCount}{!colCount} " disabled="true"/> -->
                                   <input type="text" class="slds-input tdValue{!rowCount}{!colCount}" value="{!comp.griddata[key].Output_Value__c}" disabled="true" style="text-align: center;" />
                                    <input type="hidden" name="country" value="{!comp.griddata[key].id}" class="idValue{!rowCount}{!colCount}"/>
                               </td>
                                <apex:variable value="{!colCount+1}" var="colCount"/> 
                           </apex:repeat>    
                       </tr>
                       <apex:variable value="{!rowCount+1}" var="rowCount"/> 
                </apex:repeat>
               </tbody>
           </table>
        </div>
    </apex:outputpanel>
    <!--  End of View Mode-->
    <!--  Start of Edit Mode-->
         <apex:outputPanel rendered="{!if((comp.mode=='Edit'),true,false)}">
         <div class="slds-scrollable" style="width: calc(100vw - 77px);">
             <table class="slds-table gridtable slds-table_bordered slds-border_left slds-border_right slds-table_col-bordered slds-table_striped slds-show" id="Egridlist">
                 <thead>
                     <tr class="slds-text-title_caps">
                         <th scope="col" class=""> <div class="slds-truncate">{!Dimension1}/{!Dimension2}</div></th><!-- {!dmlist[0]} / {!dmlist[1]} -->
                         <apex:variable value="{!2}" var="colCount"/>
                         <apex:repeat value="{!comp.cheaders}" var="col">
                            
                             <th scope="col"> 
                                 <apex:outputtext value="{!col}" id="Vhead_col" styleClass="slds-input tdValue1{!colCount} slds-text-title_caps" />
                                <!--  <input type="text" value="{!col}"  Class="slds-input tdValue1{!colCount} slds-text-title_caps" rendered="{!IF(comp.mode=='Clone',true,false)}"/> -->  
                             </th>
                            <apex:variable value="{!colCount+1}" var="colCount"/>
                         </apex:repeat>
                     </tr>
                 </thead>
                 <tbody>
                 <apex:variable value="{!2}" var="rowCount"/>
                <!--  <apex:repeat value="{!rows}" var="row">-->
                <apex:repeat value="{!comp.rheaders}" var="rHeader">
                 <apex:variable value="{!1}" var="colCount"/> 
                     <tr class="rowValue{!rowCount}{!colCount} slds-text-title_caps">
                        <td >
                                 <apex:outputtext value="{!rHeader}" styleclass="slds-input tdValue{!rowCount}{!colCount} slds-text-title_caps"  />
                                 <!-- <input type="text" value="{!rHeader}" class="slds-input tdValue{!rowCount}{!colCount} slds-text-title_caps" rendered="{!IF(comp.mode=='Clone',true,false)}" /> -->
                            </td>
                        <apex:variable value="{!2}" var="colCount"/>
                         <apex:repeat value="{!comp.cheaders}" var="col">
                             <apex:variable value="{!rowCount}_{!colCount}" var="key"/>
                             <td>
                                  <input type="text" class="slds-input tdValue{!rowCount}{!colCount}" value="{!comp.griddata[key].Output_Value__c}"  />
                                  <input type="hidden" name="country" value="{!comp.griddata[key].id}" class="idValue{!rowCount}{!colCount}"/>
                             </td>
                              <apex:variable value="{!colCount+1}" var="colCount"/> 
                         </apex:repeat>    
                     </tr>
                     <apex:variable value="{!rowCount+1}" var="rowCount"/> 
                 </apex:repeat>
                 </tbody>
             </table>
         </div>
         </apex:outputPanel>
    <!--  End of Edit Mode-->
    <!-- Clone Mode -->
    <apex:outputPanel rendered="{!if((comp.mode=='Clone'),true,false)}">
         <div class="slds-scrollable" style="width: calc(100vw - 77px);">
             <table class="slds-table gridtable slds-table_bordered slds-border_left slds-border_right slds-table_col-bordered slds-table_striped slds-show" id="Egridlist">
                 <thead>
                     <tr class="slds-text-title_caps">
                         <th scope="col" class=""> <div class="slds-truncate">{!Dimension1}/{!Dimension2}</div></th><!-- {!dmlist[0]} / {!dmlist[1]} -->
                         <apex:variable value="{!2}" var="colCount"/>
                         <apex:repeat value="{!comp.cheaders}" var="col">
                            <th scope="col"> 
                               <!--   <apex:outputtext value="{!col}" id="Vhead_col" styleClass="slds-input tdValue1{!colCount} slds-text-title_caps" /> -->
                                 <input type="text" value="{!col}"  Class="slds-input tdValue1{!colCount} slds-text-title_caps" />  
                             </th>
                             
                         <apex:variable value="{!colCount+1}" var="colCount"/>
                         </apex:repeat>
                     </tr>
                 </thead>
                 <tbody>
                 <apex:variable value="{!2}" var="rowCount"/>
                <!--  <apex:repeat value="{!rows}" var="row">-->
                <apex:repeat value="{!comp.rheaders}" var="rHeader">
                 <apex:variable value="{!1}" var="colCount"/> 
                     <tr class="rowValue{!rowCount}{!colCount} slds-text-title_caps">
                        <td >
                                <!--  <apex:outputtext value="{!rHeader}" styleclass="slds-input tdValue{!rowCount}{!colCount} slds-text-title_caps"  /> -->
                                 <input type="text" value="{!rHeader}" class="slds-input tdValue{!rowCount}{!colCount} slds-text-title_caps"  />
                            </td>
                       <apex:variable value="{!2}" var="colCount"/>
                         <apex:repeat value="{!comp.cheaders}" var="col">
                             <apex:variable value="{!rowCount}_{!colCount}" var="key"/>
                             <td>
                                  <input type="text" class="slds-input tdValue{!rowCount}{!colCount}" value="{!comp.griddata[key].Output_Value__c}"  />
                                  <input type="hidden" name="country" value="{!comp.griddata[key].id}" class="idValue{!rowCount}{!colCount}"/>
                             </td>
                              <apex:variable value="{!colCount+1}" var="colCount"/> 
                         </apex:repeat>    
                     </tr>
                     <apex:variable value="{!rowCount+1}" var="rowCount"/> 
                 </apex:repeat>
                 </tbody>
             </table>
         </div>
         </apex:outputPanel>
    <!--End of clone  -->
    <!--   New Matrix -->
    <apex:outputpanel rendered="{!if(comp.mode=='NewM',true,false)}">
    
         <div class="slds-scrollable" style="width: calc(100vw - 77px);">
             <table class="slds-table gridtable slds-table_bordered slds-border_left slds-border_right slds-table_col-bordered slds-table_striped slds-show" id="gridlist">
                 <thead>
                     <tr class="slds-text-title_caps">
                         <th scope="col" class=""> <div class="slds-truncate">{!Dimension1}/{!Dimension2}</div></th> 
                         <apex:variable value="{!2}" var="colCount"/>
                         <apex:repeat value="{!comp.column}" var="col">
                             <th scope="col">  <input class="slds-input tdValue1{!colCount}"   type="text" value="{!comp.output}"/>
                                <!--  <apex:inputText value="{!header_col}" id="head_col" styleClass="slds-input tdValue1{!colCount}"/> -->
                             </th>
                         <apex:variable value="{!colCount+1}" var="colCount"/>
                         </apex:repeat>
                     </tr>
                 </thead>
                 <tbody>
                 <apex:variable value="{!2}" var="rowCount"/>
                     <apex:repeat value="{!comp.row}" var="row">
                     
                     <apex:variable value="{!1}" var="colCount"/>
                         <tr class="rowValue{!rowCount}{!colCount}">
                             <td ><input class="slds-input tdValue{!rowCount}{!colCount}" id="{!row}"  type="text" value="{!comp.output}"/>
                                 <!-- <apex:inputText value="{!header_row}" id="head_row" styleClass="slds-input tdValue{!rowCount}{!colCount}"/> -->
                                 <!-- input class="slds-input"  placeholder="Placeholder Text" type="text" /> -->
                             </td>
                             <apex:variable value="{!2}" var="colCount"/>
                             <apex:repeat value="{!comp.column}" var="col">
                                 <td ><input class="slds-input tdValue{!rowCount}{!colCount}" id="{!row}_{!col}"  type="text" value="{!comp.output}" />
                                     <!-- <apex:inputText value="{!Output_Text}" id="ouputvalue" styleClass="slds-input tdValue{!rowCount}{!colCount} "/> -->
                                     <!-- <input class="slds-input" id="head_{!col}" placeholder="Placeholder Text" type="text" /> -->
                                 </td>
                                 <apex:variable value="{!colCount+1}" var="colCount"/>
                             </apex:repeat>    
                         </tr>
                         <apex:variable value="{!rowCount+1}" var="rowCount"/>
                     </apex:repeat>
                 </tbody>
             </table>
         </div>
      </apex:outputPanel>
    
     <!--End of new matrix -->  
    <script>
        var $j = jQuery.noConflict();
        $j(document).ready(function(){
        var mode ="{!comp.Mode}";//String({!comp.Mode});
        if(mode=='')
            createTable();
        })
         function createTable(){
             console.log('--onload new mode--');
            mytable = $j('<table border="1" style="width:auto" class="slds-table gridtable slds-table_bordered slds-border_left slds-border_right slds-table_col-bordered slds-table_striped slds-show" id="gridlist"></table>').attr({ id: "basicTable" });
            var rows = {!rows};//new Number($("#rowcount").val());
            var cols = {!columns};//new Number($("#columncount").val());
           console.log('--colssss:'+cols);
           rows=Number(rows)+1;
           cols=Number(cols)+1;
            console.log('--colssss22:'+cols);
            var tr = [];
            for (var i = 1; i <= rows; i++) {
                var row = $j('<tr class="slds-text-title_caps"></tr>').attr({ class: ["trvalue"+i].join(' ') }).appendTo(mytable);
                for (var j = 1; j <= cols; j++) {
                  var cell = $j('<td ><input type="text" value="{!outputtext}" style="width: 100%;padding-bottom: inherit;text-align:center;" class="slds-input"/></td>').attr({ class: ["tdvalue"+i+j].join(' ')}).appendTo(row); 
                 // $j('<input>').attr({type: 'text',name: 'ages[]'}).appendTo(cell);
                }
                         
            }
            console.log("TTTTT:"+mytable.html());
            mytable.appendTo("#box");          
          $j('.tdvalue11').html('{!Dimension1}/{!Dimension2}');
        }
        function save(){
            var array = [];
            console.log('Entered Save BLOCK');
            var text = '';
            var j = {!columns};
            var i = {!rows};
            i=Number(i)+1;
            j=Number(j)+1;
            console.log('i=========='+i);
            console.log('j=========='+j);
            for(var k=2;k<=i;k++){
                for(var l=2;l<=j;l++){
                        if(k==1 && l==1){
                        
                        }
                        else{
                            
                                var DM1 = $j(".tdvalue"+k+1+' '+'input').val();
                                var DM2 = $j(".tdvalue1"+l+' '+'input').val();
                                var out = $j(".tdvalue"+k+l+' '+'input').val();
                                var x=k+'_'+l;
                                console.log('---DM1===='+DM1);
                                console.log('---DM2===='+DM2);
                                console.log('---OUT===='+out);
                                console.log('---X===='+x);
                                text={
                                        "Dimension_1_Value__c" : DM1,
                                        "Dimension_2_Value__c" : DM2,
                                        "Output_Value__c" :out,
                                        "Name" :x
                                        };
                                console.log('Text::::');
                                console.log(text);
                                array.push(text);
                                console.log('Array:');
                                console.log(array);                             
                        }
                    }
                }
                var myJSON = JSON.stringify(array);
        console.log('myJSON::');
        console.log(myJSON);
        return myJSON;
    }
    function update(){
        var array = [];
           var text = '';
           var j = {!columns};
           var i = {!rows};
           i=Number(i)+1;
           j=Number(j)+1;
           for(var k=2;k<=i;k++){
               for(var l=2;l<=j;l++){
                       if(k==1 && l==1){
                       
                       }
                       else{
                               var DM1 = $j(".tdValue"+k+1).html();
                               var DM2 = $j(".tdValue1"+l).html();
                               var out = $j(".tdValue"+k+l).val();
                               var x=k+'_'+l;
                               var sfdcid = $j(".idValue"+k+l).val();
                               text={
                                       "Dimension_1_Value__c" : DM1,
                                       "Dimension_2_Value__c" : DM2,
                                       "Output_Value__c" : out,
                                       "Name" : x,
                                       "Id" : sfdcid
                                       };
                               array.push(text);
                            }
                        }
               }
           var myJSON = JSON.stringify(array);
           console.log('myJSON::');
           console.log(myJSON);
           console.log('----moving to controller method---');
          return myJSON;
        }
        function saveas(){
            var array = [];
           var text = '';
           var j = {!columns};
           var i = {!rows};
           console.log('---i=:'+i);
           console.log('---j=:'+j);
           i=Number(i)+1;
           j=Number(j)+1;
           for(var k=2;k<=i;k++){
               for(var l=2;l<=j;l++){
                       if(k==1 && l==1){
                       
                       }
                       else{
                               var DM1 = $j(".tdValue"+k+1).val();
                               var DM2 = $j(".tdValue1"+l).val();
                               var out = $j(".tdValue"+k+l).val();
                               var x=k+'_'+l;
                               //var sfdcid = $j(".idValue"+k+l).val();
                               text={
                                       "Dimension_1_Value__c" : DM1,
                                       "Dimension_2_Value__c" : DM2,
                                       "Output_Value__c" : out,
                                       "Name" : x
                                       //"Id" : sfdcid
                                       };
                               array.push(text);
                            }
                        }
               }
           var myJSON = JSON.stringify(array);
           console.log('myJSON::');
           console.log(myJSON);
           console.log('----moving to controller method---');
          return myJSON;
        }
        
        function colorHighlight() {
            if("{!comp.mode}"=='View'){
            for(var i=0;i<10;i++) {
                for(var j=0;j<10;j++) {
                    //var tdVal = "tdValue"+i+j;
                    var tdText = $j(".tdValue"+i+j).val();
                    if(tdText == "A") {
                       // document.getElementsByClassName(tdVal)[0].style.backgroundColor  = "Gray";
                       $j(".tdValue"+i+j).css("background-color","#FFCCCC");
                    }
                    if(tdText == "B") {
                        //document.getElementsByClassName(tdVal)[0].style.backgroundColor  = "INDIANRED";
                        $j(".tdValue"+i+j).css("background-color","#FFCC99");
                    }
                    if(tdText == "C") {
                        //document.getElementsByClassName(tdVal)[0].style.backgroundColor  = "SILVER";
                        $j(".tdValue"+i+j).css("background-color","#CCE5FF");
                    }
                    
                    if(tdText == "D") {
                        //document.getElementsByClassName(tdVal)[0].style.backgroundColor  = "TEAL";
                        $j(".tdValue"+i+j).css("background-color","#00CED1");
                    }
                    if(tdText == "A1") {
                        //document.getElementsByClassName(tdVal)[0].style.backgroundColor  = "TEAL";
                        $j(".tdValue"+i+j).css("background-color","#D2691E");
                    }
                    if(tdText == "ND") {
                        //document.getElementsByClassName(tdVal)[0].style.backgroundColor  = "TEAL";
                        $j(".tdValue"+i+j).css("background-color","#E0E0E0");
                    }
                    if(tdText == "CL") {
                        //document.getElementsByClassName(tdVal)[0].style.backgroundColor  = "TEAL";
                        $j(".tdValue"+i+j).css("background-color","#99FF99");
                    }
                    if(tdText == "KEE") {
                        //document.getElementsByClassName(tdVal)[0].style.backgroundColor  = "TEAL";
                        $j(".tdValue"+i+j).css("background-color","#F4A460");
                    }
                    
                }
            }
            }
        }window.onload=colorHighlight();
        
   </script>
  <div id="box">
   </div> 
   <div id="newmtrx"></div>
  </apex:component>