<apex:component >
   <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
   <apex:slds />
   <apex:attribute name="PageMessages" description="Page Messages" type="SLDSPageMessage[]" />
   <apex:attribute name="style" description="style" type="string" default=""/>
   <apex:attribute name="closebtn" description="close" type="boolean" default="true"/>
   <apex:attribute name="autoClose" description="autoClose" type="boolean" default="true"/>
   <style>
   .headingClass { color:#fff !important; }
   </style>
   <div style ="height:0px; !important">
  
   <apex:outputpanel rendered="{!(PageMessages!=null)}" style="text-align: center;{!style}">
      <apex:variable var="nowtime" value="{!TIMEVALUE(NOW())}" />
      <div id = "msgs{!nowtime}">
        <apex:variable var="index" value="{!0}" />
         <script>
            if({!autoClose}){
             setTimeout(function(){console.log('remove {!nowtime}---{!TIMEVALUE(NOW())} ');if(document.getElementById('msgs{!nowtime}')!=null){document.getElementById('msgs{!nowtime}').remove();}},4000);
            }
         </script>
         <apex:repeat value="{!PageMessages}" var="msg" >
            <apex:outputpanel >
               <apex:variable var="index" value="{!index + 1}"/>
               <div class="demo-only"  id = "pageMsg{!nowtime}{!index}" style="position:relative;margin-top:{!(index -1)*25 - 50}px;z-index:1001">
                  <br/>
                  <div class="slds-notify_container slds-is-relative">
                     <div class="slds-notify slds-notify_toast slds-theme_{!msg.type}" role="status">
                        <span class="slds-assistive-text">{!msg.type}</span>
                        <span class="slds-icon_container slds-icon-utility-{!msg.type} slds-m-right_small slds-no-flex slds-align-top" title="Description of icon when needed">
                           <svg class="slds-icon slds-icon_small" aria-hidden="true">
                              <use xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#{!msg.type}"></use>
                           </svg>
                        </span>
                        <div class="slds-notify__content">
                           <!--<h2 class="slds-text-heading_small headingClass">{!msg.msg}</h2>-->
                           <h2><apex:outputText escape="false" value="{!msg.msg}" styleClass="slds-text-heading_small headingClass"></apex:outputText> </h2>
                        </div>
                        <apex:outputpanel rendered="{!closebtn}">
                        <div class="slds-notify__close">
                           <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close" onclick = "document.getElementById('pageMsg{!nowtime}{!index}').remove();">
                              <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                 <use xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                              </svg>
                              <span class="slds-assistive-text">Close</span>
                           </button>
                        </div>
                        </apex:outputpanel>
                     </div>
                  </div>
               </div>
            </apex:outputpanel>
         </apex:repeat>
      </div>
   </apex:outputpanel>
   </div>
   </html>
</apex:component>