<apex:component >
    <!-- Component attribute specification -->
    <apex:attribute name="data" description="data for hierarchy in form of JSON" type="String"
        required="true" />
    <apex:attribute name="highlightedPosition" description="Positon to be highlighted in Tree"
        type="String" required="false" default="none" />

    <!-- Including JS/JQuery libraries -->
    <apex:stylesheet value="{!URLFOR($Resource.file_mincss)}" />
    <apex:stylesheet value="{!URLFOR($Resource.file_css)}" />
    <!--<apex:stylesheet value="{!URLFOR($Resource.jstree, '/jstree/dist/themes/default/style.min.css')}"
    />-->
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"
    />
    
    <apex:stylesheet value="{!URLFOR($Resource.Navigation, '/New_icons/WidgetStyles.css')}"
    />
    <apex:stylesheet value="{!URLFOR($Resource.lightning_css1)}" />
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <!--<script src="{!URLFOR($Resource.jstree, '/jstree/dist/jstree.js')}"></script>-->



    <style>
        .jstree-default .jstree-anchor {
            height: 28px !important;
        }
        
        .jstree-default .jstree-icon {
            height: 21px !important;
            width: 18px !important;
        }
        
        .jstree-default a.jstree-search {
            color: #000 !important;
        }
        
        .circle {
            height: 14px !important;
            width: 12px !important;
            border-radius: 50%;
            display: inline-block;
            margin-top: 5px !important;
            opacity: 0.9;
        }
        /*.jstree-default .jstree-clicked { background: #023d5a none repeat scroll 0 0;}*/
        
        .jstree-default .jstree-open > .jstree-ocl {
            background-position: -140px -6px !important;
            height: 21px !important;
            width: 18px !important;
        }
        
        .jstree-default .jstree-closed > .jstree-ocl {
            background-position: -100px -4px;
            height: 20px !important;
            width: 20px !important;
        }
        
        .jstree-icon .jstree-checkbox {
            height: 21px !important;
            width: 16px !important;
        }
        .jstree-default.jstree-checkbox-selection .jstree-clicked>.jstree-checkbox, .jstree-default .jstree-checked>.jstree-checkbox {
            background-position: -228px -4px !important;
            height: 21px !important;
            width: 16px !important;
        }
       /* .jstree-default .jstree-selected > .jstree-checkbox {
            background-position: -233px -6px !important;
            height: 21px !important;
            width: 16px !important;
        }
        
        .jstree-default .jstree-selected > .jstree-checkbox:hover {
            height: 21px !important;
            width: 16px !important;
        }
        
        .jstree-default .jstree-anchor > .jstree-undetermined {
            background-position: -201px -6px !important;
            height: 21px !important;
            width: 16px !important;
        }*/
        
        
        /*.jstree-default .jstree-anchor>.jstree-checkbox:hover {
        
        height: 21px !important;
         width: 16px !important;
}*/
        /*.jstree-default .jstree-icon:empty {
    width: 13px !important;
    height: 13px !important;
    line-height: 24px;
}*/
        
        ul[role='tablist'] li:hover {
            background-color: rgb(255, 255, 255) !important;
        }
        
        i[class='jstree-themeicon-custom'] {
            width: 13px !important;
            height: 13px !important;
        }
        
        .jstree-default .jstree-anchor > .jstree-themeicon {
            background-position: -260px -4px;
            height: 12px !important;
            width: 12px !important;
            margin-right: 4px;
            margin-left: 4px;
        }
        
        i[class='jstree-pending'] {
            color: rgba(194, 57, 52, 0.95);
        }
        
        #arrow_box {
            position: absolute;
            background: #D9645E;
            width: 265px;
            color: #fff;
        }
        
        .arrow_box_info {
            margin-top: 5px;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            margin-bottom: 1px;
        }
        
        #jstree {
            z-index: 999999999999999999;
            background-color: #fff;
        }
        
        .arrow_box_info tr th,
        .arrow_box_info tr td {
            color: #fff;
            border-left: 1px solid #fff;
            padding: 2px;
        }
        
        .InfoToolTip tr th:hover {
            color: #16325c !important;
        }
        
        .arrow_box_info:not(.InfoToolTip) tr th:hover,
        .arrow_box_info:not(.InfoToolTip) tr td:hover {
            color: #fff !important;
        }
        
        .arrow_box_info tr td {
            border-top: 1px solid #fff;
            font-size: 0.73rem !important;
        }
        
        .arrow_box_info tr th:first-child,
        .arrow_box_info tr td:first-child {
            border-left: none !important;
        }
        
        .arrow_box_info tr th:hover {
            background: none !important;
        }
        
        #jstree {
            position: absolute;
            top: 48px;
            bottom: 0px;
            overflow: auto;
            width: 319px;
            padding: 13px 5px;
        }
        
        #jstree i {
            font-style: normal;
        }
        
        #jstree .jstree-selected,
        #jstree .jstree-clicked {
            width: 203px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        .jstree-default a .jstree-icon {
            background-position: -167px -4px !important;
        }
        
        .jstree-default .jstree-clicked {
            border: 0px !important;
            background: rgb(236, 235, 234) !important;
            color: #000 !important;
            box-shadow: inset 0 0 0 #0070d2 !important;
            border-radius: 0px !important;
        }
        
        .jstree-default .jstree-hovered {
            border: 0px !important;
            background: rgb(250, 250, 249) !important;
            color: #000 !important;
            box-shadow: inset 0 0 0 #ccc !important;
            cursor: pointer;
            border-radius: 0px !important;
            border: 0px !important;
            text-decoration: none;
        }

    </style>
    <script>
        var j$ = jQuery.noConflict();
        var flag = true;
        var selectedNode;
        var allSelected = [];
        var allPos= [];
        var removePos=[];
        var param = false;
        try 
        {
          j$(function() {
            j$('#jstree').jstree({
                "core": {
                    "theme": {
                        "variant": "small"
                    },
                    "data": {!data
                    },

                    "ui": {
            "select_multiple_modifier": "on"
                    },
                    "animation": 800,
                    "multiple": false
                },

                "search": {
                    "case_insensitive": true,
                    "ajax": false,
                    "fuzzy": false,
                    "show_only_matches": true
                },
                "checkbox": {                     
                    three_state: false,
                    whole_node: false,
                    tie_selection: false,
                    cascade: "down"
                },
                    "plugins": ["checkbox", "search", "changed","ui"]
                });

                j$('[id*="treeSearch"]').keypress(function(e) 
                {
                    if (e.which == 13) 
                    {
                        return false;
                    }
                });

                j$('#jstree').on('loaded.jstree', function() 
                {
                    var temp = '{!highlightedPosition}';
                    if (temp.length >0 && temp != 'none') 
                    {
                        var res = temp.split(',');
                        console.log('res'+res.length); 
                        console.log(res);
                        for(var i=0; i< res.length; i++)
                        {
                            param = true;
                            console.log('+hey' + res[i]); 
                            console.log(j$('#jstree'));
                            console.log('+hey'+param);
                            j$('#jstree').jstree('check_node',
                            res[i], true);
                            console.log('+hey2nd'+param);
                        }  
                    }
                });
                    

                j$('[id*="treeSearch"]').keyup(function() 
                {
                    var v = j$('[id*="treeSearch"]').val();
                    if (v != '') 
                    {
                        j$('#jstree').jstree(true).search(v);
                        j$('[id*="clearIcon"]').show();
                    } 
                    else 
                    {
                        j$('#jstree').jstree(true).search('');
                        j$('[id*="clearIcon"]').hide();
                    }
                });

                j$('[id*="clearIcon"]').click(function() 
                {
                    j$('[id*="treeSearch"]').val('');
                    j$('#jstree').jstree(true).search('');
                    j$('[id*="clearIcon"]').hide();
                });

                var mobileDevice = false;
                if (navigator.platform == 'iPad') 
                {
                    mobileDevice = true;
                }
                j$("[id$='toggleTree1']").click(function() 
                {
                    console.log("hi");
                    console.log("Inside tree Enable");
                    j$("[id*='treePanel']").toggle();                    
                    console.log("bye");
                });
                j$("[id$='toggleTree2']").click(function() 
                {
                    console.log("hi");
                    console.log("Inside tree Enable");
                    j$("[id*='treePanel']").toggle();                    
                    console.log("bye");
                });


                j$("i.dotImage").click(function(e) 
                {
                    console.log('event e');
                    console.log(e);
                    j$(this).parents().find('.hidePopup').removeClass(
                        'slds-show');
                    j$(this).parents().find('.hidePopup').addClass(
                        'slds-hide');
                    j$(this).next().find('.slds-hide').addClass(
                        'slds-show');
                    j$(this).next().find('.slds-hide').removeClass(
                        'slds-hide');
                    var h = j$(this).next().find('section').height();
                    console.log('height' + h);
                    var l = j$(this).next()[0].offsetLeft;
                    j$(this).next().find('section')[0].style.left =
                        (l + 152) + 'px';

                    if (mobileDevice) {
                        j$(this).next().find('section')[0].style
                            .top = (j$(this).position().top) +
                            'px';
                    } else if (h >= 50 && h <= 110) {
                        j$(this).next().find('section')[0].style
                            .top = (j$(this).position().top +
                                110) + 'px';
                    } else if (h >= 110 && h <= 130) {
                        if (e.clientY > 480) {
                            j$(this).next().find('section')[0].style
                                .top = (j$(this).position().top +
                                    59) + 'px';
                        } else
                            j$(this).next().find('section')[0].style
                            .top = (j$(this).position().top +
                                84) + 'px';
                    } else if (h >= 131 && h <= 150) {
                        j$(this).next().find('section')[0].style
                            .top = (j$(this).position().top +
                                74) + 'px';
                    } else if (h >= 151 && h <= 170) {
                        j$(this).next().find('section')[0].style
                            .top = (j$(this).position().top +
                                24) + 'px';
                    } else if (h >= 171 && h <= 190) {
                        j$(this).next().find('section')[0].style
                            .top = (j$(this).position().top +
                                50) + 'px';
                    } else if (h > 190 && h < 300) {
                        j$(this).next().find('section')[0].style
                            .top = (j$(this).next().position().top +
                                20) + 'px';
                    }
                });

                j$(".closePopup").click(function() {
                    j$(this).parents().find('.hidePopup').removeClass(
                        'slds-show');
                    j$(this).parents().find('.hidePopup').addClass(
                        'slds-hide');
                });

                j$("span.icon-add").click(function(e) {
                    openCreatePopup1(e.target.id.split('Btn')[1]);
                    hidePanels();
                    return false;
                });

                j$("span.icon-edit").click(function(e) {
                    if (e.target.className.indexOf(
                            'SubmissionPending') == -1) {
                        updateAttributeCheck(e.target.id.split(
                            'Btn')[1]);
                        hidePanels();
                        return false;
                    }
                });
                j$("span.icon-overlay1").click(function(e) {
                    if (e.target.className.indexOf(
                            'SubmissionPending') == -1) {
                        openEditPopup(e.target.id.split('Btn')[
                            1]);
                        hidePanels();
                        return false;
                    }
                });


                j$("span.icon-delete").click(function(e) {
                    openDeletePopup(e.target.id.split('Btn')[1]);
                    hidePanels();
                    return false;
                });

                j$("span.icon-edit-hierarchy").click(function(e) {
                    changeHierarchyPopup(e.target.id.split(
                        'Btn')[1]);
                    hidePanels();
                    return false
                });


                j$("i.jstree-pending").hover(function() 
                {

                });

                window.hidePositionButtonsPopup = function() 
                {
                    j$('.hidePopup').removeClass('slds-show');
                    j$('.hidePopup').addClass('slds-hide');
                }
                   

            j$('#jstree').on('check_node.jstree uncheck_node.jstree', function(e, data)
            {
                console.log('Param '+ param);
                var currentNode = data.node;
                j$('#jstree').jstree(true).open_all(currentNode);
                var allChildren = j$('#jstree').jstree(true).get_children_dom(currentNode);                     
                if(currentNode.state.checked==false)
                    {
                        console.log('Removing Position');   
                        var result = [currentNode.text][0];
                        console.log('Removing '+result); 
                        console.log('All Position ');
                        console.log(allPos);
                        allPos.remove(result);
                        console.log('++allPos'+allPos);  
                    }
                else
                    {
                        console.log('+++++++++ Hey Added ');
                        var result = [currentNode.text][0];
                        console.log('++result'+result); 
                        allPos.push(result);
                        console.log('++allPos')
                        console.log(allPos);
                    }

                
                allChildren.find('li').andSelf().each(function(index, element) 
                {
                    if(!param)
                    {
                        console.log('+inside parent');
                        var result = [currentNode.text][0];
                        console.log('++result'+result); 
                        if(currentNode.state.checked==true)
                            {   
                              console.log('+++hey added');
                              if (j$('#jstree').jstree(true).is_leaf(element))
                              {
                                allPos.push(element.textContent);
                                console.log('+++first allPos'+allPos);
                              } 
                              else 
                              {
                                var nod = j$('#jstree').jstree(true).get_node(element);
                                allPos.push(nod.text);
                                console.log('+++second allPos'+allPos);
                              }
                            }
                        else
                            {
                                console.log('allPos'+allPos);
                                allPos =[];
                                console.log('+++ allPos'+allPos);
                            }
                    }

                });
                console.log('++ allPos'+allPos);
                param = false;
                posFunc(allPos); // assign  & deassign
           });

            j$('[id*="clearIcon"]').hide();
       });


} catch (err)

        {
            console.log("Tree_err : " + err)
        }

    </script>

    <div style="margin:5px;">
        <div class="geo-header1" style="height:40px;">

            <!-- **************   For Search ************ -->
            <div class="slds-form-element">
                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">

                    <span class="icon-search icon-svg" style="margin:8px 0 0 8px; position: absolute;"></span>

                    <input id="treeSearch" class="search-input slds-input" placeholder="Search" />
                </div>
                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right"
                    style="cursor: pointer; top: 5px; right: 6px; position: absolute;">
                    <span class="icon-clear icon-svg" id="clearIcon"></span>

                </div>
            </div>

        </div>

    </div>

    <div class="clear"></div>
    <apex:outputPanel layout="block" id="treeHierarchy">
        <div id="jstree" onscroll="hidePositionButtonsPopup();">

        </div>
        <div class="clear10"></div>
    </apex:outputPanel>
</apex:component>