<!--columnDisplayToNumber is a map of column display number and display name
It is used to display headers-->

<apex:page controller="AccountReopenUniverse" sidebar="false" id="page" docType="html-5.0" > 
<apex:slds />
<div class="slds-scope slds-p-left--x-small slds-p-top--x-small"  style="width:calc(100vw - 40px)">   
    <apex:includeScript value=" https://code.jquery.com/jquery-3.3.1.js"/>
    <!-- <apex:includeScript value="{!URLFOR($Resource.datatable_fc, 'jquery.dataTables.js')}"/>
    <apex:includeScript value="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"/>
    <apex:stylesheet value="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap.min.js"></script> -->

    <apex:stylesheet value="{!URLFOR($Resource.dataTables1,'jquery.dataTables.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.dataTables1,'jquery.dataTables.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.dataTables1,'dataTables.fixedColumns.min.js')}" />

   


<apex:form id="form"> 
    <div id="remoteLoad" class="remoteLoad slds-hide" style="position:fixed;height:100vh; top: 0px; width: 100%;opacity: 0.65;z-index:999999;background-color: #fbfbfb;"> 
         <div class="demo-only" style="height: 6rem;">
             <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                 <span id="loadText" class="slds-assistive-text">Loading</span>
                 <div class="slds-spinner__dot-a"></div>
                 <div class="slds-spinner__dot-b"></div>
             </div>
         </div>
    </div>
                
                
    <style>
    .dataTables_scroll
    {
        overflow:auto;
    } 
    
    .slds-scope .slds-p-top_medium, .slds-scope .slds-p-top--medium{
    padding-top:0rem;
    }
   /* .slds-table .slds-table_cell-buffer .slds-table_bordered .slds-table_col-bordered .slds-border_left .slds-border_right{
        width:100%;
    }
    */
    .slds-scope .dataTables_wrapper .slds-table td, .slds-scope .dataTables_wrapper .slds-table th {
    padding-right: 5px;
    font-size: 12px;
}
    
        table.messageTable {
          display: block;
        }
        /*.messageTable td, .messageTable tr { display: inline-block; }*/
        .messageTable td {
          white-space: normal;
        }
        .messageTable tr:nth-child(even) td {
          background: none;
        }
        .select-colorRed {
          background-color : #FFA07A !important;
        }
        .select-colorGreen {
          background-color : #B6DF89 !important;
        }
        .select-colorYellow {
          background-color : #eadd79 !important;
        }
        .select-colorBlue {
          background-color : #78deea !important;
        }
        .btn.slds-button.slds-button_brand.btn-blueDisabled {
          border: 1px solid #dddbda;
          background: rgba(224, 229, 238, 0.4);
          color: #3e3e3c;
        }
        .slds-scope .slds-table_bordered tbody tr.disabled td, .slds-scope .slds-table_bordered tbody tr.disabled th{   background: #abadb0  !important; 
        }
        .colorLabels{
          height: 10px;
          width: 10px; margin-right: 7px; background: #abadb0; display: inline-block;
        }

        .dataTables_filter {
           float: left !important;
           margin-bottom: 10px;
        }

        .dataTables_filter input {

            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(221, 219, 218);
            border-radius: .25rem;
            width: 100%;
            transition: border .1s linear,background-color .1s linear;
            display: inline-block;
            padding: 0 1rem 0 .75rem;
            line-height: 1.875rem;
            min-height: calc(1.875rem + (1px * 2));
            color: #000;
            margin-left: 0rem !important;
        }

        .dataTables_wrapper { margin-top: -51px; float: left; width: 100%; }
        .buttonPanel .slds-float_right{ position: relative; z-index: 10;  }
        
    </style>
        
<!-- Code for Position Dropdown -->  
    <div class="slds-text-heading_small">Territory</div>
      <apex:outputPanel layout="block"  id="territoryRefreshList"  >
                              <!--      <label class="slds-form-element__label">Territory:</label> -->
                              
                                    <div class="slds-form-element__control">
                                        <div class="select_container" style="width: 12%;margin-left: 15px;">
                                            <apex:selectList styleclass="slds-select" value="{!territorySelected}" size="1">
                                                <apex:actionSupport event="onchange" action="{!PositionChange}" oncomplete="posChange"/>
                                                <apex:selectOptions value="{!territoryList}" />
                                            </apex:selectList>
                                        </div>
                                    </div>
                       
          </apex:outputPanel>
                                
                                
              
            

<!-- Code for Advanced Search -->  
    <div class="slds-text-heading_small" style="margin-top:5px">Advanced Search</div>
          
        <div class="slds-text-align_center slds-text-title">Please enter at least 3 characters in search field (only 2 characters are required for State)</div>
        <apex:outputPanel id="searchFilters">
            <apex:outputPanel rendered="{!filterVal}">
            <div class="slds-grid slds-p-bottom_x-small slds-p-top_xx-small">
                
                <div class="slds-size_1-of-8 slds-text-align_left slds-p-left_xx-small slds-p-right_xx-small">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="ipTextName">Name</label>
                        <div class="slds-form-element__control">
                            <apex:inputText id="ipTextName" styleClass="slds-input" value="{!nameText}" />
                        </div>
                    </div>
                </div>
                 <div class="slds-size_1-of-8 slds-text-align_left slds-p-left_xx-small slds-p-right_xx-small">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="ipTextType">HCO Type</label>
                        <div class="slds-form-element__control">
                            <apex:inputText id="ipTextType" styleClass="slds-input" value="{!typeText}" />
                        </div>
                    </div>
                </div>
               <div class="slds-size_1-of-8 slds-text-align_left slds-p-left_xx-small slds-p-right_xx-small">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="ipTextAddress">Address</label>
                        <div class="slds-form-element__control">
                            <apex:inputText id="ipTextAddress" styleClass="slds-input" value="{!addressText}" />
                        </div>
                    </div>
                </div>
                <div class="slds-size_1-of-8 slds-text-align_left slds-p-left_xx-small slds-p-right_xx-small">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="ipTextCity">City</label>
                        <div class="slds-form-element__control">
                            <apex:inputText id="ipTextCity" styleClass="slds-input" value="{!cityText}" />
                        </div>
                    </div>
                </div>
                <div class="slds-size_1-of-8 slds-text-align_left slds-p-left_xx-small slds-p-right_xx-small">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="ipTextState">State</label>
                        <div class="slds-form-element__control">
                            <apex:inputText id="ipTextState" styleClass="slds-input" value="{!stateText}" />
                        </div>
                    </div>
                </div>
                <div class="slds-size_1-of-8 slds-text-align_left slds-p-left_xx-small slds-p-right_xx-small">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="ipTextZip">ZIP</label>
                        <div class="slds-form-element__control">
                            <apex:inputText id="ipTextZip" styleClass="slds-input" value="{!zipText}" />
                        </div>
                    </div>
                </div>
                <div class="slds-size_1-of-8 slds-text-align_left slds-p-left_xx-small slds-p-right_xx-small">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="ipTextHCP">Veeva ID</label>
                        <div class="slds-form-element__control">
                            <apex:inputText id="ipTextHCP" styleClass="slds-input" value="{!hcpText}" />
                        </div>
                    </div>
                </div>
                 <div class="slds-size_1-of-8 slds-text-align_left slds-p-left_xx-small slds-p-right_xx-small">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for=""></label>
                        <div class="slds-form-element__control slds-p-top_xx-small">
                            <apex:commandButton value="Search" onClick="searchBasedOnFilter();" reRender="none" styleClass="slds-button slds-button_neutral"/>
                            <apex:commandButton value="Clear" onClick="clearBasedOnFilter();" rerender="errorMessage" styleClass="slds-button slds-button_brand"/>
                        </div>
                    </div>
                </div>
            </div>

                <!-- &nbsp; SHS ID :- <apex:inputText value="{!hcpText}" id="ipTextHCP" />&nbsp; -->
                <!-- Name :- <apex:inputText value="{!nameText}" id="ipTextName" /> &nbsp;&nbsp; -->
                <!-- Address :- <apex:inputText value="{!addressText}" id="ipTextAddress" /> &nbsp;&nbsp; -->
                <!-- ZIP :- <apex:inputText value="{!zipText}" id="ipTextZip" /> &nbsp;&nbsp; -->
                <!-- City :- <apex:inputText value="{!cityText}" id="ipTextCity" /> &nbsp;&nbsp; -->
                <!-- State :- <apex:inputText value="{!stateText}" id="ipTextState" /> &nbsp;&nbsp; -->
                <!--Suspicious Flag :-  <apex:selectList value="{!suspiciousFlagText}" id="ipTextSuspiciousFlag" /> &nbsp;&nbsp;  -->

                <!-- <apex:selectList value="{!suspiciousFlagText}" id="ipTextSuspiciousFlag" size="1">
                    <apex:selectOption itemValue="none" itemLabel="--None--" />
                    <apex:selectOption itemValue="true" itemLabel="True" />
                    <apex:selectOption itemValue="false" itemLabel="False" />
                </apex:selectList>&nbsp;&nbsp; -->

                
                <!-- <apex:commandButton value="Search" onClick="searchBasedOnFilter();" reRender="TablePanel,buttonPanel,createDatatable,errorMessage"/> --> <!--  action="{!getPositionsData}"  -->

                <!-- <div  class="tooltip" >
                    <span class="tooltiptext"> &nbsp; Clear Search results from the table</span>
                    <apex:commandButton value="Clear" onClick="clearBasedOnFilter();" rerender="errorMessage" />
                </div> -->
            </apex:outputPanel>
        </apex:outputPanel>
        

    <!-- {!nameText} -- Name
    {!hcpText} -- SHS ID
    {!cityText} -- City
    {!zipText} -- ZIP
    <br/>
    SOQL----- &nbsp;
    {!soql}
    <br/> -->
    <apex:pageMessages id="errorMessage" escape="false"/>
    <apex:inputHidden id="fileName" value="{!fileName}" />
  
    <apex:outputPanel >
        <script>
             var $j=jQuery.noConflict();
             var showSearchData = false;
            var selectCount=0;
             var mapOfIdtoSuspiciousFlag = {};
            
             
        $(document).ready(function() {
    $('#example').DataTable( {
        "dom": '<"top"i>rt<"bottom"flp><"clear">'
    } );
} );
           
        
            function downloadFile2(){
                

                hideLoading();
            }


            function showLoading(){
                $j(".remoteLoad").removeClass("slds-hide");
            }

            function hideLoading(){
                $j(".remoteLoad").addClass("slds-hide");
            }

            function downloadFunc()
            {
                showLoading();
                $j('.downloadButn').attr("disabled", false);
                downloadAF();
            }

            function FirstPageFunc(){
                showLoading();
                $j('.firstPage').attr("disabled", false);
                FirstPageAF();
            }

            function PreviousPageFunc(){
                showLoading();
                $j('.previousPage').attr("disabled", false);
                PreviousPageAF();
            }

            function NextPageFunc(){
                showLoading();
                $j('.nextPage').attr("disabled", false);
                NextPageAF();
            }

            function LastPageFunc(){
                showLoading();
                $j('.lastPage').attr("disabled", false);
                LastPageAF();
            }

             function searchBasedOnFilter()
             {
                showLoading();
                var name = $j('[id$="ipTextName"]').val();
                var hcp = $j('[id$="ipTextHCP"]').val();
                var city = $j('[id$="ipTextCity"]').val();
                var zip = $j('[id$="ipTextZip"]').val();
                var state = $j('[id$="ipTextState"]').val();
                var type = $j('[id$="ipTextType"]').val();
                var address = $j('[id$="ipTextAddress"]').val();
                var suspiciousFlag = $j('[id$="ipTextSuspiciousFlag"]').val();
            
                console.log('+++++++ Name is '+ name);
                console.log('+++++++ hcp is '+ hcp);
                console.log('+++++++ city is '+ city);
                console.log('+++++++ zip is '+ zip);
                console.log('+++++++ state is '+ state);
                console.log('+++++++ type is '+ type);
                console.log('+++++++ address is '+ address);
                console.log('+++++++ suspicious flag is '+ suspiciousFlag);

                if((name.length == 0 || name.length >= 3) && (hcp.length == 0 || hcp.length >= 3) && (city.length == 0 || city.length >= 3) && (zip.length == 0 || zip.length >= 3) && (state.length == 0 || state.length >= 2) && (address.length == 0 || address.length >= 3) && (type.length == 0 || type.length >= 3)) {
                    console.log('Inside if when showSearchData is true');
                    showSearchData = true;
                }
                else {
                    console.log('Inside else when showSearchData is false');
                    showSearchData = false;
                }

                if(showSearchData == true) {
                    console.log('Call Advance Search function:');
                    advancedSearchOnPage();
                }
                else {
                    console.log('see the alert message');
                    alert('Error: Please enter atleast 3 characters in search fields');
                    hideLoading();
                    /*$j('[id$="ipTextName"]').val('');
                    $j('[id$="ipTextHCP"]').val('');
                    $j('[id$="ipTextCity"]').val('');
                    $j('[id$="ipTextZip"]').val('');
                    $j('[id$="ipTextState"]').val('');
                    $j('[id$="ipTextAddress"]').val('');
                    $j('[id$="ipTextSuspiciousFlag"]').val('')
                    clearSearchOnPage();*/
                }     
            }

            function clearBasedOnFilter()
            {
                showLoading();
                console.log('clearBasedOnFilter--');
                var name = $j('[id$="ipTextName"]').val();
                var hcp = $j('[id$="ipTextHCP"]').val();
                var city = $j('[id$="ipTextCity"]').val();
                var zip = $j('[id$="ipTextZip"]').val();
                var state = $j('[id$="ipTextState"]').val();
                var type = $j('[id$="ipTextType"]').val();
                var address = $j('[id$="ipTextAddress"]').val();
                var suspiciousFlag = $j('[id$="ipTextSuspiciousFlag"]').val();
                
                $j('[id$="ipTextName"]').val('');
                $j('[id$="ipTextHCP"]').val('');
                $j('[id$="ipTextCity"]').val('');
                $j('[id$="ipTextZip"]').val('');
                $j('[id$="ipTextState"]').val('');
                $j('[id$="ipTextType"]').val('');
                $j('[id$="ipTextAddress"]').val('');
                $j('[id$="ipTextSuspiciousFlag"]').val('none');

                console.log('+++++++ Name is '+ name);
                console.log('+++++++ hcp is '+ hcp);
                console.log('+++++++ city is '+ city);
                console.log('+++++++ zip is '+ zip);
                console.log('+++++++ state is '+ state);
                console.log('+++++++ type is '+ type);
                console.log('+++++++ address is '+ address);
                console.log('+++++++ suspicious flag is '+ suspiciousFlag);
                clearSearchOnPage();
            }  
        </script>
    </apex:outputPanel>

    <apex:actionFunction id="advancedSearchIsTrue" name="advancedSearchOnPage" action="{!getSearchResult}" oncomplete="hideLoading();" reRender="createDatatable,TablePanel,buttonPanel,errorMessage"/>
    <apex:actionFunction id="clearSearchIsTrue" name="clearSearchOnPage" action="{!clearSearchResult}" oncomplete="hideLoading();" reRender="createDatatable,TablePanel,buttonPanel,errorMessage"/>

    

         
 <!-- Code for custom Pagination-->

    <div class="slds-p-top_medium">
        <apex:outputPanel layout="block" id="buttonPanel" styleClass="slds-text-align_right buttonPanel">     
            <div class="slds-float_right">
                

              
                <input type="button" onclick="savefunc();this.disabled=true;" value="Add to Territory" class="slds-button slds-button_brand saveButn"/>

                <!--<input type="button" onclick="downloadFunc();this.disabled=true;" value="Download" class="slds-button slds-button_destructive downloadButn"/>--> 
                <!--<apex:commandLink styleclass="slds-button slds-button_brand popupshow slds-m-right_xx-small"
                                                    value="Download" id="downloadButton" title="Download" target="_blank" style="margin-top: 1.35rem"
                                                    action="{!download}" />-->
                <!--<apex:commandLink styleclass="slds-button slds-button_brand saveButn"
                                                    value="Download" id="downloadButton" title="Download" target="_blank"
                                                    action="{!download}" />-->

                <apex:actionFunction id="downloadAF" name="downloadAF" action="{!download}" oncomplete="downloadFile2();" reRender="createDatatable,TablePanel,buttonPanel,errorMessage,fileName"/>

                <apex:actionFunction id="FirstPageAF" name="FirstPageAF" action="{!FirstPage}" oncomplete="hideLoading();" rerender="TablePanel,buttonPanel,createDatatable"/>

                <apex:actionFunction id="PreviousPageAF" name="PreviousPageAF" action="{!previousfn}" oncomplete="hideLoading();" rerender="TablePanel,buttonPanel,createDatatable"/>

                <apex:actionFunction id="NextPageAF" name="NextPageAF" action="{!next}" oncomplete="hideLoading();" rerender="TablePanel,buttonPanel,createDatatable">
                    
                </apex:actionFunction>

                <apex:actionFunction id="LastPageAF" name="LastPageAF" action="{!LastPage}" oncomplete="hideLoading();" rerender="TablePanel,buttonPanel,createDatatable"/>
            </div>
          

            <script>
               
            </script>
        </apex:outputPanel>


        <!--Code to handle special character-->
        <head>
                <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
                <apex:stylesheet value="{!$Resource.mbo}" /> 
        </head>


        <div id="divTable" >
             
            <apex:outputPanel id="TablePanel" >
                <!-- <apex:outputPanel rendered="{!IF(totalRecs>0,true,false)}"> -->
                 <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered slds-border_left slds-border_right" id="Table1" style="width:100%">
                    <thead>
                        <th style="display: none"></th>
                        <apex:repeat value="{!columnDisplayToNumber}" var="key">
                        <!--<th class="" > {!columnDisplayToNumber[key]} </th>-->
                        <th class="" > <apex:inputCheckbox rendered="{!IF(key=1,true,false)}" id="selectAllId" onclick="selectall(this,'check1')" /> {!columnDisplayToNumber[key]}  <br/> </th>
                        </apex:repeat>
                        </thead>
                    <tbody>
                    <!-- to get the data from wrapper feild-->
                    <!--fieldOrderMap is a map between column number and wrapper name-->
                        <apex:repeat value="{!phyDisplayWrapperList}" var="key1">
                        <tr>
                            <td style="display: none">{!key1["id"]}</td>
                            <apex:repeat value="{!fieldOrderMap}" var="key2">
                                 <!--<td >{!key1[fieldOrderMap[key2]]}</td> -->
                                  <td style="{!IF(key2=4 || key2=5 || key2=2 || key2=3,'text-align: left;','text-align: center;')}">{!key1[fieldOrderMap[key2]]}</td>
                            </apex:repeat>
                        </tr>    
                        </apex:repeat>
                    </tbody>
                 </table>
                <!-- </apex:outputPanel> -->
            </apex:outputPanel>
        </div>
        
        <apex:outputPanel id="createDatatable">
            <apex:actionFunction name="selectAF" action="{!selectall}" oncomplete="hideLoading();" rerender="check1"></apex:actionFunction>
            <apex:actionFunction name="saveAF" action="{!save}" oncomplete="hideLoading();" reRender="createDatatable,TablePanel,buttonPanel,errorMessage">
                <apex:param name="mapOfIdToSuspiciousFlagString" assignTo="{!mapOfIdToSuspiciousFlagString}" value="" />
            </apex:actionFunction>

            <script>
                var $j = jQuery.noConflict();
                console.log('in createDatatable');
                var sessionTable = $j('#Table1').DataTable({
                    
                    "searching": true, 
                   
                    "paging":true,
                    "pageLength": 50,
                    language: {
                        search:"s",
                        searchPlaceholder: "Search records"
                    },
                    //"scrollX": false,
                    //"sScrollX": "100%",
                    //"sScrollXInner": "100%",
                    "dom": '<"div-pg"><"div-search"f>t<"bottom-info"><"div-tbl"p>',
                    "destroy": true,
                   // "autowidth": false,
                    columnDefs:[
                        {"className": "dt-center","targets": "_all"},
                        {
                            targets:{!suspiciousFlagCol},
                            "createdCell" : function(td,cellData,rowData,row,col){
                                let index = {!suspiciousFlagCol};
                                console.log('suspiciousFlagCol -->' + index);
                                if(index != null){
                                    console.log('rowData.suspiciousFlag  -->' + rowData.suspiciousFlag);
                                    let suspiciousHTML;
                                    let retVal = isPresentinMap(rowData[0]);
                                    console.log('retVal --  ' + retVal);
                                    if(rowData[{!suspiciousFlagCol}] == 'true'){
                                        //console.log('rowData true --> ' );
                                        //console.log(rowData);
                                        if(retVal == 1 || retVal == -1)
                                            suspiciousHTML   = "<input type='checkbox' id='check1' class='slds-checkbox' checked onClick='changeSuspicious(this)' />";
                                        else if(retVal == 0)
                                            suspiciousHTML = "<input type='checkbox' id='check1' class='slds-checkbox' onClick='changeSuspicious(this)' />";
                                    }
                                    else{
                                        if(retVal == 1)
                                            suspiciousHTML   = "<input type='checkbox' id='check1' class='slds-checkbox' checked onClick='changeSuspicious(this)' />";
                                        else if(retVal == 0  || retVal == -1)
                                            suspiciousHTML = "<input type='checkbox' id='check1' class='slds-checkbox' onClick='changeSuspicious(this)' />";
                                    }
                                    //console.log('suspiciousHTML -->' + suspiciousHTML);
                                    $j(td).html(suspiciousHTML);
                                }
                            }
                        },
                        {
                            targets:{!shsIdCol},
                            "createdCell" : function(td,cellData,rowData,row,col){
                                let index = {!shsIdCol};
                                
                                /*if(index != null){
                                    //console.log('rowData.suspiciousFlag  -->' + rowData.suspiciousFlag);
                                    let suspiciousHTML;
                                    let shsIdVal = rowData[{!shsIdCol}];
                                    let url = "/apex/HCP_Detail_Page?shsId="+shsIdVal;
                                    suspiciousHTML = "<a href="+url+">"+shsIdVal+"</a>";
                                    $j(td).html(suspiciousHTML);
                                }*/
                            }
                        }
                    ]
                    

                });
                $j('.dataTable').wrap('<div class="dataTables_scroll" />'); 
 

                function isPresentinMap(changedRec){
                    if(mapOfIdtoSuspiciousFlag[changedRec] != undefined){
                        if(mapOfIdtoSuspiciousFlag[changedRec] == true){
                            return 1;
                        }
                        else{
                            return 0;
                        }
                    }
                    else{
                        return -1;
                    }
                    
                }

                function getSuspiciousFlagIndex(){
                    //console.log('getSuspiciousFlagIndex ---->' + {!suspiciousFlagCol} );
                    if('{!suspiciousFlagCol}' != null && '{!suspiciousFlagCol}' != undefined && {!suspiciousFlagCol} != -1){
                        return {!suspiciousFlagCol};
                    }
                    else{
                        return null;
                    }
                }
                function posChange()
                {
                    selectCount=0;
                }
                function selectall(obj,InputID)
                { // checkedFlag=true;
                    var inputCheckBox = document.getElementsByTagName("input");
                   var count = 0;
                    for(var i=0; i<inputCheckBox.length; i++)
                    {if(inputCheckBox[i].id.indexOf(InputID)!=-1)
                         { 
                        count++;
                         }
                    }
                    console.log(`For Count - `+count);
                     if(count>120)
                    {
                        obj.checked=false;
                        alert("Changes done are more than 100. Kindly Select fewer records");
                    }   
                    else
                    {
                        for(var i=0; i<inputCheckBox.length; i++)
                        {          
                         if(inputCheckBox[i].id.indexOf(InputID)!=-1)
                         {                                     
                            inputCheckBox[i].checked = obj.checked;
                            changeSuspicious(inputCheckBox[i]);
                         }
                        }
                    }
                    /*var data = sessionTable.rows().data();
                    data.each(function (value, index) {
                     console.log(`For index ${index}, data value is ${value}`);
                    });*/
                    selectAF();
                }
                function changeSuspicious(changedRec){
                    /*console.log('changedRec -->');*/
                    /*console.log(changedRec);*/
                    let idx = sessionTable.cell($j(changedRec).parent()).index().row;
                    let val = changedRec.checked;
                    let row = sessionTable.rows(idx).data();
                    let data = row.data().toArray()[idx];

                    /*console.log('idx --');
                    console.log(idx);
                    console.log('val --');
                    console.log(val);
                    console.log('row --');
                    console.log(row);
                    console.log('data --');
                    console.log(data[0]);*/

                   console.log('Val--' + val );
                    mapOfIdtoSuspiciousFlag[data[0]] = val;
                    if(mapOfIdtoSuspiciousFlag[data[0]]==false)
                    {
                        selectCount--;
                    }
                    else
                    {
                        selectCount++;
                    }
                    /*console.log('mapOfIdtoSuspiciousFlag');*/
                    console.log('mapzise--' + mapOfIdtoSuspiciousFlag.size );
                    console.log('selectCount--' + selectCount );
                    if(selectCount > 120){
                        alert("Changes done are more than 100. Kindly save your changes");
                        mapOfIdtoSuspiciousFlag[data[0]] = false;
                        changedRec.checked=false;
                        selectCount--;
                    }


                } 

                function savefunc(){
                    showLoading();
                    $j('.saveButn').attr("disabled", false);
                    var mapStringify=JSON.stringify(mapOfIdtoSuspiciousFlag);
                    console.log("Stringify -- "+mapStringify);
                    saveAF(mapStringify);
                    mapOfIdtoSuspiciousFlag = {}; 
                    selectCount=0;
                }
            </script>
        </apex:outputPanel>
    </div>


</apex:form> 
</div>
</apex:page>