<apex:page controller="DashboardCustomWidgetsCtrl" doctype="html-5.0">
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
<apex:slds />
<apex:includeScript value="{!URLFOR($Resource.Dashboard_Widget, 'Dashboard_Widget/js/jquery.min_1_11_3.js')}" />
<apex:includeScript value="{!URLFOR($Resource.Dashboard_Widget, 'Dashboard_Widget/js/jquery-ui.min_1_10_0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.Dashboard_Widget, 'Dashboard_Widget/js/chart_3_3_2.js')}" />
<apex:includeScript value="{!URLFOR($Resource.Dashboard_Widget, 'Dashboard_Widget/js/chart.min_3_3_2.js')}" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script> -->
<!-- <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.bundle.min.js" /> -->

    <style>
        .dropdown {
            border: 1px solid rgb(221, 219, 218);
            border-radius: .25rem;
            padding: .25rem 0;
            font-size: .75rem;
            background: rgb(255, 255, 255);
        }
    </style>

    <apex:outputPanel id="refreshBudgetData">
        <script>
            var budgetUtilizationPercent = '{!budgetUtilizationPercent}';
        </script>
    </apex:outputPanel>

    <script>
        var $j = jQuery.noConflict();
        $j(document).ready(function(e) {

            //This piece of code is to make height of every widget same.
            let widgets = document.getElementsByClassName("widthclass");
            for(let i =0;i<widgets.length;i++){
                widgets[i].children[1].setAttribute('style', 'overflow-y :auto;height:240px');
            }
            if({!dataAvailable}){
                drawBudgetChart();
            }    
        });

        function drawBudgetChart(){
            new Chart('budgetChart', {
              type: 'doughnut',
              plugins: [{
                    afterDraw: chart => {
                      var needleValue = chart.config.data.datasets[0].needleValue;
                      var dataTotal = chart.config.data.datasets[0].data.reduce((a, b) => a + b, 0);
                      var angle = Math.PI + (1 / dataTotal * needleValue * Math.PI);
                      var ctx = chart.ctx;
                      var cw = chart.canvas.offsetWidth;
                      var ch = chart.canvas.offsetHeight - 25;
                      var cx = cw / 2;
                      var cy = ch + 20;

                      ctx.translate(cx, cy);
                      ctx.rotate(angle);
                      ctx.beginPath();
                      ctx.moveTo(0, -3);
                      ctx.lineTo(ch - 20, 0);
                      ctx.lineTo(0, 3);
                      ctx.fillStyle = 'rgb(0, 0, 0)';
                      ctx.fill();
                      ctx.rotate(-angle);
                      ctx.translate(-cx, -cy);
                      ctx.beginPath();
                      ctx.arc(cx, cy, 5, 0, Math.PI * 2);
                      ctx.fill();
                    }
                  }],
              data: {
                datasets: [{
                  //data: [parseInt(budgetUtilizationPercent), 150 -parseInt(budgetUtilizationPercent)],
                  data: [80,10,20,10,80],
                  needleValue: parseInt(budgetUtilizationPercent),
                  backgroundColor: [
                    /*"#bfd400",
                    "#A9A9A9",*/
                    "#FF4500",//"#b32607",
                    "orange",
                    "#80c444",//"#89D924",
                    "orange",
                    "#FF4500",//"#b32607",
                  ]
                }]
              },
              options: {
                /*layout: {
                  padding: {
                    bottom: 3
                  }
                },*/
                plugins: {
                    title: {
                        display: false,
                        text: 'Utilization'
                    }
                },
                responsive: true,
                rotation: -29 * Math.PI,
                circumference: 58 * Math.PI,
                legend: {
                    display: false,
                    position: 'left'
                },
                animation: {
                  animateRotate: false,
                  animateScale: true
                }
              }
            });
            $j(".budgetLoading").css('width',$j(".budgetLoading").parent().width());
        }
    </script>

    <apex:form >
        <apex:actionFunction name="budgetUtilization" action="{!budgetUtilization}" rerender="refreshBudgetData, refreshBudgetValue, refreshBudgetPublishDate" onComplete="drawBudgetChart();$j('.budgetLoading').css('display', 'none');">
            <apex:param name="selectedBudgetTeam" assignTo="{!selectedBudgetTeam}" value=""/>
        </apex:actionFunction>
    </apex:form>

    
    <div style="height: 220px">
        <div class="budgetLoading" style="height:6rem;display:none;position:absolute;height: 14rem;border: 0px;">
        <div class="slds-spinner_container">
            <div role="status" class="slds-spinner slds-spinner_small slds-spinner_brand">
                <span class="slds-assistive-text">Loading</span>
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
            </div>
        </div>
        </div>
        <apex:outputPanel rendered="{!dataAvailable}">
                
            <div style="text-align: end;">
                <apex:outputPanel id="refreshBudgetPublishDate">
                    <p style="color:grey;float:left">As of {!budgetPublishDate}</p>
                </apex:outputPanel>
                <apex:form >
                    <label class="slds-form-element__label" style="font-size: 13px;">Teams</label>
                    <apex:selectList value="{!selectedBudgetTeam}" size="1" styleClass="dropdown" onchange="$j('.budgetLoading').css('display', 'block');budgetUtilization(this.value);" style="float:none;">
                        <apex:selectOptions value="{!budgetTeams}" />
                    </apex:selectList>
                </apex:form>
            </div>

            <apex:outputPanel id="refreshBudgetValue">
                <div class="" style="position: relative;">
                    <canvas id="budgetChart" style="max-height: 150px"></canvas>
                    <!-- <h1 style="margin-top: -30px;width: 100%;text-align: center;">{!budgetUtilizationPercent}%</h1> --><!-- position: absolute;z-index: 9;margin-top: -30px;margin-left: 145px; -->
                </div>
                <div class="slds-grid" style="margin-top: 3%;">
                    <div class="slds-size_1-of-3" style="text-align: center;">0.0%</div>
                    <div class="slds-size_1-of-3" style="text-align: center;">{!budgetUtilizationPercent}%</div>
                    <div class="slds-size_1-of-3" style="text-align: center;">200.0%</div>
                </div>
                <div class="slds-align_absolute-center">
                    ({!budgetUtilizationPayout})
                </div>
            </apex:outputPanel>
        </apex:outputPanel>
        <apex:outputPanel rendered="{!!dataAvailable}">
            <h1 style="margin-left: 100px;">Data is not available.</h1>
        </apex:outputPanel>
    </div>
    
</html>
</apex:page>