<apex:page controller="Call_Plan_Territory_report_Ctrl" action="{!loggedInUserCheck}">
    <apex:slds />
     <div class="slds-p-around_small">
       <apex:form >


       <div class="slds-form slds-form_compound slds-size--1-of-2" >
        <fieldset class="slds-form-element">
          <div class="slds-form-element__group">
            <div class="slds-form-element__row">
                  <div class="slds-form-element slds-size_1-of-2">
                    <label class="slds-form-element__label" >Select Territory</label>
          
                       <div class="slds-form-element__control">
                        <div class="slds-select_container" >
                            <apex:selectList styleclass="slds-select" value="{!territorySelected}" size="1" id="territory">
                                <apex:selectOptions value="{!allTerritories}" />
                            </apex:selectList>        
                        </div>
                      </div> 
                  </div>
                  <!-- <div class="slds-form-element slds-size_1-of-2">
                    <label class="slds-form-element__label" >Select Report</label>
                        <div class="slds-form-element__control">
                            <div class="slds-select_container" >
                                <apex:selectList styleclass="slds-select" value="{!reportname}" size="1" id="reports">
                                     <apex:actionSupport event="onchange" action="{!teamInstanceChanged}"
                                           rerender="theButton" />
                                     <apex:selectOptions value="{!allreports}" />
                                 </apex:selectList>       
                            </div>
                          </div>
                  </div>     -->  
                </div>
            </div>
        </fieldset>
    </div>

     <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!runReport}" reRender="none" value="Run report"
                     id="theButton"/> 
       </apex:form>
   </div>
</apex:page>