<apex:page controller="DashboardCustomWidgetsCtrl" doctype="html-5.0">
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
<apex:slds />
    
    
    <div class="dummy">
        
    <div class="slds-grid slds-align_absolute-center" style="height:100px" > 
            <div class="slds-size_1-of-2" style="text-align: center;">
                <a href= "{!IF(userBU == 'Oncology Breast', 'https://app.powerbi.com/links/PzksdNlgCm?ctid=b0179487-3026-44f7-bcd6-25ed452138d0&pbi_source=linkShare', IF(userBU == 'Rare Disease', 'https://app.powerbi.com/links/emrhTQA1YZ?ctid=b0179487-3026-44f7-bcd6-25ed452138d0&pbi_source=linkShare', IF(userBU == 'Oncology Supportive Care', 'https://app.powerbi.com/links/siq1yup_Jd?ctid=b0179487-3026-44f7-bcd6-25ed452138d0&pbi_source=linkShare', 'javascript:void(0)')))}">
                    <apex:image url="{!URLFOR($Resource.Dashboard_Widget, 'Dashboard_Widget/images/external_link_icon/Apex.jpg')}" width="40%"  />
                </a>
            </div>
            <div class="slds-size_1-of-2" style="text-align: center">
                <a href = "https://dsipublicaffairs.us.newsweaver.com/newsletter/page.html?page=Archive%20Page">
                	<apex:image url="{!URLFOR($Resource.Dashboard_Widget, 'Dashboard_Widget/images/external_link_icon/Connect.jpg')}"  width="40%" /> 
            	</a>
            </div>
            
    
            
   </div> 
    </div>
   <apex:form >
   <script>
    window.addEventListener("DOMContentLoaded", function() {
        //alert('test called');
       $('.dummy').parents('.slds-p-around_xx-small').css('height', '100%');
       $('.dummy').parents('.widthclass').find('.title').css({background:'transparent','border':0});
    });
    </script>
    
  <!-- <apex:CommandButton value="D&B Check" onclick="var x = document.querySelector('.dummy').parentElement.parentElement;x.style.height = 100px !important;return false;" />-->
    </apex:form>
    
</html>
</apex:page>