<apex:page controller="PBI_WO_Qury_Ctlr"  sidebar="false" Title="Rank Report" >
<apex:includeScript value="{!$Resource.PBIJs_New_Min}"/>

<style>
    #myReport1 { height:950px; width:100%; margin:auto; margin-top:25px}
    iframe { border:none; scrolling="no"}
</style>

<script>
    let pbiEmbed_Details       =    '{!pbiEmbedDetails}'.split('/');
    let pbiFilter_Details      =    '{!pbiFilters}'.split(';');
    
    var pbiGroupID             =     pbiEmbed_Details[0];
    var pbiReportID            =     pbiEmbed_Details[1];
    pbiGroupID =  '75c0ba6e-5aac-403e-a58a-87d6981e9a9f';
    pbiReportID = 'a70c8dcf-0dcd-4337-bccd-3529288a40d4';
    
    
    
    var BU1                    =     pbiFilter_Details[3];
    var Role1                  =     pbiFilter_Details[4];
    var KeyData1               =     BU1 + Role1 + pbiFilter_Details[5]
    
        pbiLanguage = {
                        language: "ja",
                        formatLocale: "JP"
                      };

    var models1                =     window['powerbi-client'].models;   
    
    console.log('Keydata1 --> ' + KeyData1);
        
    let commands = [{ copy: {displayOption: models1.CommandDisplayOption.Hidden,},
                             seeData: {displayOption: models1.CommandDisplayOption.Hidden,},
                             includeExclude: {displayOption: models1.CommandDisplayOption.Hidden,},
                             drill: {displayOption: models1.CommandDisplayOption.Hidden,},
                             expandCollapse: {displayOption: models1.CommandDisplayOption.Hidden,},
                             sort: {displayOption: models1.CommandDisplayOption.Hidden,},
                             spotlight : {displayOption: models1.CommandDisplayOption.Hidden,}
                    }];

    //===================================== Start of Pass filter in Report  ======================
    const filter = [{ $schema: "http://powerbi.com/product/schema#basic",
                      target: { table: "PBI_Rank_EmpInfo", column: "KeyData1" },
                      operator: "In", values:[KeyData1], filterType: 1
                    }];


    //===================================== Custom layout Setting start  ======================
    let Settings = {
    
                        localeSettings : pbiLanguage,
                        commands:commands,
                        filterPaneEnabled: false,
                        navContentPaneEnabled: false
                   };

    window.onload = function() { callReport1(); }
        
    function callReport1()
    {
        var embedConfiguration = 
        {
            type: 'report',
            embedUrl: 'https://app.powerbi.com/reportEmbed?',
            groupId:pbiGroupID,
            id: pbiReportID,
            pageName : pbiEmbed_Details[2],
            filters: filter,
            //slicers: Slicer,
            settings: Settings,
            permissions: models1.Permissions.All,
            viewMode: models1.ViewMode.Read
        };
        powerbi.accessToken = '{!pbiAccessToken}';
        var element = document.getElementById('myReport1');
        report1 = powerbi.embed(element, embedConfiguration);
    

    /* ===================================== start of Code to log cordinates value in a array  ======================*/

   // Report.on will add an event handler which prints to Log window.
            report1.on("loaded", function() {
                // Get a reference to the embedded report.
                report1 = powerbi.get(element);
                // Retrieve the page collection and get the visuals for the first page.
                report1.getPages()
                    .then(function(pages) {
                        // Retrieve active page.
                        var activePage = pages.filter(function(page) {
                            return page.isActive
                        })[0];

                        activePage.getVisuals()
                            .then(function(visuals) {
                                var filteredMap=visuals.map(function(
                                        visual) {
                                        return {
                                            name: visual
                                                .name,
                                            type: visual
                                                .type,
                                            title: visual
                                                .title,
                                            layout: visual
                                                .layout
                                        };
                                    })

                                console.log(filteredMap);
                            })
                            .catch(function(errors) {
                                console.log("1");
                                console.log(errors);
                            });
                    })
                    .catch(function(errors) {
                        console.log("2");
                        console.log(errors);
                    });

                console.log("Report is loaded");
                //    report.print();

            });

         /* ===================================== end of Code to log cordinates value in a array  ======================*/

        }
        
        
      </script>
      
<style>
    .btn.exportButton1,.btn.exportButton1:hover{
    background-image: url(/resource/1586951123000/SIQIC__ExportToExcel); 
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;  /* equivalent to 'top left' */
    position: absolute;
    top: 13px;
    right: 80px;
    border: none;           /* assuming we dont want any borders */
    cursor: pointer;       
    height: 28px;           /* make this the size of your image */
    padding-left: 20px;     /* make text start to the right of the image */
    vertical-align: middle;
    
    background-size: 28px auto;
    }
</style>

    <div class="slds-scope" id="pdf"  style="visibility:visible">
        <apex:form >
            <apex:commandButton styleclass="exportButton1"  action="{!xlDownloadRpt}" value=""  title="Excel" style="font-size:17px;" id="downloadButton1" oncomplete="window.open('{!preSignedURL1}', '_self'); return false" >
            </apex:commandButton>
            
            <div class="slds-p-top_xx-small slds-p-bottom_x-small"   >
                <a id="j_id0:j_id3:frm:theLink" name="j_id0:j_id3:frm:theLink" href="{!goBackURL}" class="slds-button slds-button_neutral"> {!$Label.SIQIC__Go_back_to_Reports_lbl}</a>
          
        <button class="slds-button slds-button_icon slds-button_icon-brand slds-float_right" title="PDF Download" 
            style="background: #fff; position : absolute; right: 30px; border: 0px;" onclick="report1.print(); return false;">
            <img src="{!$Resource.SIQIC__pdf_icon}" style="width: 30px;" />
        </button>
    </div> 
            
    <div id="myReport1"/>
        <input type="hidden" name="currentvfpage" value="{!$CurrentPage.Name}" />
        </apex:form>
    </div>   
</apex:page>