<apex:page controller="PBI_With_Qury_Ctlr"  sidebar="false" action="{!trackReportInst}"   title="Scorecard">
 <apex:includeScript value="{!$Resource.PBIJs_New_Min}" />
<style>
    #myReport1 { height:1425px; width:100%; margin:auto; margin-top:25px}
    iframe { border:none; scrolling="no"}
</style>

    <script>

    let pbiEmbed_Details       =    '{!pbiEmbedDetails}'.split('/');
    let pbiFilter_Details      =    '{!pbiFilters}'.split(';');
    let pbiWebQury_Result      =    '{!pbiWebQuryRsult}'.split(';');
    var pbiGroupID             =     pbiEmbed_Details[0];
    var pbiReportID            =     pbiEmbed_Details[1];
    var report1;
    var BU1                    =     pbiFilter_Details[3];
    var Role1                  =     pbiFilter_Details[4];
    var Report_key_field1      =     BU1 + Role1 + pbiFilter_Details[1] + pbiFilter_Details[2]+ pbiFilter_Details[5] + pbiFilter_Details[6]

    var models1                =     window['powerbi-client'].models;

    console.log('Keydata1 --> ' + Report_key_field1);
        pbiWebQury_Result
        var models1 = window['powerbi-client'].models;
        var NFT_Flag1  = pbiWebQury_Result[0];
        var newhireflag1 = pbiWebQury_Result[1];
        var ProductCount1 = pbiWebQury_Result[2];
        
        /*ProductCount1 = 1;
        newhireflag1 = 1;
        NFT_Flag1 = 1;
        PSlicer1 = 'Injectafer | Goal Attainment';
        
      //Territory
        Role1 = 'ONCB - Territory Manager';
        Report_key_field1 = 'A11513_DSI_ONCB_ONCB - Territory Manager_X10003_a4x3h00000000001_V1' ; 
        
      //District
        Role1 = 'ONCB - District Manager';
        Report_key_field1 = 'A11515_DSI_ONCB_ONCB - District Manager_X10005_a4x3h00000000001_V1' ; 
        
       //Region
        Role1 = 'ONCB - Region Manager';
        Report_key_field1 = 'A11517_DSI_ONCB_ONCB - Region Manager_X10007_a4x3h00000000001_V1' ; 
      */  
        
     console.log('newhireflag1: ' + newhireflag1);
     console.log('Report_key_field1 : ' + Report_key_field1 );
     console.log('ProductCount1: ' + ProductCount1);
     console.log('NFT Flag1:' + NFT_Flag1);
     
     var models1 = window['powerbi-client'].models;

     
   var  newpcount1 = (ProductCount1 -1 );    /*--------------- get product count -------- */
   let newheight1 = (newpcount1 * 22);

  
   console.log('newheight1 : ' + newheight1 );

   
    /* ===================================== Adjust heightt and Y coordinate of visuals based on product count  ======================*/
        let visualsLayout1 = {};
       


        visualsLayout1["aa57de70874be6573abb"] = {
        height: 145.85798816568047 +  newheight1
          }; //Payout Summary Table
          
        visualsLayout1["e7d39c9bb116d770b670"] = {
        height: 712.1301775147929 +  newheight1
          }; //Disable_Shape_1
        
        visualsLayout1["140cc6f1ee0cca7e17c0"] = {
        y: 665.9752481280381 + newheight1 +46 
          }; //Sales VS Goals
          
        visualsLayout1["880dfc670628dd7d7a10"] = {
        y: 667.8116325673974 + newheight1 +46 
          }; //Sales VS Goals  Trend Card

        visualsLayout1["eb66824ddca14d80e818"] = {
        y: 699.030168036505 + newheight1 +46 
          }; //Product_Image

        visualsLayout1["5bbc5ff22b60904acd65"] = {
        y: 702.7029369152235 + newheight1 +46 
          }; //Slicer_SGT         

        visualsLayout1["33100708baab58737648"] = {
        y: 783.629191321499 + newheight1 +46 
          }; //Chart_SALES/GOALS TREND  
          
        visualsLayout1["b42568f714024e0d0b45"] = {
        y: 646.3510848126232 +  newheight1 +46
          }; //Disable_Shape_2
          
        visualsLayout1["a176499edc07120530ad"] = {
        y: 750.4489323385644 +  newheight1 +46
          }; //Disable_Shape_3

        visualsLayout1["b39d44880d7e15905ea7"] = {
        y: 1089.6449704142012 +  newheight1 +46
          }; //Disable_Shape_4       

        visualsLayout1["e62e6a135d49dcccbea1"] = {
        y: 666.3708086785009 +  newheight1 +46
          }; //Shape_BG

        visualsLayout1["6d7190b8c8589dce43ca"] = {
        y: 1109.3567063400722 +  newheight1 +46
          }; //Comments               
    
   
    
    console.log('visualsLayout1');
    
    
  /*  let slicer1 = [{
                    selector: {
                           $schema: "http://powerbi.com/product/schema#visualSelector",
                            visualName: '5bbc5ff22b60904acd65'
                                               },   
                    state: {
                            filters: [{
                                      "$schema":"http://powerbi.com/product/schema#basic",
                                      target: {
                                                table: "T_SC_Trend_Summary",
                                                column: "Product_Measure"
                                              },
                                      operator: "In",
                                values: [PSlicer1],
                                filterType:1
                                      }]
                           }
                  }];  
        
           
        console.log(slicer1); */

    let commands = [{ copy: {displayOption: models1.CommandDisplayOption.Hidden,},
                             seeData: {displayOption: models1.CommandDisplayOption.Hidden,},
                             includeExclude: {displayOption: models1.CommandDisplayOption.Hidden,},
                             drill: {displayOption: models1.CommandDisplayOption.Hidden,},
                             expandCollapse: {displayOption: models1.CommandDisplayOption.Hidden,},
                             sort: {displayOption: models1.CommandDisplayOption.Hidden,},
                             spotlight : {displayOption: models1.CommandDisplayOption.Hidden,}
                    }];

    /* ===================================== Start Hide New Hire Bonus and NFT based on flags  ======================*/

    if((Role1.indexOf('OTM')>= 0))
    {
             visualsLayout1["d5e77592170c9306e4e1"] = {
                 displayState: {
                 mode: 1
                               }
                                                     };//Btn_TeamSummary

             visualsLayout1["4a9fc080d633e1815d04"] = {
                 displayState: {
                 mode: 1
                               }
                                                     };//Btn_PayoutDetails2

                                                     }

    if((Role1.indexOf('OTM')< 0))
    {
             visualsLayout1["9719e3a4b0edc51c49b0"] = {
                 displayState: {
                 mode: 1
                               }
                                                     };//Btn_AccountList
            
            /*visualsLayout1["c8f26330906690d58be0"] = {
                 displayState: {
                 mode: 1
                               }
                                                     };//Btn_PayoutDetails */
                
                
}                                                    
    
    
if((newhireflag1 == 0) && (NFT_Flag1 == 0))
        {
           
         visualsLayout1["6e4236d1b042e8023a0c"] = {
                 displayState: {
                 mode: 1
                               }
                                                     };//Table_1
           
         visualsLayout1["c09d1133a540d9800247"] = {
                 displayState: {
                 mode: 1
                               }
                                                     };//Table_2
                                                     
         visualsLayout1["fd454b13cb407d809093"] = {
                 displayState: {
                 mode: 1
                               }
                                                     };//Table_2_Card                                                    

        visualsLayout1["65922845ecd0c9d5ad16"] = {
        height: 350
          }; //White_BG_1   

        visualsLayout1["ff14421d01b4a90c950e"] = {
        y: 372.6725838264299
          }; //Shape_White_Table   

        visualsLayout1["e75946cac00d41e21c29"] = {
        y: 410.6725838264299
          }; //Blue_line2 
          
        visualsLayout1["aa57de70874be6573abb"] = {
        height: 145.85798816568047 +  newheight1,
        y: 506.21301775147924   - 180
          }; //Payout Summary Table
          
        visualsLayout1["e7d39c9bb116d770b670"] = {
        height: 712.1301775147929 +  newheight1    - 180
          }; //Disable_Shape_1
        
        visualsLayout1["140cc6f1ee0cca7e17c0"] = {
        y: 665.9752481280381 + newheight1    - 180 
          }; //Sales VS Goals
          
        visualsLayout1["880dfc670628dd7d7a10"] = {
        y: 667.8116325673974 + newheight1    - 180 
          }; //Sales VS Goals  Trend Card

        visualsLayout1["eb66824ddca14d80e818"] = {
        y: 699.030168036505 + newheight1    - 180 
          }; //Product_Image

        visualsLayout1["5bbc5ff22b60904acd65"] = {
        y: 702.7029369152235 + newheight1    - 180 
          }; //Slicer_SGT         

        visualsLayout1["33100708baab58737648"] = {
        y: 783.629191321499 + newheight1    - 180 
          }; //Chart_SALES/GOALS TREND  
          
        visualsLayout1["b42568f714024e0d0b45"] = {
        y: 646.3510848126232 +  newheight1    - 180
          }; //Disable_Shape_2
          
        visualsLayout1["a176499edc07120530ad"] = {
        y: 750.4489323385644 +  newheight1    - 180
          }; //Disable_Shape_3

        visualsLayout1["b39d44880d7e15905ea7"] = {
        y: 1089.6449704142012 +  newheight1    - 180
          }; //Disable_Shape_4       

        visualsLayout1["e62e6a135d49dcccbea1"] = {
        y: 666.3708086785009 +  newheight1    - 180
          }; //Shape_BG

        visualsLayout1["6d7190b8c8589dce43ca"] = {
        y: 1109.3567063400722 +  newheight1    - 180
          }; //Comments               

 }
 
 if((newhireflag1 == 1) && (NFT_Flag1 == 0))
        {
                     
         visualsLayout1["c09d1133a540d9800247"] = {
                 displayState: {
                 mode: 1
                               }
                                                     };//Table_2
                                                     
         visualsLayout1["fd454b13cb407d809093"] = {
                 displayState: {
                 mode: 1
                               }
                                                     };//Table_2_Card                                                    

        visualsLayout1["c965da433a0520452295"] = {
        height: 450
          }; //White_BG_1   
          
        visualsLayout1["e75946cac00d41e21c29"] = {
        y: 530.6725838264299
          }; //Blue_line2 

        visualsLayout1["ff14421d01b4a90c950e"] = {
        y: 500.6725838264299
          }; //Shape_White_Table          
          
        visualsLayout1["aa57de70874be6573abb"] = {
        height: 145.85798816568047 +  newheight1,
        y: 506.21301775147924  - 55
          }; //Payout Summary Table
          
        visualsLayout1["e7d39c9bb116d770b670"] = {
        height: 712.1301775147929 +  newheight1  - 55
          }; //Disable_Shape_1
        
        visualsLayout1["140cc6f1ee0cca7e17c0"] = {
        y: 665.9752481280381 + newheight1  - 55 
          }; //Sales VS Goals
          
        visualsLayout1["880dfc670628dd7d7a10"] = {
        y: 667.8116325673974 + newheight1  - 55 
          }; //Sales VS Goals  Trend Card

        visualsLayout1["eb66824ddca14d80e818"] = {
        y: 699.030168036505 + newheight1  - 55 
          }; //Product_Image

        visualsLayout1["5bbc5ff22b60904acd65"] = {
        y: 702.7029369152235 + newheight1  - 55 
          }; //Slicer_SGT         

        visualsLayout1["33100708baab58737648"] = {
        y: 783.629191321499 + newheight1  - 55 
          }; //Chart_SALES/GOALS TREND  
          
        visualsLayout1["b42568f714024e0d0b45"] = {
        y: 646.3510848126232 +  newheight1  - 55
          }; //Disable_Shape_2
          
        visualsLayout1["a176499edc07120530ad"] = {
        y: 750.4489323385644 +  newheight1  - 55
          }; //Disable_Shape_3

        visualsLayout1["b39d44880d7e15905ea7"] = {
        y: 1089.6449704142012 +  newheight1  - 55
          }; //Disable_Shape_4       

        visualsLayout1["e62e6a135d49dcccbea1"] = {
        y: 666.3708086785009 +  newheight1  - 55
          }; //Shape_BG

        visualsLayout1["6d7190b8c8589dce43ca"] = {
        y: 1109.3567063400722 +  newheight1  - 55
          }; //Comments               

 }


 if((newhireflag1 == 0) && (NFT_Flag1 == 1))
        {
           
       visualsLayout1["6e4236d1b042e8023a0c"] = {
                 displayState: {
                 mode: 1
                               }
                                                     };//Table_1 
 
        visualsLayout1["c09d1133a540d9800247"] = {
        y: 330.96681922196797 
          }; //Table_2
          
        visualsLayout1["fd454b13cb407d809093"] = {
        y: 330.96681922196797
          }; //Table_2_Card

        visualsLayout1["c965da433a0520452295"] = {
        height: 450
          }; //White_BG_1   
          
        visualsLayout1["e75946cac00d41e21c29"] = {
        y: 510.6725838264299
          }; //Blue_line2 


        visualsLayout1["ff14421d01b4a90c950e"] = {
        y: 480.6725838264299
          }; //Shape_White_Table          
          
        visualsLayout1["aa57de70874be6573abb"] = {
        height: 145.85798816568047 +  newheight1,
        y: 506.21301775147924  - 70
          }; //Payout Summary Table
          
        visualsLayout1["e7d39c9bb116d770b670"] = {
        height: 712.1301775147929 +  newheight1  - 70
          }; //Disable_Shape_1
        
        visualsLayout1["140cc6f1ee0cca7e17c0"] = {
        y: 665.9752481280381 + newheight1  - 70 
          }; //Sales VS Goals
          
        visualsLayout1["880dfc670628dd7d7a10"] = {
        y: 667.8116325673974 + newheight1  - 70 
          }; //Sales VS Goals  Trend Card

        visualsLayout1["eb66824ddca14d80e818"] = {
        y: 699.030168036505 + newheight1  - 70 
          }; //Product_Image

        visualsLayout1["5bbc5ff22b60904acd65"] = {
        y: 702.7029369152235 + newheight1  - 70 
          }; //Slicer_SGT         

        visualsLayout1["33100708baab58737648"] = {
        y: 783.629191321499 + newheight1  - 70 
          }; //Chart_SALES/GOALS TREND  
          
        visualsLayout1["b42568f714024e0d0b45"] = {
        y: 646.3510848126232 +  newheight1  - 70
          }; //Disable_Shape_2
          
        visualsLayout1["a176499edc07120530ad"] = {
        y: 750.4489323385644 +  newheight1  - 70
          }; //Disable_Shape_3

        visualsLayout1["b39d44880d7e15905ea7"] = {
        y: 1089.6449704142012 +  newheight1  - 70
          }; //Disable_Shape_4       

        visualsLayout1["e62e6a135d49dcccbea1"] = {
        y: 666.3708086785009 +  newheight1  - 70
          }; //Shape_BG

        visualsLayout1["6d7190b8c8589dce43ca"] = {
        y: 1109.3567063400722 +  newheight1  - 70
          }; //Comments               

 }

    let visualsLayout2 = {};
    
    if((Role1.indexOf('OTM')>= 0))
    {
             visualsLayout2["d4cbda186a5a61a57008"] = {
                 displayState: {
                 mode: 1
                               }
                                                     };//Btn_TeamSummary
    }

    if((Role1.indexOf('OTM')< 0))
    {
             visualsLayout2["02130b6ba0cc2403496c"] = {
                 displayState: {
                 mode: 1
                               }
                                                     };//Btn_AccountList
                                                     
}                       

    let visualsLayout3 = {};        
     if(Role1.indexOf('DM')>= 0)
        {
        
        visualsLayout3["5746f23929eba8eac94e"] = {
                displayState: {
                 mode: 1
                               } }; //District Level Summary
                               
        visualsLayout3["3aa773d451bac33b091c"] = {
                displayState: {
                 mode: 1
                               } }; //Territory Level Summary_2         
        
        visualsLayout3["d0dd8e668ec0e120e758"] = {
                displayState: {
                 mode: 1
                               } }; //Slicer_2          
                                

        visualsLayout3["d90cc2a9360ccd2aa5c1"] = {
        y: 231.66332665330663  +50
          }; //Territory Level Summary
        
        visualsLayout3["09090a6e42b48391a257"] = {
        y: 270
          }; //Slicer
                               
        
        visualsLayout3["fb3976f051de89d03ed8"] = {
        y: 681.3627254509018 +50
          }; //Comments

        visualsLayout3["4a87bb8f14c7597d2204"] = {
        y: 676.3627254509018 +50
          }; //Disable_5_Shape             
        
          
        
   
      
        }
        
 if(Role1.indexOf('RBD')>= 0)
        {
        
                               
        visualsLayout3["d90cc2a9360ccd2aa5c1"] = {
                displayState: {
                 mode: 1
                               } }; //Territory Level Summary   
        
        visualsLayout3["09090a6e42b48391a257"] = {
                displayState: {
                 mode: 1
                               } }; //Slicer
    }       
 
 
    /* ===================================== Start of Pass filter in Report  ======================*/

        const filter = [
            {
                $schema: "http://powerbi.com/product/schema#basic",
                target: {
                    table: "T_SC_Emp_Payout_Summary",
                    column: "Report_key_Field"
                },
                operator: "In",
                values:[Report_key_field1],
                filterType: 1,
            }
        ];

    /* ===================================== End of Pass filter in Report  ======================*/

     /* ===================================== Custom layout Setting start  ======================*/
          let Settings = {

                        layoutType: models1.LayoutType.Custom,
                        customLayout:
                        {
                              pageSize: {
                                                      type: models1.PageSizeType.Custom,
                                                      //width: 1605 + 'px',
                                                      height:1200 + newheight1 + 'px'

                                                    }, 
                                                      displayOption: models1.DisplayOption.FitToWidth, 
                        pagesLayout:
                            {
                                ReportSection :{visualsLayout: visualsLayout1},
                                ReportSectioncd354070bd354dbda656: {visualsLayout: visualsLayout2},
                                ReportSectionaca62e866e830a0e7cc3:{visualsLayout: visualsLayout3}
                        }},

                       commands:commands,
                       filterPaneEnabled: false,
                       navContentPaneEnabled: false
           
        };

       console.log("Settings" );
      console.log(Settings ); 

     /* ===================================== Custom layout Setting End  ======================*/
         
          window.onload = function()
    {
        callReport1();
    }
        
    function callReport1()
    {
        var embedConfiguration = 
        {
            type: 'report',
            embedUrl: 'https://app.powerbi.com/reportEmbed?',
            groupId:pbiGroupID,
            id: pbiReportID,
            pageName : pbiEmbed_Details[2],
            filters: filter,
            settings: Settings,
            permissions: models1.Permissions.All,
            viewMode: models1.ViewMode.Read
        };
        powerbi.accessToken = '{!pbiAccessToken}';
        var element = document.getElementById('myReport1');
        report1 = powerbi.embed(element, embedConfiguration);
    }


    /* ===================================== start of Code to log cordinates value in a array  ======================*/

   // Report.on will add an event handler which prints to Log window.
            report1.on("loaded", function() {
                // Get a reference to the embedded report.
                report1 = powerbi.get(element);
                // Retrieve the page collection and get the visuals for the first page.
                report1.getPages()
                    .then(function(pages) {
                        // Retrieve active page.
                        var activePage = pages.filter(function(page) {
                            return page.isActive
                        })[0];

                        activePage.getVisuals()
                            .then(function(visuals) {
                                var filteredMap=visuals.map(function(
                                        visual) {
                                        return {
                                            name: visual
                                                .name,
                                            type: visual
                                                .type,
                                            title: visual
                                                .title,
                                            layout: visual
                                                .layout
                                        };
                                    })

                                console.log(filteredMap);
                            })
                            .catch(function(errors) {
                                console.log("1");
                                console.log(errors);
                            });
                    })
                    .catch(function(errors) {
                        console.log("2");
                        console.log(errors);
                    });

                console.log("Report is loaded");
                //    report.print();

            });

         /* ===================================== end of Code to log cordinates value in a array  ======================*/

    </script>
<style>
    .btn.exportButton1,.btn.exportButton1:hover{
    background-image: url(/resource/1586951123000/SIQIC__ExportToExcel); 
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;  /* equivalent to 'top left' */
    position: absolute;
    top: 13px;
    right: 80px;
    border: none;           /* assuming we dont want any borders */
    cursor: pointer;       
    height: 28px;           /* make this the size of your image */
    padding-left: 20px;     /* make text start to the right of the image */
    vertical-align: middle;
    
    background-size: 28px auto;
    }
</style>

    <div class="slds-scope" id="pdf"  style="visibility:visible">
        <apex:form >
            <apex:commandButton styleclass="exportButton1"  action="{!xlDownloadRpt}" value=""  title="Excel" style="font-size:17px;" id="downloadButton1" oncomplete="window.open('{!preSignedURL1}', '_self'); return false" >
            </apex:commandButton>
            
            <div class="slds-p-top_xx-small slds-p-bottom_x-small"   >
                <a id="j_id0:j_id3:frm:theLink" name="j_id0:j_id3:frm:theLink" href="{!goBackURL}" class="slds-button slds-button_neutral"> {!$Label.SIQIC__Go_back_to_Reports_lbl}</a>
          
        <button class="slds-button slds-button_icon slds-button_icon-brand slds-float_right" title="PDF Download" 
  style="background: #fff; 
  position : absolute;
  right: 30px;
  border: 0px;" 
  onclick="report1.print(); return false;">
  <img src="{!$Resource.SIQIC__pdf_icon}" style="width: 30px;" />
  
</button>
    </div> 
            
    <div id="myReport1"/>
        <input type="hidden" name="currentvfpage" value="{!$CurrentPage.Name}" />
        </apex:form>
    </div>   
</apex:page>