<apex:page controller="PBI_With_Qury_Ctlr"  sidebar="false" action="{!trackReportInst}"   title="Goal Card">
<apex:includeScript value="{!$Resource.PBIJs_New_Min}" />

<style>
    #myReport1 { height:1425px; width:100%; margin:auto; margin-top:25px}
    iframe { border:none; scrolling="no"}
</style>


<script>

    let pbiEmbed_Details       =    '{!pbiEmbedDetails}'.split('/');
    let pbiFilter_Details      =    '{!pbiFilters}'.split(';');
    let pbiWebQury_Result      =    '{!pbiWebQuryRsult}'.split(';');
    
    var pbiGroupID             =     pbiEmbed_Details[0];
    var pbiReportID            =     pbiEmbed_Details[1];
    
    var BU1                    =     pbiFilter_Details[3];
    var Role1                  =     pbiFilter_Details[4];
    var KeyData1               =     pbiFilter_Details[2] + BU1 + Role1 + pbiFilter_Details[5] + pbiFilter_Details[6]

    var models1                =     window['powerbi-client'].models;

    
    console.log('Keydata1 --> ' + KeyData1);
    console.log('Webquery filter---->' + '{!pbiWebQuryRsult}');
     console.log('pbi filter---->' + '{!pbiFilters}');
      console.log('emb filter---->' + '{!pbiEmbedDetails}');
      

    var ProductCount1 ;
    var PSlicer1;
PSlicer1 = pbiWebQury_Result[0];

        
     
   var Reportpagename;
     
   var  newpcount1 = (ProductCount1 -1 );    /*--------------- get product count -------- */
   let newheight1 = (newpcount1 * 22);

   
    
    let visualsLayout1 = {};
    let visualsLayout2 = {};
    let visualsLayout3 = {};
    let visualsLayout4 = {};
    let visualsLayout5 = {};
    
    //==========================Districtlevel-----ONCSC/ONCB===================
    if(( BU1=='National Oncology Breast'  ||  BU1=='National Oncology Supportive Care') &&  (Role1=='DM'))
    {
        visualsLayout3["5ebc59960952c2ee65c5"] = { displayState: { mode: 1 } }; //District button
        visualsLayout3["c6e46eeab02d68c13d96"] = { displayState: { mode: 1 } }; //Region button
        visualsLayout3["2cda4d6728ae20794cc0"] = { displayState: { mode: 1 } }; //TB button
        visualsLayout3["07f117c01eb25b008395"] = { displayState: { mode: 1 } }; //Slicer prodct 
         visualsLayout3["f74205c955456adadda2"] = { displayState: { mode: 1 } }; //Slicer Dist
    }
    
    //==============================================Regionlevel---ONCSC/ONCB====================
    if(( BU1=='National Oncology Breast'  ||  BU1=='National Oncology Supportive Care') &&  Role1=='RBD')
    {
        visualsLayout3["c6e46eeab02d68c13d96"] = { displayState: { mode: 1 } }; //Region button
        visualsLayout3["2cda4d6728ae20794cc0"] = { displayState: { mode: 1 } }; //TB button
        visualsLayout3["07f117c01eb25b008395"] = { displayState: { mode: 1 } }; //terr Slicer prodct 

        visualsLayout4["49f6b2be8b6ec36c07e6"] = { displayState: { mode: 1 } }; //dist Product slicer                                                     
        visualsLayout4["3982b3a02920e4d1254c"] = { displayState: { mode: 1 } }; //TB Product
        visualsLayout4["c6e46eeab02d68c13d96"] = { displayState: { mode: 1 } }; //Region Button
        visualsLayout3["9bf8c4cadbd4882721b7"] = { displayState: { mode: 1 } }; //Slicer Territory
    }

    //==============================================Arealevel---ONCSC/ONCB=================================
    if(( BU1=='National Oncology Breast'  ||  BU1=='National Oncology Supportive Care') &&  (Role1=='NSD'))
    {
        visualsLayout3["68bb80528525a043542b"] = { displayState: { mode: 1 } }; //Summary Button
        visualsLayout3["ce571431dac3874e0859"] = { x: 10  };                    //Team Summary Button
        visualsLayout3["2cda4d6728ae20794cc0"] = { displayState: { mode: 1 } }; //TB ptdct Text
        visualsLayout3["07f117c01eb25b008395"] = { displayState: { mode: 1 } }; //terr Slicer prodct 
        
        visualsLayout4["68bb80528525a043542b"] = { displayState: { mode: 1 } }; //Summary Button
        visualsLayout4["ce571431dac3874e0859"] = { x: 10  };                    //Team Summary Button
        visualsLayout4["49f6b2be8b6ec36c07e6"] = { displayState: { mode: 1 } }; //dist Product slicer 
        visualsLayout4["3982b3a02920e4d1254c"] = { displayState: { mode: 1 } }; //TB Product 
        
        visualsLayout5["68bb80528525a043542b"] = { displayState: { mode: 1 } }; //Summary Button
        visualsLayout5["ce571431dac3874e0859"] = { x: 10  };                    //Team Summary Button
        visualsLayout3["9bf8c4cadbd4882721b7"] = { displayState: { mode: 1 } }; //Slicer Territory
    }
    
    //======================Arealevel---ONCSC/ONCB====================
    if (BU1=='National Rare Disease')
    {
        if (Role1=='NSD')
        {
            visualsLayout3["68bb80528525a043542b"] = { displayState: { mode: 1 } }; //Summary Button
            visualsLayout3["ce571431dac3874e0859"] = { x: 10  };                    //Team Summary Button
            visualsLayout3["9bf8c4cadbd4882721b7"] = { displayState: { mode: 1 } }; //Slicer Territory
        }
        else if (Role1=='DM')
        {
            visualsLayout3["5ebc59960952c2ee65c5"] = { displayState: { mode: 1 } }; //District button
              visualsLayout3["f74205c955456adadda2"] = { displayState: { mode: 1 } }; //Slicer Dist
        }
        visualsLayout3["c6e46eeab02d68c13d96"] = { displayState: { mode: 1 } }; //Region button

        visualsLayout4["68bb80528525a043542b"] = { displayState: { mode: 1 } }; //Summary Button
        visualsLayout4["ce571431dac3874e0859"] = { x: 10  };                    //Team Summary Button
        visualsLayout4["c6e46eeab02d68c13d96"] = { displayState: { mode: 1 } }; //Region Button
                
        visualsLayout5["68bb80528525a043542b"] = { displayState: { mode: 1 } }; //Summary Button
        visualsLayout5["ce571431dac3874e0859"] = { x: 10  };                    //Team Summary Button
    }
    
        
  /*  if(Role1=='RD')
    {
        console.log('Ro:'+ 'Role');
        Reportpagename = 'ReportSection037ec17c02d2bc0c62a1';
                  
        console.log('butotn:'+ 'hide1');
        visualsLayout2["ce7f867bb89d8a9029a5"] = { displayState: { mode: 1 } };//Summry button
    }
     
    //-----------------------------NAT-RD------------
    if(Role1=='NAT-RD')
    {
        console.log('NAT:'+ 'Role');
        Reportpagename = 'ReportSection037ec17c02d2bc0c62a1';
        
        console.log('RDrole:'+ Reportpagename);
    }   
   */
    
    //============================Product slicer =========================
    
    
    let Slicer1 = [{ selector: { $schema: "http://powerbi.com/product/schema#visualSelector", visualName: '07f117c01eb25b008395' },
                     state: { filters: [{
                                      "$schema":"http://powerbi.com/product/schema#basic",
                                      target: { table: "PBI_GC_TS_Details", column: "Product_Name" },
                                      operator: "In", values:[PSlicer1], filterType:1
                                      }]
                            }
                   },
                   { selector: { $schema: "http://powerbi.com/product/schema#visualSelector", visualName: '49f6b2be8b6ec36c07e6' },
                     state: { filters: [{
                                      "$schema":"http://powerbi.com/product/schema#basic",
                                      target: { table: "PBI_GC_TS_Details", column: "Product_Name" },
                                      operator: "In", values:[PSlicer1], filterType:1
                                      }]
                            }
                   }];
                  
   
        
          

    let commands = [{ copy: {displayOption: models1.CommandDisplayOption.Hidden,},
                      seeData: {displayOption: models1.CommandDisplayOption.Hidden,},
                      includeExclude: {displayOption: models1.CommandDisplayOption.Hidden,},
                      drill: {displayOption: models1.CommandDisplayOption.Hidden,},
                      expandCollapse: {displayOption: models1.CommandDisplayOption.Hidden,},
                      sort: {displayOption: models1.CommandDisplayOption.Hidden,},
                      spotlight : {displayOption: models1.CommandDisplayOption.Hidden,}
                    }];

    /* ===================================== Start of Pass filter in Report  ======================*/
    const filter = [{ $schema: "http://powerbi.com/product/schema#basic",
                      target: { table: "PBI_GC_EmpInfo", column: "KeyData1" },
                      operator: "In", values:[KeyData1], filterType: 1
                    },
                    { $schema: "http://powerbi.com/product/schema#basic",
                      target: { table: "SalesForce_Data", column: "Id" },
                      operator: "In", values: [pbiFilter_Details[5]], filterType: 1
                    }];

    /* ===================================== End of Pass filter in Report  ======================*/

    /* ===================================== Custom layout Setting start  ======================*/
    let Settings = {
                        layoutType: models1.LayoutType.Custom,
                        customLayout:
                        {
                            pagesLayout:
                            {
                                ReportSection27c6998020e4ea9c37aa : { visualsLayout: visualsLayout1 },
                                ReportSection037ec17c02d2bc0c62a1 : { visualsLayout: visualsLayout2 },
                                ReportSectionf1fd310c47b0068269c5 : { visualsLayout: visualsLayout3 },
                                ReportSection4500255edde1891450d0 : { visualsLayout: visualsLayout4 },
                                ReportSection6d0c148e910700584716 : { visualsLayout: visualsLayout5 }
                            }
                        },
                       commands:commands,
                       filterPaneEnabled: false,
                       navContentPaneEnabled: false
                   };

       console.log("Settings" );
      console.log(Settings ); 

     /* ===================================== Custom layout Setting End  ======================*/
         window.onload = function()
        {
            callReport1();

        }
        
        function callReport1()
        {
            var embedConfiguration = {
                type: 'report',
                embedUrl: 'https://app.powerbi.com/reportEmbed?',
                groupId:pbiGroupID,
                id: pbiReportID,
                filters: filter,
                //pageName:'ReportSection6d0c148e910700584716', 
                pageName : pbiEmbed_Details[2],
                settings: Settings,
                slicers: Slicer1,
                permissions: models1.Permissions.All,
                viewMode: models1.ViewMode.Read
            };
            powerbi.accessToken = '{!pbiAccessToken}';
            var element = document.getElementById('myReport1');
            report1 = powerbi.embed(element, embedConfiguration);
            report1.off("loaded");


    /* ===================================== start of Code to log cordinates value in a array  ======================*/

   // Report.on will add an event handler which prints to Log window.
            report1.on("loaded", function() {
                // Get a reference to the embedded report.
                report1 = powerbi.get(element);
                // Retrieve the page collection and get the visuals for the first page.
                report1.getPages()
                    .then(function(pages) {
                        // Retrieve active page.
                        var activePage = pages.filter(function(page) {
                            return page.isActive
                        })[0];

                        activePage.getVisuals()
                            .then(function(visuals) {
                                var filteredMap=visuals.map(function(
                                        visual) {
                                        return {
                                            name: visual
                                                .name,
                                            type: visual
                                                .type,
                                            title: visual
                                                .title,
                                            layout: visual
                                                .layout
                                        };
                                    })

                                console.log(filteredMap);
                            })
                            .catch(function(errors) {
                                console.log("1");
                                console.log(errors);
                            });
                    })
                    .catch(function(errors) {
                        console.log("2");
                        console.log(errors);
                    });

                console.log("Report is loaded");
                //    report.print();

            });

         /* ===================================== end of Code to log cordinates value in a array  ======================*/

        }
       
 </script>
 
 <style>
    .btn.exportButton1,.btn.exportButton1:hover{
    background-image: url(/resource/1586951123000/SIQIC__ExportToExcel); 
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;  /* equivalent to 'top left' */
    position: absolute;
    top: 13px;
    right: 80px;
    border: none;           /* assuming we dont want any borders */
    cursor: pointer;       
    height: 28px;           /* make this the size of your image */
    padding-left: 20px;     /* make text start to the right of the image */
    vertical-align: middle;
    
    background-size: 28px auto;
    }
</style>
 
    <div class="slds-scope" id="pdf"  style="visibility:visible">
        <apex:form >
            <apex:commandButton styleclass="exportButton1"  action="{!xlDownloadRpt}" value=""  title="Excel" style="font-size:17px;" id="downloadButton1" oncomplete="window.open('{!preSignedURL1}', '_self'); return false" >
            </apex:commandButton>
            
            <div class="slds-p-top_xx-small slds-p-bottom_x-small"   >
                <a id="j_id0:j_id3:frm:theLink" name="j_id0:j_id3:frm:theLink" href="{!goBackURL}" class="slds-button slds-button_neutral"> {!$Label.SIQIC__Go_back_to_Reports_lbl}</a>
          
        <button class="slds-button slds-button_icon slds-button_icon-brand slds-float_right" title="PDF Download" 
            style="background: #fff; position : absolute; right: 30px; border: 0px;" onclick="report1.print(); return false;">
            <img src="{!$Resource.SIQIC__pdf_icon}" style="width: 30px;" />
        </button>
    </div> 
            
    <div id="myReport1"/>
        <input type="hidden" name="currentvfpage" value="{!$CurrentPage.Name}" />
        </apex:form>
    </div>   
</apex:page>