<apex:page controller="PBI_WO_Qury_Ctlr"  sidebar="false" >
 <apex:includeScript value="{!$Resource.PBIJs_New_Min}" />
<style>

        myReport{
            height:100%;
           width:1300px;
            margin:auto;

        }
        iframe{
            border:none;
            scrolling="no"
        }
  </style>
    <script>



         
     //-----------------------------NAT-RD------------
    
    

    
    
    /*==============================================Districtlevel-----ONCSC/ONCB===================*/
    

    /* ==================================================================================*/
    /*==============================================Regionlevel---ONCSC/ONCB====================*/
    
    
      
         
        
     /*=====================================================*/  
     
     /* =================================BU=RD=================================================*/
     /* ==============================Area=================================================*/
      


    /* ===================================== Start Hide button  ======================*/

    
 
        
                     
         

    /* ===================================== Start of Pass filter in Report  ======================*/


    /* ===================================== End of Pass filter in Report  ======================*/

     /* ===================================== Custom layout Setting start  ======================*/

     /* ===================================== Custom layout Setting End  ======================*/
         window.onload = function()
        {
                    console.log('{!pbiFilters}');
        console.log('{!pbiEmbedDetails}');
        console.log('{!pbiAccessToken}');


        }
        function callReport1()
        {
        //console.log('Report_key_field1 : ' + Report_key_field1);
                   var embedConfiguration = {
                type: 'report',

                embedUrl: 'https://app.powerbi.com/reportEmbed?groupId='

            };
            powerbi.accessToken = '{!pbiAccessToken}';
            var element = document.getElementById('myReport1');
            report1 = powerbi.embed(element, embedConfiguration);
            report1.off("loaded");


    /* ===================================== start of Code to log cordinates value in a array  ======================*/

   // Report.on will add an event handler which prints to Log window.
            report1.on("loaded", function() {
                // Get a reference to the embedded report.
                report1 = powerbi.get(element);
                // Retrieve the page collection and get the visuals for the first page.
                report1.getPages()
                    .then(function(pages) {
                        // Retrieve active page.
                        var activePage = pages.filter(function(page) {
                            return page.isActive
                        })[0];

                        activePage.getVisuals()
                            .then(function(visuals) {
                                var filteredMap=visuals.map(function(
                                        visual) {
                                        return {
                                            name: visual
                                                .name,
                                            type: visual
                                                .type,
                                            title: visual
                                                .title,
                                            layout: visual
                                                .layout
                                        };
                                    })

                                console.log(filteredMap);
                            })
                            .catch(function(errors) {
                                console.log("1");
                                console.log(errors);
                            });
                    })
                    .catch(function(errors) {
                        console.log("2");
                        console.log(errors);
                    });

                console.log("Report is loaded");
                //    report.print();

            });

         /* ===================================== end of Code to log cordinates value in a array  ======================*/

        }
        
        
      </script>
    <apex:form >
    
          <div class="slds-p-top_xx-small slds-p-bottom_x-small"   >
        <button class="slds-button slds-button_neutral slds-float_right" style="margin-right: 77px; " onclick="report1.print(); return false;">
 <span class="slds-button__icon" aria-hidden="true">
 <!--<apex:image value="{!URLFOR($Resource.IC_images, 'export_enabled.png')}" />-->
 </span> Export

 </button>
   <a id="j_id0:j_id3:frm:theLink" name="j_id0:j_id3:frm:theLink" href="aa"
                    class="slds-button slds-button_neutral"  >
        {!$Label.SIQIC__Go_back_to_Reports_lbl}</a>
            </div>

            <div id ="myReport1" style ="height:1100px;box-sizing:border-box;padding-left:50px;padding-right:50px;"/>
            <input type ="hidden" name ="currentvfpage" value ="{!$CurrentPage.Name}" />
        </apex:form>
   </apex:page>