<apex:page controller="DashboardCustomWidgetsCtrl" doctype="html-5.0">
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
<apex:slds />
    <script>
        //This piece of code is to make height of every widget same.
        let widgetsQP = document.getElementsByClassName("widthclass");
        for(let i =0;i<widgetsQP.length;i++){
            widgetsQP[i].children[1].setAttribute('style', 'overflow-y :auto;height:240px');
        }
    </script>
    <div  style="height: 220px">
        <apex:outputPanel rendered="{!dataAvailable}">
            <p style="color:grey;">As of {!payoutPublishDate}</p>
        </apex:outputPanel>
        <div class="slds-grid slds-align_absolute-center" style="height: 200px">
            <div class="slds-size_1-of-3">
                <apex:image url="{!URLFOR($Resource.Dashboard_Widget, 'Dashboard_Widget/images/currency/currency11.jpg')}" width="100%" />
            </div>
            <div class="slds-size_2-of-3" style="text-align: center;">
                <h1 style="font-size: x-large;font-weight: bold;color: green">{!payoutText} </h1>
                <apex:outputPanel rendered="{!dataAvailable}">
                    <h1 style="font-weight: bold;font-size: revert;">{!payout}</h1>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!dataAvailable}">
                    <h1 style="">Data is not available.</h1>
                </apex:outputPanel>
            </div>
        </div>
    </div>
</html>
</apex:page>