<apex:page controller="Home_Page_Message_Ctrl" sidebar="false">
 <apex:slds />
 <div class="slds-scope slds-p-left--x-small slds-p-top--x-small"  style="width:calc(100vw - 40px)">
       <apex:includeScript value=" https://code.jquery.com/jquery-3.3.1.js"/>
       <apex:stylesheet value="{!URLFOR($Resource.dataTables1,'jquery.dataTables.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.dataTables1,'jquery.dataTables.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.dataTables1,'dataTables.fixedColumns.min.js')}" />
<script>

function open2()
{
    window.open('https://daiichi-sankyo-salesiq.my.salesforce.com/servlet/servlet.FileDownload?file=0155e000000Iisb');
}


</script>
<apex:form id="form">
<div > <!-- style="height:200px;" -->
<!-- <apex:pageblock >
 -->
<br/>
<br/>

<apex:outputPanel rendered="{!IF(userType == 'Territory'  ,true,false)}" > <!-- && team_Instance_Name != 'RD' -->
<apex:outputLink style="font-size: 15px;" onclick="open2();" >Account Reopening Tool User Guide - Rep </apex:outputLink>
<br/>
<br/>
<br/>
</apex:outputPanel>
<br/>



<!-- </apex:pageblock> -->
  </div>
</apex:form>
</div>
</apex:page>