<!-- 
@author     : Shivansh Garg(A1450)
@date       : 
@description: Territory Level Report for DSI SalesIQ
@version    : 1.0
-->

<apex:page controller="Territory_Level_Report_Ctrl" title="Territory Level Report" contentType="application/vnd.ms-excel#Territory_Level_Report.xls">
	<apex:slds />    	
	<style>
	  .slds-scope .slds-table td, .slds-scope .slds-table th { padding-right: 20px!important; }
	  .slds-scope .horizontal .slds-form-element__control { clear: none; width: auto; display: inline-block; }

	</style>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<apex:form > 
	
    <br/> <br/>
	<div class="slds-scope">
	<div style="width: calc(100vw - 50px);">
		<table id="table1" class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_col-bordered slds-table_striped slds-border_left slds-border_right" >
			<thead>
				<tr id="tr1">
					<th>District ID - Name</th>
					<th>Territory ID - Name</th>
					<th>Added Targets</th>
					<th>Dropped Targets</th>
					<th>Total Changes</th>
					<th>High Value HCPs removed</th>
				</tr>
			</thead>
			<tbody>
				<apex:repeat value="{!summaryMap}" var="summary">
		            <apex:variable var="count" value="{!1}"/>
		            <apex:repeat value="{!summaryMap[summary]}">
		                <apex:variable var="count" value="{!count + 1}"/>
		            </apex:repeat>
		            <tr id="tr2">
		                <th class="slds-border_left slds-border_right slds-border_top slds-border_bottom" rowspan="{!count}">{!summary}</th>
		            </tr> 
		            
		            <apex:variable value="{!0}" var="totaladdphy"/>
		            <apex:variable value="{!0}" var="totalDropPhy"/>
		            <apex:variable value="{!0}" var="totalTchanges"/>
		            <apex:variable value="{!0}" var="totalHVT"/>
		               
		            <apex:repeat value="{!summaryMap[summary]}" var="summ">
		                <tr id="tr3">
		                    <td class="slds-border_left slds-border_right slds-border_top slds-border_bottom" style="vertical-align: middle;">{!summ.terrID}</td>
		                    <td class="slds-border_left slds-border_right slds-border_top slds-border_bottom" style="vertical-align: middle;">{!summ.addedPhy}</td>
		                    <td class="slds-border_left slds-border_right slds-border_top slds-border_bottom" style="vertical-align: middle;">{!summ.droppedPhy}</td> 
		                    <td class="slds-border_left slds-border_right slds-border_top slds-border_bottom" style="vertical-align: middle;">{!summ.totalChanges}</td>
		                    <td class="slds-border_left slds-border_right slds-border_top slds-border_bottom" style="vertical-align: middle;">{!summ.highValueTarget}</td>
		                    
		                    
		                    <apex:variable value="{!totaladdphy + summ.addedPhy}" var="totaladdphy"/>
		                    <apex:variable value="{!totalDropPhy + summ.droppedPhy}" var="totalDropPhy"/> 
		                    <apex:variable value="{!totalTchanges + summ.totalChanges}" var="totalTchanges"/>
		                    <apex:variable value="{!totalHVT + summ.highValueTarget}" var="totalHVT"/> 
		                   
		                </tr>                
		            </apex:repeat> 
		             <tr>
		                 <td class="slds-border_left slds-border_right slds-border_top slds-border_bottom" style="vertical-align: middle; background: #aae4b4;"  colspan="2" align="right"><b>Total</b></td>
		                 <td class="slds-border_left slds-border_right slds-border_top slds-border_bottom" style="vertical-align: middle; background: #aae4b4;" >{!totaladdphy}</td>
		                 <td class="slds-border_left slds-border_right slds-border_top slds-border_bottom" style="vertical-align: middle; background: #aae4b4;" >{!totalDropPhy}</td> 
		                 <td class="slds-border_left slds-border_right slds-border_top slds-border_bottom" style="vertical-align: middle; background: #aae4b4;" >{!totalTchanges}</td>
		                 <td class="slds-border_left slds-border_right slds-border_top slds-border_bottom" style="vertical-align: middle; background: #aae4b4;" >{!totalHVT}</td>
		                              
		             </tr>                  
		        </apex:repeat>
			</tbody>
		</table>
	</div>
	</div>
	</apex:form> 

</apex:page>