<apex:page controller="DashboardCustomWidgetsCtrl" doctype="html-5.0">
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
<apex:slds />
<apex:includeScript value="{!URLFOR($Resource.Dashboard_Widget, 'Dashboard_Widget/js/jquery.min_1_11_3.js')}" />
<apex:includeScript value="{!URLFOR($Resource.Dashboard_Widget, 'Dashboard_Widget/js/jquery-ui.min_1_10_0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.Dashboard_Widget, 'Dashboard_Widget/js/chart_3_3_2.js')}" />
<apex:includeScript value="{!URLFOR($Resource.Dashboard_Widget, 'Dashboard_Widget/js/chart.min_3_3_2.js')}" />
    
    <script>
        var $j = jQuery.noConflict();
        $j(document).ready(function(e) {

            //This piece of code is to make height of every widget same.
            let widgets = document.getElementsByClassName("widthclass");
            for(let i =0;i<widgets.length;i++){
                widgets[i].children[1].setAttribute('style', 'overflow-y :auto;height:240px');
            }


            let workbenchPublishDate = new Date();
            workbenchPublishDate = String(workbenchPublishDate.getMonth() + 1).padStart(2, '0') + '-' + String(workbenchPublishDate.getDate()).padStart(2, '0') + '-' + workbenchPublishDate.getFullYear();
            $j("#workbenchPublishDate").text("As of "+workbenchPublishDate);

            drawWorkbenchChart();
        });

        function drawWorkbenchChart(){
            let workbenchEventData = '{!JSENCODE(workbenchEventData)}';
            if(workbenchEventData.length>0){
                workbenchEventData = JSON.parse(workbenchEventData);
            }
            
            var workbench_ctx = document.getElementById('workbenchChart').getContext('2d');
            var workbench_Chart = new Chart(workbench_ctx, {
                type: 'bar',
                data: {
                    labels: Object.keys(workbenchEventData),//['New Hire','Transfer','Termination','Promotion'];/*'LOA','LOA Return','In Training'*/
                    datasets: [
                    {
                        type: 'bar', // Type of chart
                        label: 'Count', // legend label
                        data: Object.values(workbenchEventData),//['8','14','10','10'], // data set
                        barPercentage: 0.5,  // thickness of bar in case of bar chart
                        borderColor: "#3e95cd", // color of line in case of line chart
                        backgroundColor: "#89D924", // color of bar in case of bar chart  #3e95cd
                        borderWidth: 1, // thickness of line in case of line chart
                        boxWidth: 2,
                        yAxisID: 'y', // axis used to plot this data set
                        pointStyle: 'circle' // legend icon
                    }
                    ]
                },
                options: {
                    responsive: true,
                   /* title:{
                        font:{
                            weight: 'bold',
                            size: 50,
                            color: '#666',
                        }
                    },*/
                    interaction: {
                      mode: 'index',
                      intersect: false,
                    },
                    stacked: false,
                    plugins: {
                      title: {
                        display: true,
                        text: 'Events vs Employees',
                        fontSize: 16
                      },
                      legend: {
                        display: false,
                        /*position:'bottom',
                        labels: {
                            usePointStyle: true,
                            boxWidth: '5',
                        }*/
                      }
                    },
                    scales: {
                        x: {
                            grid: {
                              display: false,
                            },
                        },
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                        },
                    }
                },
            });

        }
    </script>
    <div class="" style="height: 220px"><!-- slds-align_absolute-center -->
        <div>
            <p id="workbenchPublishDate" style="color:grey;"></p>
        </div>
        <div>
            <canvas id="workbenchChart" style="max-height: 200px"></canvas>
        </div>
        <div>
           <!--  <p>{!$Label.Workbench_Event_Footer}</p> -->
        </div>
    </div>
</html>
</apex:page>